<% @bank_questions.each do |bank_question| %>
  <div class="accordion" id="accordion">
    <div class="card">
      <div class="card-header" id="heading">
        <h2 class="mb-0">
          <button class="text-2xl font-bold list-none" type="button" data-toggle="collapse" data-target="#collapse<%= bank_question.id %>" aria-expanded="false" aria-controls="collapse<%= bank_question.id %>">
            <%= bank_question.title %>
          </button>
        </h2>
      </div>
      <div id="collapse<%= bank_question.id %>" class="collapse" aria-labelledby="heading" data-parent="#accordion">
        <div class="card-body">
          <%= bank_question.answer %>
        </div>
      </div>
    </div>
  </div>
<% end %>
