<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-info mt-2">
          <div class="card-header">
            <h2 class="card-title">Frequently Asked Questions</h2>
          </div>
          <div class="card-body p-4">
            <ul class="list-inside my-2 list-decimal space-y-5">
              <%= form_for_filterrific @filterrific, remote: true do |f| %>
                <div class="row flex-row justify-content-between align-items-center">
                  <div class='col-3'>
                    <%= f.label :search_title, "Search By Question" %>
                    <%= f.text_field(:search_title, class: 'filterrific-periodically-observed form-control') %>
                  </div>
                  <div class="col-3">
                    <%= render_filterrific_spinner %>
                  </div>
                </div>
              <% end %>
              <div id="filterrific_results">
                <%= render(partial: 'bank_questions', locals: { bank_questions: @bank_questions }) %>
              </div>
              <li class='text-2xl font-bold list-none'>Have suggestions to help improve the app or other questions about the app? Please <a href="https://human-essential.slack.com/archives/CG1NL2MRC"><u class='text-blue-400'>reach out on Slack.</u></a></li>
              <li class='text-2xl font-bold list-none'>Not a member of the Human Essentials Slack group? <a href="https://join.slack.com/t/human-essential/shared_invite/zt-bfa8tymd-d8Ks3Mq000COcRe~nfs~zg"><u class='text-blue-400'>Request a login.</u></a></li>
              <li class='text-2xl font-bold list-none'>Still need help? Submit a support ticket <u><%= link_to 'here', support_ticket_form_url, target: '_blank', class: 'text-blue-400' %></u> and we will do our best to follow up with you via email.</li>
            </ul>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
