<%= form.fields_for :item_requests, defined?(object) ? object : nil  do |field| %>
  <tr>
    <td><%= field.select :item_id, @requestable_items, {include_blank: 'Select an item'}, {class: 'form-control'} %></td>
    <td><%= field.number_field :quantity, label: false, step: 1, min: 1, class: 'form-control' %></td>
    <td>
      <%= field.hidden_field :_destroy, as: :hidden %>
      <%= remove_item_button "Remove", soft: true %>
    </td>
  </tr>
<% end %>
