<div>
	<% @confirmed_items.each do |item|  %>
		Are you sure you would need 
		<div>
              <span class='text-2xl font-bold'>Requested Items:</span>
              <ul class='text-lg'>
                  <li><%= item.values.first %> of <%= item.keys.first %></li>?
              </ul>
            </div>
        	<% end %>
</div>


<div class="card-footer">
    <div class="card mb-4">
          <%= form_with(url: partners_requests_path(partners_request: @confirm_request_params), method: 'post') do %>
            <div class="card-footer">
              <%= submit_tag("Yes, I want to submit this Request", class: "btn btn-primary") %>
              <%= link_to "Cancel Request", partners_requests_path, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
</div>