<section class="d-flex flex-column align-items-center py-4">
  <div class="card shadow mx-auto" style="width: 40rem;">
    <div class="card-body">
      <h1 class="text-center">Request Summary</h1>
      <hr>
      <% @items.each do |item_name, quantity| %>
        <p class="card-text">
          <strong><%= item_name %></strong><br>
          Quantity: <%= quantity %>
        </p>
        <hr>
      <% end %>
      <div class="my-3">
        <p class="card-text"><strong>Your comments:</strong> <%= @partner_request['comments'] %></p>
      </div>
      <h3>Please confirm that the above list is what you meant to request</h3>
      <div class="d-flex justify-content-between align-items-center mt-4">
        <%= link_to 'No, I need to change something.', 'javascript:history.back()', rel: 'nofollow', class: "btn btn-danger" %>
        <%= link_to "Yes, it's right", partners_requests_path(request: @partner_request, organization_id: current_partner.organization.id), method: :post, rel: 'nofollow', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</section>

