

<% unless org_is_set_up %>

  <%= render(
    "shared/card",
    id: "getting-started-guide",
    header: "Getting Started",
    type: :plain,
  ) do %>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary" id="getting-started-guide">
          <div class="box-header with-border">
            <h5>
              Here are a few steps to help you in getting started
            </h5>
          </div>

          <hr>

          <div>
            <ul>
                <li>
                    <%= link_to "Set up storage locations", storage_locations_path, target: :_blank %>
                </li>
                <li>
                    Set up your inventory
                    <ul>
                        <li>
                            <%= link_to "Add any custom items", items_path, target: :_blank %>
                        </li>
                        <li>
                            <%= link_to "Do an audit to set up your current inventory levels", audits_path, target: :_blank %>
                            -
                            <%= link_to "(User guide)", "https://rubyforgood.github.io/human-essentials/user_guide/bank/getting_started_inventory.html", target: :_blank %>
                        </li>
                    </ul>
                </li>
                <li>
                    <%= link_to "Customize your organization", edit_organization_path, target: :_blank %>
                    -
                    <%= link_to "(User guide)", "https://rubyforgood.github.io/human-essentials/user_guide/bank/getting_started_customization.html", target: :_blank %>
                </li>
                <li>
                    <%= link_to "Add other users at your bank", new_user_path, target: :_blank %>
                </li>
                <li>
                    <%= link_to "Import Partners", partners_path, target: :_blank %>
                    or
                    <%= link_to "Add a single partner", new_partner_path, target: :_blank %>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <p>When you're done, click this box to hide this section</p>
      <%= button_to "Dismiss", "/manage", method: :patch, params: {organization: { bank_is_set_up: true }}, class: "btn btn-primary" %>
    </div>

  <% end %>
<% end %>
