<%= render(
  "shared/card",
  id: "low_inventory",
  gradient: "info",
  title: "Bank-wide Low inventory"
) do %>
  <% if @low_inventory_report.count == 0 %>
    <p>Inventory is at recommended levels (minimum and recommended levels can be set on each item)</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Minimum Quantity</th>
          <th>Recommended Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @low_inventory_report.each do |inventory_item| %>
          <tr>
            <td><%= inventory_item["name"] %></td>
            <td>
              <% if inventory_item["total_quantity"] < inventory_item["on_hand_minimum_quantity"] %>
                <strong class="text-red" title="Below minimum quantity"><%= inventory_item["total_quantity"] %></strong>
              <% else %>
                <%= inventory_item["total_quantity"] %>
              <% end %>
            </td>
            <td><%= inventory_item["on_hand_minimum_quantity"] %></td>
            <td><%= inventory_item["on_hand_recommended_quantity"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
