<%= render partial: "dashboard_header"%>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= render partial: "distribution_card"%>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= render partial: "purchase_card"%>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render partial: "donation_card"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= render partial: "diaper_drive_card"%>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= render partial: "manufacturer_card"%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <% if Flipper.enabled?(:itemized_distributions, current_user) %>
          <div class="card">
            <div class="card-header border-0 bg-gradient-success">
              <h3 class="card-title">Itemized Distributions
                <small><%= @selected_date_range %></small></h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <%= fa_icon 'minus' %>
                </button>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <%= render partial: "itemized_partial", object: @itemized_distributions, as: :item_to_itemize %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-6 col-xs-12">
        <% if Flipper.enabled?(:itemized_donations, current_user) %>
          <div class="card">
            <div class="card-header border-0 bg-gradient-warning">
              <h3 class="card-title">Itemized Donations
                <small><%= @selected_date_range %></small></h3>
              <div class="card-tools">
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <%= render partial: "itemized_partial", object: @donations, as: :item_to_itemize %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
