<section class="content-header">
  <% content_for :title, "Dashboard - #{current_organization.name}" %>
  <h1>
    Dashboard
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <li class="active"><%= current_organization.name %></li>
  </ol>
</section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <%= render partial: "getting_started_prompt", locals: { org_stats: @org_stats } %>

    <div class="col-md-12">
      <div id="summary" class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= current_organization.name %></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-xlg 7 col-md-7 col-sm-12">
            <div class="logo">
              <%== display_logo_or_name %>
            </div>
          </div>
          <div class="col-xlg-3 col-xlg-offset-2 col-md-5 col-sm-12">
            <div class="text-center">
              <h3 class="text-center"><%= total_on_hand(@total_inventory) %> items on-hand</h3>

              <div class="inventory-actions">
                  <%= new_button_to new_transfer_path, { text: "Make a transfer", size: "xs" } %>
                  <%= new_button_to new_adjustment_path, { text: "Make an adjustment", size: "xs" } %>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="box-header with-border bg-gray">
        <section id="filters">
          <div class="box-body">
              <%= simple_form_for :dashboard_filter, url: dashboard_path(current_organization), remote: true, method: :get do |f| %>
                <div class="form-group col-md-offset-10 col-md-2 col-sm-offset-6 col-sm-6 col-xs-12">
                  <label for="interval">Date Range</label>
                  <%= f.select :interval, filter_intervals, { selected: selected_interval }, class: "form-control" %>
                </div>
              <% end %>
            </div>
        </section><!-- /#filters -->
      </div>

      <div class="row">
        <div class="col-md-6">
          <div id="distributions" class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Distribution</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center float-center">
              <%= new_button_to new_distribution_path, { text: "New Distribution" } %>
              <h3 class="text-center"><%= total_distributed %> items distributed <%= display_interval %></h3>
              <div class="box-body">
                <h4>Recent distributions</h4>
                <%= render partial: "distribution", collection: @recent_distributions, as: :distribution %>
              </div>
            </div>
            <div class="box-footer text-center">
              <%= link_to "See more...", distributions_path %>
            </div>
          </div>
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Activity</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center">
              <h5 class="text-center">Activity <%= display_interval %></h5>
              <%= bar_chart received_distributed_data %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="donations" class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Donations</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center float-center">
              <span class="float-center text-center">
                  <div class="dropdown">
                    <%= dropdown_button "dropdownMenu1", { text: "New Inventory", size: "lg" } %>
                    <ul class="dropdown-menu float-center" style="text-align:center;margin-left: 190px;" aria-labelledby="dropdownMenu1">
                     <li class="center-block">
                      <%= view_button_to donations_path, { text: "All Donations", type: '', size: "md" } %>
                    </li>
                     <li class="center-block">
                      <%= new_button_to new_donation_path, { text: "New Donation", type: '', size: "md" } %>
                    </li>
                     <li class="center-block">
                      <%#= new_button_to scale_donations_path, { text: "Repackaged Donation", type: '', size: "md" } %>
                    </li>
                    </ul>
                </div>
              </span>
              <h3 class="text-center"><%= total_received_donations %> items received <%= display_interval %></h3>
              <h3 class="text-center">$<%= total_received_money_donations %> raised  <%= display_interval %></h3>
              <div class="box-body">
                <h4>Recent donations</h4>
                <%= render partial: "donation", collection: @recent_donations, as: :donation %>

              </div>
            </div>
            <div class="box-footer text-center">
                <%= link_to "See more...", donations_path %>
              </div>
          </div>
          <div id="diaper_drives" class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Diaper Drives</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center float-center">
              <h3 class="text-center"><%= @recent_donations.by_source(:diaper_drive).map(&:diaper_drive_participant).uniq.size %> Diaper Drive Participants <%= display_interval %> for a total of <%= total_received_from_diaper_drives %> items collected</h3>
            </div>
            <div class="box-body">
              <div class="box-body text-center float-center">
              <h4>Recent Donations from Diaper Drives</h4>
              <%= render partial: "diaper_drive", collection: @recent_donations.by_source(:diaper_drive), as: :donation %>
              </div>
            </div>
            <div class="box-footer text-center">
              <%= link_to "See more...", donations_path(
                filters: {
                  by_source: "Diaper Drive"
                }) %>
            </div>
          </div>
          <div id="manufacturers" class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Manufacturer Donations</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center float-center">
              <h3 class="text-center"><%= number_with_delimiter(@recent_donations_from_manufacturers.sum { |d| d.line_items.total }) %> items donated <%= display_interval %> by <%= pluralize(@recent_donations_from_manufacturers.group_by(&:manufacturer).count, 'Manufacturer') %></h3>
            </div>
            <div class="box-body">
              <div class="box-body text-center float-center">
                <h4>Top Manufacturer Donations</h4>
                <%= render partial: "manufacturer", collection: @top_manufacturers, as: :manufacturer %>
              </div>
            </div>
            <div class="box-footer text-center">
              <%= link_to "See more...", donations_path(
                filters: {
                  by_source: "Manufacturer"
                }) %>
            </div>
          </div>
          <div id="purchases" class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Purchases</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body text-center float-center">
              <span class="float-center text-center">
                <div class="dropdown">
                    <%= dropdown_button "dropdownMenu2", { text: "New Inventory", size: "lg" } %>
                    <ul class="dropdown-menu float-center" style="text-align:center;margin-left: 190px;" aria-labelledby="dropdownMenu2">
                     <li class="center-block">
                      <%= view_button_to purchases_path, { text: "All Purchases", type: '', size: "md" } %>
                    </li>
                     <li class="center-block">
                      <%= new_button_to new_purchase_path, { text: "New Purchase", type: '', size: "md" } %>
                    </li>
                    </ul>
                </div>
              </span>
              <h3 class="text-center"><%= total_purchased %> items received <%= display_interval %></h3>
              <div class="box-body">
                <h4>Recent purchases</h4>
                <%= render partial: "purchase", collection: @recent_purchases, as: :purchase %>
              </div>
            </div>
            <div class="box-footer text-center">
              <%= link_to "See more...", purchases_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
