<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= current_organization.name %> - Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
          <li class="breadcrumb-item active"><%= current_organization.name %></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render(
          "shared/card",
          id: "summary",
          header: content_tag(:h5, current_organization.name, class: "card-title"),
          footer: capture { %>
            <div class="row">
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <%= simple_form_for :filters, url: dashboard_path(current_organization), method: :get do |f| %>
                    <%= render partial: "shared/date_range_picker", locals: {css_class: "form-control"} %><br>
                    <%= filter_button %>
                  <% end %>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <h3>Items on-hand:</h3>
                  <h5 style="color:purple" class="total_inventory"><%= total_on_hand(@total_inventory) %> </h5>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <%= new_button_to new_transfer_path, {text: "Make a transfer", size: "md"} %>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block">
                  <%= new_button_to new_adjustment_path, {text: "Make an adjustment", size: "md"} %>

                </div>
              </div>
            </div>
          <% },
          type: :plain,
        ) do %>
          <div class="row">
            <%= render partial: "getting_started_prompt", locals: {org_stats: @org_stats} %>

            <div class="col-md-8">
              <%== display_logo_or_name %>
            </div>
            <!-- /.col -->
            <div class="col-md-4">

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <% if @broadcast_announcements.any? %>
          <div class="shared/card" id="distributions">
            <div class="card-header border-0 bg-gradient-warning">
              <h3 class="card-title">Announcements
                <small>from Human Essentials</small></h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <% @broadcast_announcements.each do |announcement| %>
                  <li class="list-group-item">
                    <strong><%= if announcement.created_at.strftime("%Y") == DateTime.now.strftime("%Y")
                                  announcement.created_at.strftime("%B %d")
                                else
                                  announcement.created_at.strftime("%B %d %Y")
                                end %></strong>
                    <br />
                    <%= announcement.message %>
                    <% unless announcement.link == '' %>
                      <br />
                      <a href="<%= announcement.link %>" class="btn btn-primary">more info</a>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <%=
          outstanding_type = @outstanding_requests.empty? ? :box : :table
          outstanding_footer =
            if @outstanding_requests.count > 25
              "And #{@outstanding_requests.count - 25} more..."
            else
              "See more..."
            end
          render(
            "shared/card",
            id: "outstanding",
            gradient: "warning",
            title: "Outstanding Requests",
            type: outstanding_type,
            footer: link_to(outstanding_footer, requests_path),
            footer_options: { class: "text-center" },
          ) do
            if @outstanding_requests.empty?
              "No outstanding requests!"
            else
              render "outstanding_requests",
                outstanding_requests: @outstanding_requests.take(25)
            end
          end
        %>

        <%= render(
          "shared/card",
          gradient: "warning",
          title: "Activity",
          subtitle: @selected_date_range,
        ) do %>
          <div class="box-body">
            <div class="box-body text-center">
              <h5 class="text-center"></h5>
              <%
                  activity_chart_config = {
                    chart: {
                      type: "bar"
                    },
                    title: "",
                    xAxis: {
                      categories: @distribution_data.keys,
                      title: {
                        text: nil
                      }
                    },
                    yAxis: {
                      title: {
                        text: nil
                      }
                    },
                    legend: {
                      enabled: false
                    },
                    series: [
                      {
                        data: @distribution_data.values
                      }
                    ]
                  }.to_json
                %>
              <div data-controller="highchart" data-highchart-config-value="<%= activity_chart_config %>" >
                <div data-highchart-target="chart"></div>
              </div>

            </div>
          </div>
        <% end %>

      </div>
      <div class="col-lg-6">
        <%= render(
          "shared/card",
          id: "partner_approvals",
          title: "Partner Approvals",
          class: "wide-table",
          type: @partners_awaiting_review.blank? ? :box : :table
        ) do %>
          <% if @partners_awaiting_review.present? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Partner Name</th>
                  <th>Primary Contact Name</th>
                  <th>Primary Contact Email</th>
                  <th>Review Requested</th>
                  <th>Action</th>
                </tr>
              </thead>
              <% @partners_awaiting_review.each do |partner| %>
                <tr>
                  <td><%= partner.name %></td>
                  <td><%= partner.profile.primary_contact_name %></td>
                  <td><%= partner.profile.primary_contact_email %></td>
                  <td><%= partner.updated_at.strftime("%B %d %Y") %></td>
                  <td>
                    <%= view_button_to partner_path(partner) + "#partner-information", { text: "Review Application", icon: "check", type: "warning", class: 'badge' } %>
                  </td>
                </tr>
              <%end%>
            </table>
          <% else %>
            No partners waiting for approval
          <% end %>
        <% end %>

        <%= render(
          "shared/card",
          id: "product_drives",
          gradient: "info",
          title: "Product Drives",
          subtitle: @selected_date_range,
          footer_options: { class: "text-center" },
          footer: link_to("See more...", donations_path(
              filters: {
                by_source: "Product Drive"
              }
            )),
        ) do %>
          <h3 class="text-center">
            <span class="total_received_donations">
              <%= total_received_from_product_drives %>
            </span> items
            received <%= @selected_date_range_label %>
          </h3>
          <h4 class="text-center">
            <span class="total_money_raised">
              <%= dollar_presentation( total_received_money_donations_from_product_drives) %>
            </span> raised  <%= @selected_date_range_label %>
          </h4>
          <div class="box-body">
            <h4>Recent Donations from Product Drives</h4>
            <%= render partial: "product_drive", collection: @recent_donations.by_source(:product_drive), as: :donation %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
