<section class="content-header">
  <% content_for :title, "#{current_organization.name} - Dashboard" %>
  <h1>
    Dashboard
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <li class="active"><%= current_organization.name %></li>
  </ol>
</section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- AREA CHART -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= current_organization.name %></h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-9">
            <div class="logo">
              <%== display_logo_or_name %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="filter">
              <h3>Select Time Frame</h3>
              <%= simple_form_for :dashboard_filter, url: dashboard_path(current_organization), remote: true, method: :get do |f| %>
                <%= f.select :interval, filter_intervals, selected: selected_interval %>
              <% end %>
            </div>
          </div>          
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>  

      <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Distribution</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <button class='btn btn-large btn-primary center-block' href='<%= new_distribution_path %>'>New Distribution</button>
                <h3 class="text-center"><%= total_distributed %> items distributed <%= display_interval %></h3>
                <h4>Recent distributions</h4>
                <%= render partial: "distribution", collection: @recent_distributions, as: :distribution %>
                <%= link_to "See more...", distributions_path %>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Distributions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <h5 class="text-center">Distribution <%= display_interval %></h5>
              <%= bar_chart received_distributed_data %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Donations</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
              <span class="float-center text-center">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle center-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">New Inventory
                  <span class="caret"></span></button>

                <ul class="dropdown-menu center-block" aria-labelledby="dropdownMenu1">
                  <li class="center-block"><a href="<%= donations_path %>">All Donations</a></li>
                  <li class="center-block"><a href="<%= new_donation_path %>">New Donation</a></li>
                  <li class="center-block"><a href="<%= scale_donations_path %>">Repackaged Donation</a></li>        
                </ul>
              </div>
              </span>
              <h3 class="text-center"><%= total_received %> items received <%= display_interval %></h3>
              <h4>Recent donations / purchases</h4>
              <%= render partial: "donation", collection: @recent_donations, as: :donation %>
              <%= link_to "See more...", donations_path %>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Items on Hand</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <h5 class="text-center">Item categories on hand <%= display_interval %></h5>
                <%= pie_chart pie_chart_data, legend: "right" %> 
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->

    </section>