<div class="row">
  <div class="col-md-6">
    <!-- /.box-header -->
    <h2 class='text-2xl underline'>Agency Information</h2>
    <%# The field for inputting the name registers it as partner.name,  %>
    <%# not partner_profile.name, so this pulls from partner.name %>
    <p>Name: <%= @partner.name %></p>
    <p>Agency Type: <%= partner_profile.agency_type %>
    <% if partner_profile.agency_type == "Other" && partner_profile.other_agency_type %>
      (<%= partner_profile.other_agency_type %>)
    <% end %>
    </p>
    <p>Proof of Agency Status
    <% if partner_profile.proof_of_partner_status.attached? %>
      <!-- NOTE: The actual download link may not work in local storage mode due to file locations being seperate locally. -->
      (Link): <%= link_to partner_profile.proof_of_partner_status.filename, rails_blob_path(partner_profile.proof_of_partner_status, disposition: 'inline') %>
  <% end %>
    </p>
    <p>Agency Mission: <%= partner_profile.agency_mission %></p>
    <p>Address Line 1: <%= partner_profile.address1 %></p>
    <p>Address Line 2: <%= partner_profile.address2 %></p>
    <p>City: <%= partner_profile.city %></p>
    <p>State: <%= partner_profile.state %></p>
    <p>Zip Code: <%= partner_profile.zip_code %></p>
    <br>
    <br>
    <% if partner_profile.program_address1.present? || partner_profile.program_address2.present? || partner_profile.program_city.present? || partner_profile.program_state.present? || partner_profile.program_zip_code.present? %>
      <h3>Program / Delivery Address (if different)</h3>
      <p>Program Address: <%= partner_profile.program_address1 %></p>
      <p>Program Address: <%= partner_profile.program_address2 %></p>
      <p>Program City: <%= partner_profile.program_city %></p>
      <p>Program State: <%= partner_profile.program_state %></p>
      <p>Program Zip Code: <%= partner_profile.program_zip_code %></p>
      <br>
    <% end %>

    <% if partner_profile_fields.include?('media_information') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Media Information</h2>
      <p>Website: <%= partner_profile.website %></p>
      <p>Facebook: <%= partner_profile.facebook %></p>
      <p>Twitter: <%= partner_profile.twitter %></p>
      <p>Instagram: <%= partner_profile.instagram %></p>
      <p>No Social Media Presence: <%= humanize_boolean(partner_profile.no_social_media_presence) %></p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('agency_stability') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Agency Stability</h2>
      <p>Founded <%= partner_profile.founded %></p>
      <p>Form 990: <%= humanize_boolean(partner_profile.proof_of_form_990.attached?) %></p>
      <p>Form 990
      <% if partner_profile.proof_of_form_990.attached? %>
        <!-- NOTE: The actual download link may not work in local storage mode due to file locations being seperate locally. -->
        (Link): <%= link_to partner_profile.proof_of_form_990.filename, rails_blob_path(partner_profile.proof_of_form_990, disposition: 'attachment') %>
    <% end %>
      </p>
      <p>Program Name(s): <%= partner_profile.program_name %></p>
      <p>Program Description(s): <%= partner_profile.program_description %></p>
      <p>Program Age: <%= partner_profile.program_age %></p>
      <p>Case Management: <%= humanize_boolean_3state(partner_profile.case_management) %></p>
      <p>Evidence Based: <%= humanize_boolean_3state(partner_profile.evidence_based) %></p>
      <p>How Are Essentials (e.g. diapers, period supplies) Used In Your Program? <%= partner_profile.essentials_use %></p>
      <p>Do You Receive Essentials from Other Sources? <%= partner_profile.receives_essentials_from_other %></p>
      <p>Currently Providing Diapers: <%= humanize_boolean_3state(partner_profile.currently_provide_diapers) %></p>
    <% end %>
    <% if partner_profile_fields.include?('organizational_capacity') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Organizational Capacity</h2>
      <p>Client Capacity: <%= partner_profile.client_capacity %></p>
      <p>Storage Space: <%= humanize_boolean_3state(partner_profile.storage_space) %></p>
      <p>Storage Space Description: <%= partner_profile.describe_storage_space %></p>
      <br>
    <% end %>

    <% if partner_profile_fields.include?('area_served') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Area Served</h2>
      <table>
        <th class="county-heading">County</th><th class="county-heading">% of Clients in county</th>

        <% served_area_col = Partners::ServedArea.where(partner_profile: partner_profile) %>
        <% if served_area_col.any? %>
          <%= render partial: "partners/profiles/show/served_area_row", collection: served_area_col %>
        <% else %>
          <tr><td class="county-name"><%= "No County Specified" %></td><td class="client-share percent">100%</td></tr>
        <% end %>
      </table>
      <br>
    <% end %>

    <% if partner_profile_fields.include?('population_served') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Population Served</h2>
      <p>Income Requirement: <%= humanize_boolean_3state(partner_profile.income_requirement_desc) %></p>
      <p>Income Verification: <%= humanize_boolean_3state(partner_profile.income_verification) %></p>
      <br>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if partner_profile_fields.include?('population_served') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Race/Ethnicity of Client Base</h2>
      <p>African American: <%= partner_profile.population_black %></p>
      <p>Caucasian: <%= partner_profile.population_white %></p>
      <p>Hispanic: <%= partner_profile.population_hispanic %></p>
      <p>Asian: <%= partner_profile.population_asian %></p>
      <p>American Indian: <%= partner_profile.population_american_indian %></p>
      <p>Pacific Island: <%= partner_profile.population_island %></p>
      <p>Multi-Racial: <%= partner_profile.population_multi_racial %></p>
      <p>Other: <%= partner_profile.population_other %></p>
      <br>
      <h3>Zip Codes Served</h3>
      <p>Zips: <%= partner_profile.zips_served %></p>
      <br>
      <h3>Poverty Information of Those Served</h3>
      <p>At FPL or Below: <%= partner_profile.at_fpl_or_below %></p>
      <p>Above 1-2 times
      FPL: <%= partner_profile.above_1_2_times_fpl %></p>
      <p>Greater 2 times
      FPL: <%= partner_profile.greater_2_times_fpl %></p>
      <p>Poverty Unknown: <%= partner_profile.poverty_unknown %></p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('executive_director') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Executive Director</h2>
      <p>Executive Director Name: <%= partner_profile.executive_director_name %></p>
      <p>Executive Director Phone: <%= partner_profile.executive_director_phone %></p>
      <p>Executive Director Email: <%= partner_profile.executive_director_email %></p>
      <br>
      <h2 class='text-2xl underline'>Primary Contact Person</h2>
      <p>Primary Contact Name: <%= partner_profile.primary_contact_name %></p>
      <p>Primary Contact Phone: <%= partner_profile.primary_contact_phone %></p>
      <p>Primary Contact Mobile: <%= partner_profile.primary_contact_mobile %></p>
      <p>Primary Contact Email: <%= partner_profile.primary_contact_email %> </p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('pick_up_person') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Pick Up Person</h2>
      <p>Pick Up Name: <%= partner_profile.pick_up_name %></p>
      <p>Pick Up Phone: <%= partner_profile.pick_up_phone %></p>
      <p>Pick Up Email: <%= partner_profile.pick_up_email %></p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('agency_distribution_information') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Agency Distribution Information</h2>
      <p>Distribution Times: <%= partner_profile.distribution_times %> </p>
      <p>New Client Times: <%= partner_profile.new_client_times %></p>
      <p>More Docs Required: <%= partner_profile.more_docs_required %></p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('sources_of_funding') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Sources of Funding</h2>
      <p>Sources of Funding: <%= partner_profile.sources_of_funding %></p>
      <p>Sources of Diapers: <%= partner_profile.sources_of_diapers %> </p>
      <p>Essentials Budget:<%= partner_profile.essentials_budget %></p>
      <p>Essentials Funding Source: <%= partner_profile.essentials_funding_source %></p>
      <br>
    <% end %>
    <% if partner_profile_fields.include?('attached_documents') || partner_profile_fields.empty? %>
      <h2 class='text-2xl underline'>Other Documents</h2>
        <% partner_profile.documents.each do |document| %>
          <p><%= link_to document.filename, rails_blob_path(document, disposition: 'inline') %></p>
        <% end %>
        <br>
    <h2 class='text-2xl underline'>Settings</h2>
        <% if partner_profile.organization.enable_child_based_requests? %>
          <p>Uses Child Based Requests: <%= humanize_boolean(partner_profile.enable_child_based_requests) %></p>
        <% end %>
        <% if partner_profile.organization.enable_individual_requests? %>
          <p>Uses Individual Requests: <%= humanize_boolean(partner_profile.enable_individual_requests) %></p>
        <% end %>
        <% if partner_profile.organization.enable_quantity_based_requests? %>
          <p>Uses Quantity Based Requests: <%= humanize_boolean(partner_profile.enable_quantity_based_requests) %></p>
        <% end %>
      <br>
<% end %>
<!-- /.box -->
</div>
