<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <% content_for :title, "Editing - #{@partner.name}" %>
        <h1><i class="fa fa-edit"></i>&nbsp;&nbsp;Editing Partner - <%= @partner.name %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-transparent">
          <%= simple_form_for @partner, url: profile_path,
            data: { controller: "form-input" },
            html: {role: 'form', class: 'form-horizontal'} do |form| %>
            <%= form.simple_fields_for :profile, @partner.profile do |profile_form| %>
              <div class="row">
                <div class="col-6">
                  <%= render partial: "partners/profiles/edit/agency_information",
                             locals: {form: form, partner: @partner, profile: @partner.profile, profile_form: profile_form} %>
                </div>
                <% @partner.partials_to_show.each do |partial| %>
                  <div class="col-6">
                    <%= render partial: "partners/profiles/edit/#{partial}",
                               locals: {form: profile_form, f: profile_form, partner: @partner, profile: @partner.profile} %>
                  </div>
                <% end %>
                <div class="col-6">
                  <%= render partial: "partners/profiles/edit/partner_settings", locals: {form: profile_form } %>
                </div>
              <% end %>
            </div>
            <div class="card-footer">
              <%= form.submit("Update Information", class: "btn btn-primary") %>
              <%= link_to "Cancel Update", partner_path(@partner), class: "btn btn-danger float-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
