<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <% content_for :title, "Editing - #{@partner.name}" %>
        <h1><i class="fa fa-edit"></i>&nbsp;&nbsp;Editing Partner - <%= @partner.name %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-transparent">
          <%= simple_form_for @partner, url: profile_path, html: {role: 'form', class: 'form-horizontal'} do |f| %>
            <div class="row">
              <div class="col-6">
                <%= render partial: "partners/profiles/edit/agency_information", locals: {f: f, partner: @partner} %>
              </div>
              <% @partner.partials_to_show.each do |partial| %>
                <div class="col-6">
                  <%= render partial: "partners/profiles/edit/#{partial}", locals: {f: f, partner: @partner} %>
                </div>
              <% end %>
              <div class="col-6">
                <%= render partial: "partners/profiles/edit/partner_settings", locals: {f: f, partner: @partner} %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit("Update Information", class: "btn btn-primary") %>
              <%= link_to "Cancel Update", partner_path(@partner.partner), class: "btn btn-danger float-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

