<tr id="canonical-item-row-<%= canonical_item_row.to_param %>">
  <td><%= canonical_item_row.name %></td>
  <td><%= canonical_item_row.item_count %></td>
  <td class="text-right">
    <%= view_button_to admin_canonical_item_path(canonical_item_row) %>
    <%= edit_button_to edit_admin_canonical_item_path(canonical_item_row) %>
  </td>
</tr>
