<tr id="canonical-item-row-<%= canonical_item_row.to_param %>">
  <td><%= canonical_item_row.name %></td>
  <td><%= canonical_item_row.category %></td>
  <td><%= canonical_item_row.item_count %></td>
  <td class="text-right">
    <%= link_to "View", admin_canonical_item_path(canonical_item_row), class: "btn btn-primary btn-xs"  %>
    <%= link_to edit_admin_canonical_item_path(canonical_item_row), class: "btn btn-info btn-xs" do %>
      <i class="fa fa-edit"></i> Edit
    <% end %>
  </td>
</tr>
