<tr>
  <td><%= inventory_row.name %></td>
  <td><%= inventory_row.address %></td>
  <td><%= inventory_row.size %></td>
  <td><%= link_to "View", inventory_row %> 
      <%= link_to "Edit", edit_inventory_path(inventory_row) %>
      <%= link_to "Delete", inventory_row, method: :delete, confirm: "Are you sure?" %>
      </td>
</tr>