<h1>Inventories</h1>

<table id="inventories">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Total Inventory</th>
      <th>&nbsp;</th>
  </thead>

  <tbody>
    <%= render partial: "inventory_row", collection: @inventories %>
  </tbody>
</table>

<section id="filters">
  <%= form_tag(inventories_path, method: :get) do |f| %>
    <%= label_tag "Filter by Item" %>
    <%= collection_select(:filters, :containing, @items || {}, :id, :name) %>
    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to "Clear Filters", inventories_path %>
</section>