<table class='table table-striped'>
  <thead>
  <tr>
    <th>Guardian</th>
    <th>Child</th>
    <th>Item Needed</th>
    <th>Include This Child?</th>
  </tr>
  </thead>
  <tbody class='fields'>
  <% @children.each_with_index do |child, index| %>
    <tr>
      <td>
        <%= child.family.guardian_first_name %>
        <%= child.family.guardian_last_name %>
      </td>
      <td>
        <%= child.first_name %> <%= child.last_name %>
      </td>
      <td>
        <% if child.needed_item_ids.present? %>
          <%= child.needed_item_ids.map do |item_id|
            current_partner.organization.item_id_to_display_string_map[item_id]
          end.join(', ') %>
        <% else %>
          <%= "N/A" %>
        <% end %>
      </td>
      <td>
        <div class="custom-control custom-switch form-switch">
          <% if child.needed_item_ids.present? %>
            <%= check_box_tag "child-#{child.id}", child.active, child.active,
                              class: "custom-control-input",
                              id: "child-#{child.id}" %>
                            <label class="custom-control-label" for="child-<%= child.id %>">
                              <span class="sr-only">Include This Child?</span>
                            </label>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
