<%= simple_form_for(resource, as: resource_name, url: logins_path) do |f| %>
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <h3 class="text-center">Please Enter Your Login Email</h3>
        <div class="form-inputs">
          <%= f.input :email, label: 'Login Email:', autofocus: true %>
        </div>
        <% if resource.organization %>
          <div class="form-inputs">
            <%= f.input :organization, label: 'Account to Login With:', as: :radio_buttons, collection: resource.organizations, include_blank: false, label_html: { class:  "btn btn-primary btn-block" } %>
          </div>
        <% end %>
        <div class="col-12 text-center">
          <%= f.button :submit, "Continue", class: "btn btn-primary btn-block" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-center">
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
  <img src="../img/btn_google_signin_dark_focus_web@2x.png" alt="Sign in with Google"/>
<% end %>
