<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Admin - Inventory - Barcode Items - #{@barcode_item.item.name}" %>
        <h1>
          Barcode Information
          <small>for <%= @barcode_item.item.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "All Barcodes", (admin_barcode_items_path) %></li>
          <li class="breadcrumb-item"><a href="#">Viewing Barcode</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h2 class="card-title"><%= @barcode_item.item.name %></h2>
          </div>
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Quantity</th>
                <th>Barcode</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @barcode_item.quantity %></td>
                <td><%= @barcode_item.value %></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
