<tr>
  <td><%= dropoff_location_row.name %></td>
  <td><%= dropoff_location_row.address %></td>
  <td class="pull-right">
      <%= link_to "View", dropoff_location_row, class: "btn btn-primary btn-xs" %>
      <%= link_to edit_dropoff_location_path(dropoff_location_row), class: "btn btn-info btn-xs" do %>
        <i class="fa fa-edit"></i> Edit
      <% end %>
      <%= link_to dropoff_location_row, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i> Trash
      <% end %>
  </td>
</tr>
