<% content_for :title, "#{current_organization.name} - Agencies - Donation Dropoff Locations" %>


<div class="header-action">
  <%= link_to "New Donation Dropoff Location", new_dropoff_location_path(organization_id: current_organization), class: "button float-right" %>
</div>

<% if @dropoff_locations.empty? %>

<div class="reveal" id="addStorageLocationModal" data-reveal>
  <h2 id="modalTitle">Import Dropoff Locations</h2>
  <p class="lead">Instructions:</p>
    <ol>
      <li><%= link_to "Download example csv", "/dropoff_locations.csv", :format => :csv, :class => "btn btn-info" %>.</li>
      <li>Open the csv file with excel or your favourite spreadsheet program.</li>
      <li>Delete the sample data and enter your storage location names and addresses in the appropriate columns.</li>
      <li>Save the file as a csv file.</li>
      <li>Click the choose file button and navigate to the saved file and select it.</li>
      <li>Then click the Import CSV button to import your storage locations.</li>
    </ol>
    <p class="help-text">Note: You're only able to run the import one time to prevent accidental imports or writing over existing locations!</p>

    <%= form_tag import_csv_dropoff_locations_path, multipart: true do %>
        <%= file_field_tag :file, :accept => 'text/csv' %>
        <%= submit_tag "Import CSV", :class => "btn btn-white" %>
    <% end %>
</div>
<br/>
<p><a class="button success" data-open="addStorageLocationModal">Import Dropoff Locations</a></p>
<% end %>


<h1>Donation Dropoff Locations</h1>

<table id="dropoff_locations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>&nbsp;</th>
  </thead>

  <tbody>
    <%= render partial: "dropoff_location_row", collection: @dropoff_locations %>
  </tbody>
</table>
