<%
  remote ||= true
  url ||= barcode_items_path
%>
<div id="newBarcode" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Barcode</h4>
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <%= simple_form_for BarcodeItem.new, url: url, html: {role: "form"}, remote: remote, wrapper: :vertical_form do |f| %>
          <div class="box-body ">
            <div class="row">
              <%= f.input :quantity, label: "Quantity", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-sort-numeric-desc"></i></span>
                <%= f.input_field :quantity, class: "form-control" %>
              <% end %>
            </div><!-- /.row -->
            <div class="row">
              <%= f.association :barcodeable, collection: @items, label: "Item" %>
            </div>
            <div class="row">
              <%= f.input :value, label: "Barcode", wrapper: :input_group do %>
                <%= f.input_field :value, class: "form-control" %>
                <div id="barcode-scanner-btn" class="fa fa-barcode barcode-scanner input-group-text"></div>
              <% end %>
            </div><!-- /.row -->
          </div><!-- /.box-body -->
          <input type="hidden" value="" id="trigger-field-id">
          </div>
          <div class="modal-footer justify-content-between">

            <%= submit_button %>
          </div>
        <% end #form %>
        </div>
  </div>
</div>
