<tr>
  <td><%= barcode_item_row.barcodeable.name %></td>
  <td><%= barcode_item_row.quantity %></td>
  <td><%= barcode_item_row.value %></td>
  <td class="text-center">
    <div class="btn-group" role="group">
      <%= view_button_to barcode_item_path(barcode_item_row), { type: "outline-primary" } %>

      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Edit", edit_barcode_item_path(barcode_item_row), class: "dropdown-item" %>
          <%= link_to "Delete", barcode_item_path(barcode_item_row), { class: "dropdown-item", confirm: confirm_delete_msg(barcode_item_row.item.name) } %>
        </div>
      </div>
    </div>
  </td>
</tr>
