<div class="box-body">
  <%= simple_form_for form, html: { class: 'form-horizontal'} do |f| %>
    <%= f.input :quantity, label: "Quantity:", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></span>
      <%= f.input_field :quantity, class: "form-control" %>
    <% end %>

    <%= f.association :item, collection: @items, label: "Item Type:" %>

    <%= f.input :value, label: "Value:", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <%= f.input_field :value, class: "form-control" %>
    <% end %>      

    <%= f.input :global,
      label: "Make this barcode available to everyone?" %>
  
    <%= f.button :submit, class:"btn btn-info"%>

  <% end %>
</div>
