<div class="box-body">
  <%= simple_form_for form, html: {role: "form"} do |f| %>
    <%= f.input :quantity, label: "Quantity", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></span>
      <%= f.input_field :quantity, class: "form-control" %>
    <% end %>
    <%= f.association :barcodeable, collection: @items, label: "Item" %>
    <%= f.input :value, label: "Barcode", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <%= f.input_field :value, class: "form-control" %>
    <% end %>
    <%= submit_button %>
  <% end #form %>
</div>