<%= simple_form_for form do |f| %>

  <%= f.input :quantity,
    label: "Quantity",
    error: "Please enter a quantity for this package" %>

  <%= f.association :item,
    collection: @items,
    label: "Item",
    error: "Choose an item from the list" %>

  <%= f.input :value,
    label: "Barcode",
    error: "You must scan a barcode for this" %>

  <%= f.input :global,
      label: "Make this barcode available to everyone?",
      as: :boolean %>
  <% #<label for"barcode_item_global"><input type="checkbox" name="barcode_item_global" id="barcode_item_global" value="true" /> Make this barcode available to everyone?</label>
  %>

  <div class="medium-offset-3 medium-6">
    <%= f.button :submit %>
  </div>

<% end %>
