<div class="header-action">
  <%= link_to "Create New Barcode", new_barcode_item_path, class: "button float-right" %>
</div>

<h1>Barcodes</h1>

<table id="barcode_items">
  <thead>
    <tr>
      <th>Item Type</th>
      <th>Quantity in the Box</th>
      <th>Barcode</th>
      <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= render partial: "barcode_item_row", collection: @barcode_items %>
  </tbody>
</table>

<section id="filters">
  <%= form_tag(barcode_items_path, method: :get) do |f| %>
    <%= label_tag "Filter by Item" %>
    <%= collection_select(:filters, :item_id, @items, :id, :name) %>
    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to "Clear Filters", barcode_items_path %>
</section>
