<% content_for :title, "#{current_organization.name} - Inventory - Barcode Items" %>

<% content_for :sidebar do %>
<section id="filters">
  <h2>Filters</h2>
  <%= form_tag(barcode_items_path, method: :get) do |f| %>
    <%= label_tag "By Item Category" %>
    <%= collection_select(:filters, :item_id, @items, :id, :name, include_blank: true) %>

    <%= label_tag do %>
      <%= check_box_tag "filters[only_global]", "true", @global %>
      Only show global
    <% end %>

    <%= submit_tag "Filter", class: "button primary" %>
    <%= link_to "Clear Filters", barcode_items_path, class: "button secondary" %>
  <% end %>
</section>
<% end %>

<div class="header-action">
  <%= link_to "Create New Barcode", new_barcode_item_path, class: "button float-right" %>
</div>

<h1>Barcodes Specific to Our Organization</h1>

<table id="barcode_items">
  <thead>
    <tr>
      <th>Item Type</th>
      <th>Quantity in the Box</th>
      <th>Barcode</th>
      <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= render partial: "barcode_item_row", collection: @barcode_items %>
  </tbody>
</table>
