<%= form_with(model: child, local: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
        <% if child.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

            <ul>
            <% child.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="tile">
        <h3 class="tile-title">Child Information</h3>

        <div class="tile-body">

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :first_name, class: "control-label col-md-3"%>
              <%= form.text_field :first_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :last_name, class: "control-label col-md-3"%>
              <%= form.text_field :last_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :date_of_birth, class: "control-label col-md-3"%>
              <%= form.date_select :date_of_birth, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :gender, class: "control-label col-md-3"%>
              <%= form.text_field :gender, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :child_lives_with, class: "control-label col-md-3"%>
              <%= form.text_field :child_lives_with, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :race, class: "control-label col-md-3" %>
              <%= form.text_field :race, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :agency_child_id, class: "control-label col-md-3"%>
              <%= form.text_field :agency_child_id, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :health_insurance, class: "control-label col-md-3"%>
              <%= form.text_field :health_insurance, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :item_needed, class: "control-label col-md-3"%>
              <%= form.select :item_needed_diaperid, valid_items_for_select(valid_items),
                {include_blank: 'Select an item'},
                {class: 'form-control col-md-8'} %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :comments, class: "control-label col-md-3"%>
              <%= form.text_area :comments, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :family_id, class: "control-label col-md-3"%>
              <%= form.number_field :family_id, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="actions">
            <%= form.submit(class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
