<div class="app-title">
  <div>
    <h1><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Edit Child</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="<%= family_path(@child.family) %>">The <%= "#{@child.family.guardian_last_name}" %> Family</a></li>
    <li class="breadcrumb-item"><a href="<%= child_path(@child) %>">View Child</a></li>
    <li class="breadcrumb-item"><a href="#">Edit</a></li>
  </ul>
</div>

<%= render 'form', child: child %>

