<div class="app-title">
  <div>
    <h1><i class="fa fa-child"></i> Children</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-child fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">Children</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
    <div class="alert alert-dismissible alert-success">
      <button class="close" type="button" data-dismiss="alert">×</button>
      <p><%= notice %><a class="alert-link" href="#"></p>
      </a></p>
    </div>
    <% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Child lives with</th>
          <th>Race</th>
          <th>Agency child</th>
          <th>Health insurance</th>
          <th>Item needed</th>
          <th>Comments</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @children.each do |child| %>
          <tr>
            <td><%= child.first_name %></td>
            <td><%= child.last_name %></td>
            <td><%= child.date_of_birth %></td>
            <td><%= child.gender %></td>
            <td><%= child.child_lives_with %></td>
            <td><%= child.race %></td>
            <td><%= child.agency_child_id %></td>
            <td><%= child.health_insurance %></td>
            <td><%= item_id_to_display_string_map[child.item_needed_diaperid] %></td>
            <td><%= child.comments %></td>
            <td><%= link_to 'Show', child %></td>
            <td><%= link_to 'Edit', edit_child_path(child) %></td>
            <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
