<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @child.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @child.gender %>
</p>

<p>
  <strong>Child lives with:</strong>
  <%= @child.child_lives_with %>
</p>

<p>
  <strong>Race:</strong>
  <%= @child.race %>
</p>

<p>
  <strong>Agency child:</strong>
  <%= @child.agency_child_id %>
</p>

<p>
  <strong>Health insurance:</strong>
  <%= @child.health_insurance %>
</p>

<p>
  <strong>Item needed:</strong>
  <%= item_id_to_display_string_map[@child.item_needed_diaperid] %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @child.comments %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
