<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partners" %>
        <h1>
          Partners
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">All Partners</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Organization</th>
                <th class="pull-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @partners.each do |partner| %>
                <tr>
                  <td><%= partner.name %></td>
                  <td><%= partner.organization&.name %></td>
                  <td class="text-right">
                    <%= view_button_to admin_partner_path(partner) %>
                    <%= edit_button_to edit_admin_partner_path(partner) %>
                  </td>
              <% end %>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
