<section class="content-header">
	<% content_for :title, "Partners - #{@partner.name} - #{@partner.organization.name}" %>
  <h1>
    Partner Information
    <small>for <%=  @partner.name %></small>
  </h1>
	<ol class="breadcrumb">
	<li><%= link_to(dashboard_path) do %>
	    <i class="fa fa-dashboard"></i> Home
	  <% end %>
	  </li>
	  <li><%= link_to "All Partners", (admin_partners_path) %></li>
	  <li class="active">Viewing Partner</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @partner.name %></h3>
  </div>
  <div class="box-body">

	<dl>
	  <dt>E-mail</dt>
		<dd><%= @partner.email %></dd>
	</dl>

	<dl>
	  <dt>Organization</dt>
		<dd><%= @partner.organization.name %></dd>
	</dl>

  </div>
</div>





