<tr>
  <td><%= organization_row.name %></td>
  <td><%= link_to organization_row.email, "mailto:#{organization_row.email}" %></td>
  <td><%= link_to "View", admin_path(organization_row.id), class: "btn btn-info btn-xs" %>    
      <%= link_to "Edit", edit_admin_path(organization_row.id), class: "btn btn-info btn-xs" %> 
      <%= link_to "Delete", admin_path(organization_row.id), method: :delete, class: "btn btn-danger btn-xs" unless Organization.count <= 1 %></td>
</tr>