<section class="content-header">
<% content_for :title, "Organizations - #{current_organization.name} - Edit" %>
<h1>
Editing
<small><%= @organization.name %></small>
</h1>
<ol class="breadcrumb">
  <li><%= link_to(dashboard_path(organization_id: current_user.organization)) do %>
    <i class="fa fa-dashboard"></i> Home
  <% end %>
  </li>
  <li><%= link_to "Administration", (admins_path(organization_id: current_user.organization)) %></li>
  <li><a href="#">Editing <%= @organization.name %></a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">

<!-- Default box -->
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">Update record for <%= current_organization.name %></h3>
</div>
<div class="box-body">
<%= simple_form_for @organization, url: admin_path do |f| %>

<div class="form-inputs">
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :short_name, required: true, autofocus: true %>
  <%= f.input :url, as: :url, placeholder: "http://www.example.com" %>
  <%= f.input :email %>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state, collection: us_states, class: "form-control", placeholder: "state" %>
  <%= f.input :zipcode %>
  <%= f.input :intake_location, :collection => current_organization.storage_locations, :label_method => :name,:value_method => :id,:label => "Default Intake Location" ,:include_blank => true %>
  <%= f.input :logo %>
  <p class="help-block">Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels).
    Only jpeg/png format is supported.</p>

<% if @organization.logo.attached? %>
    <a href="#showTheLogo" class="btn btn-xs btn-info" data-toggle="modal">Preview Current Logo</a>

    <!-- Button HTML (to Trigger Modal) -->
    <!-- Modal HTML -->
    <div id="showTheLogo" class="modal fade">
        <div class="modal-dialog">

                  <%= image_tag @organization.logo %>
        </div>
    </div>

  <% end %>
    <%= f.button :submit, "Update", class: "btn btn-primary pull-right" %>
</div>

</div>

<% end %>
</div>
</div>
<!-- /.box -->

</section>
