<% content_for :title, "Organization - New" %>

<h1>Add a new Organization</h1>

<%= simple_form_for @org, url: admins_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :short_name, required: true, autofocus: true %>
    <%= f.input :url, as: :url, placeholder: "http://www.example.com" %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :logo %>
    <p class="help-text">Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels)
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>