<% content_for :title, "Organization - #{@organization.name}" %>

<h1><%= @organization.name %></h1>
<p><%= link_to @organization.email, "mailto:#{@organization.email}" %></p>
<p><%= @organization.address %></p>
Users:
<%= @organization.display_users %>

<div class="reveal" id="addUserModal" data-reveal>
  <h2 id="modalTitle">New User</h2>
  <p class="lead">Invite User to this Organization</p>


  <%= form_tag invite_user_admins_path do %>
  	<label for="lookup">Email address:</label>
  	<%= text_field_tag :email %>
  	<%= hidden_field_tag :org , @organization.id %>
 		<%= submit_tag "Submit" %>
	<% end %>

</div>
<br/>
<p><a class="button success" data-open="addUserModal">Add User to Organization</a></p>