<tr class="<%= local_assigns[:class] %>">
  <td><%= donation_site_row.name %></td>
  <td><%= donation_site_row.address %></td>
  <td><%= donation_site_row.contact_name %></td>
  <td><%= donation_site_row.email %></td>
  <td><%= donation_site_row.phone %></td>
  <td class="text-right">
    <%= view_button_to donation_site_row %>
    <%= edit_button_to edit_donation_site_path(donation_site_row) %>
    <% if donation_site_row.active? %>
      <%= deactivate_button_to deactivate_donation_site_path(donation_site_row),
            text: 'Deactivate',
            confirm: confirm_deactivate_msg(donation_site_row.name) %>
    <% else %>
      <%= reactivate_button_to reactivate_donation_site_path(donation_site_row),
            text: 'Reactivate',
            confirm: confirm_reactivate_msg(donation_site_row.name) %>
    <% end %>
  </td>
</tr>
