<tr class="<%= local_assigns[:class] %>">
  <td><%= donation_site_row.name %></td>
  <td><%= donation_site_row.address %></td>
  <td class="text-right">
    <%= view_button_to donation_site_row %>
    <%= edit_button_to edit_donation_site_path(donation_site_row) %>
    <%= delete_button_to donation_site_row, { confirm: confirm_delete_msg(donation_site_row.name) } %>
  </td>
</tr>
