<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Donation Sites - #{@donation_site.name} - Agencies - #{current_organization.name}" %>
        <h1>
          Donation Site Information
          <small>for <%= @donation_site.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Donation Sites", donation_sites_path %></li>
          <li class="breadcrumb-item"><%= @donation_site.name %></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th<h3>Donation Site Name</h3></th>
                  <th><h3>Donation Site Address</h3></th>
                  <th><h3>Contact Name</h3></th>
                  <th><h3>Email</h3></th>
                  <th><h3>Phone</h3></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @donation_site.name %></td>
                  <td><%= @donation_site.address %></td>
                  <td><%= @donation_site.contact_name || "N/A" %></td>
                  <td><%= @donation_site.email || "N/A" %></td>
                  <td><%= @donation_site.phone || "N/A" %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Storage Location</th>
                <th>Quantity of Items</th>
                <th>Variety of Items</th>
                <th>Source</th>
              </tr>
              </thead>
              <tbody>
              <% @donation_site.donations.each do |donation| %>
                <tr>
                  <td><%= donation.storage_location&.name %></td>
                  <td><%= donation.line_items.total %></td>
                  <td><%= donation.line_items.size %></td>
                  <td><%= link_to "View donation details", donation %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
