<div class="row wrapper border-bottom white-bg page-heading"><section class="content-header">
  <% content_for :title, "Donation Sites - #{@donation_site.name} - Agencies - #{current_organization.name}" %>
    <div class="col-lg-8">
  <h1>
    Donation Site Information
    <small>for <%= @donation_site.name %></small>
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
      <%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
      <% end %>
      </li>
      <li class="breadcrumb-item">
      <%= link_to "Donation Sites", (donation_sites_path) %></li>  
      <li class="breadcrumb-item active">
      <%= @donation_site.name %></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <h3><%= @donation_site.name %></h3>
        <div class="ibox-title">
          <p><%= @donation_site.address %></p>
          <% if @donation_site.donations.present? %>
            <h4>Past Donations Received at this Location</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <thead>
                        <th>Storage Location</th>
                        <th>Quantity of Items</th>
                        <th>Variety of Items</th>
                        <th>Source</th>
                      </thead>
                    </tr>
                    <% @donation_site.donations.each do |donation| %>  
                      <tr>
                      <td><%= donation.storage_location&.name %></td>
                      <td><%= donation.line_items.total %></td>
                      <td><%= donation.line_items.size %></td>
                      <td><%= link_to "View donation details", donation %></td>
                    </tr>
                    <% end %>
                  </table>
                </div><!-- box-body table-responsive no-padding -->
              </div><!-- col-lg-12 -->
            </div><!-- row -->
          <% end %>
        </div><!-- ibox-title -->
      </div><!-- ibox-content p-xl -->
    </div><!-- wrapper wrapper-content animated fadeInRight -->
  </div><!-- .col-lg-12 -->
</div><!-- .row -->


