<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Editing - Product Drive - #{current_organization.name}" %>
        <h1>
          Editing Product Drive
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Product Drives", product_drives_path %></li>
          <li class="breadcrumb-item"><a href="#">Editing <%= @product_drive.name %> on <%= @product_drive.created_at.to_fs(:distribution_date) %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<%= render 'form', product_drive: @product_drive %>
