<div id="addUserModal_<%= partner.id%>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invite a new user to <%= partner.name %> </h4>
      </div>
      <div class="modal-body">
        <div class="box-body">
          <%= form_tag do %>
            <div class="input-group">
              <span class="input-group-addon" id="spn_usr_fa_icon"><%= fa_icon "user" %></span>
              <input type="text" name="name" class="form-control" placeholder="Name" aria-describedby="spn_usr_fa_icon">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="spn_env_fa_icon"><%= fa_icon "envelope" %></span>
              <input type="email" name="email" class="form-control" placeholder="Email" aria-describedby="spn_env_fa_icon">
            </div>
            <%= hidden_field_tag :partner , partner %><br>
            <%= submit_button({ text: "Invite User", icon: "envelope" }) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
