<%= simple_form_for form, html: { class: 'form-horizontal' } do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body w-50">
              <%= f.input :name, label: "Name", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <%= f.input_field :name, class: "form-control" %>
              <% end %>
              <%= f.input :email, label: "E-mail", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                <%= f.input_field :email, class: "form-control" %>
              <% end %>
              <%= f.input :default_storage_location_id, :collection => current_organization.storage_locations.active_locations.alphabetized,
                          :label_method => :name,
                          :value_method => :id,
                          :label => "Default Storage Location",
                          :include_blank => true,
                          wrapper: :input_group %>
              <div class='w-50'>
                <%= f.input :partner_group_id, label: "Group", wrapper: :input_group do %>
                  <%= f.input_field :partner_group_id, collection: @partner_groups, class: "form-control", include_blank: "None" %>
                <% end %>
              </div>

              <div data-controller='checkbox-with-nested-element'>
                <%= f.input :send_reminders, label: "Do you want this partner to receive emails for distributions and reminders from the system?", wrapper: :input_group do %>
                  <%= f.check_box :send_reminders, { class: "input-group-text", id: "send_reminders", data: { action: 'click->checkbox-with-nested-element#toggleNestedElementVisiblity', 'checkbox-with-nested-element-target': 'checkbox' } }, "true", "false" %>
                 <% end %>
                 <div class="callout callout-info d-none" data-checkbox-with-nested-element-target='nestedElement'>
                   <h5 class='text-uppercase font-weight-bold'>Reminder</h5>
                   <p>Please note that reminders will be sent out according to the settings of their partner group OR organization. This won't work unless you've set up at least one.</p>
                 </div>
              </div>

              <%= f.input :quota, label: "Quota", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-warning"></i></span>
                <%= f.input_field :quota, class: "form-control" %>
              <% end %>
              <%= f.input :notes, label: "Notes", wrapper: :input_group do %>
                <%= f.input_field :notes, class: "form-control" %>
              <% end %>
              <%= f.input :documents, label: "Documents", wrapper: :input_group do %>
                <%= f.input_field :documents, as: :file, multiple: true, accept: Partner::ALLOWED_MIME_TYPES.join(","), class: "form-control h-auto" %>
              <% end %>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <%= submit_button(submit_btn_options) %>
            </div>
          </div>
          <!-- /.card -->
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
