<tr>
  <td><%= partner_row.name %></td>
  <td><%= link_to partner_row.email, "mailto:#{partner_row.email}" %></td>
  <td><%== (rand < 0.7) ? '<span class="label label-success">Approved</span>' :
  '<span class="label label-warning">In Progress</span>' %></td>
  <td><%= link_to "View", partner_path(partner_row), class: "btn btn-info btn-xs" %>    
      <%= link_to "Edit", edit_partner_path(partner_row), class: "btn btn-info btn-xs" %> 
      <%= link_to "Delete", partner_path(partner_row), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } %>      
  </td>
</tr>