<div class="tab-pane fade active" id="custom-tabs-three-categories" role="tabpanel" aria-labelledby="custom-tabs-three-categories">
  <div class="col-md-12">
    <div class="row">

      <div class="col-12">
        <!-- Default box -->
        <div class='flex justify-end mb-2'>
          <%= new_button_to new_partner_group_path(organization_id: current_organization), {text: "New Partner Group"} %>
        </div>

        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Group Name</th>
                  <th>Members</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @partner_groups.each do |pg| %>
                  <tr>
                    <td><%= pg.name %></td>
                    <td>
                      <ul class='list-disc'>
                        <% pg.partners.each do |partner| %>
                          <li> <%= partner.name %> </li>
                        <% end %>
                      </ul>
                    </td>
                    <td class="text-right">
                      <%= view_button_to partner_group_path(pg) %>
                      <%= edit_button_to edit_partner_group_path(pg) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
