<% status = partner_row.status%>
<tr>
  <td><%= link_to partner_row.name, partner_path(partner_row) %></td>
  <td><%= link_to partner_row.email, "mailto:#{partner_row.email}" %></td>
  <td>
    <%= partner_row.status.humanize %>
  </td>
  <!-- <td><%== (rand < 0.7) ? '<span class="label label-success">Approved</span>' :
  '<span class="label label-warning">In Progress</span>' %></td> -->
  <td>
    <% case status %>
    <% when "pending" %>
      <%= link_to "Review Application", approve_partner_partner_path(partner_row), class: "btn btn-xs bg-olive" %>
    <% when "awaiting_review" %>
      <%= link_to "Review Application", approve_partner_partner_path(partner_row), class: "btn btn-xs bg-olive" %>
    <% when "approved" %>
      <%= link_to "Recertify", approve_partner_partner_path(partner_row), class: "btn btn-xs bg-red" %>
    <% end %>
  </td>
</tr>
