<% status = partner_row.status%>
<% can_single_step_invite_and_approve = partner_row.organization.use_single_step_invite_and_approve_partner_process %>
<tr>
  <td class='text-blue-500'><%= link_to partner_row.name, partner_path(partner_row) %></td>
  <td><%= link_to partner_row.email, "mailto:#{partner_row.email}" %></td>
  <td><%= partner_row.partner_group&.name %></td>
  <td><%= partner_row.quota %></td>
  <td>
    <% case status %>
    <% when "uninvited" %>
      <%= view_button_to "#", { text: "Uninvited", icon: "exclamation-circle" } %>
    <% when "invited" %>
      <%= view_button_to "#", { text: "#{status.humanize}", icon: "check" } %>
    <% when "awaiting_review" %>
      <%= view_button_to "#", { text: "#{status.humanize}", icon: "check", type: "warning" } %>
    <% when "approved" %>
      <%= view_button_to "#", { text: "#{status.humanize}", icon: "check", type: "success" } %>
    <% when "recertification_required" %>
      <%= view_button_to "#", { text: "#{status.humanize}", icon: "minus", type: "danger" } %>
    <% when "deactivated" %>
      <%= view_button_to "#", { text: "#{status.humanize}", icon: "minus", type: "secondary" } %>
    <% else %>
      <span class="label label-teal">Errored</span>
    <% end %>
  </td>
  <td>
    <% case status %>
    <% when "uninvited" %>
      <% if can_single_step_invite_and_approve %>
        <% button_options = { icon: "envelope", type: "info", text: "Invite and Approve", size: "xs", confirm: "One step invite and approve #{partner_row.name} to begin using the partner application?" } %>
        <%= invite_button_to(invite_and_approve_partner_path(partner_row), button_options) %>
      <% else %>
        <%= invite_button_to(invite_partner_path(partner_row), confirm: "Send an invitation to #{partner_row.name} to begin using the partner application?") %>
      <% end %>
    <% when "invited" %>
      <%= view_button_to partner_path(partner_row) + "#partner-information", { text: "Review Application", icon: "check", type: "warning" } %>
      <%= invite_button_to(invite_partner_path(partner_row), confirm: "Re-send an invitation to #{partner_row.name}?", text: 'Re-send Invite') %>
    <% when "awaiting_review" %>
      <%= view_button_to partner_path(partner_row) + "#partner-information", { text: "Review Application", icon: "check", type: "warning" } %>
    <% when "approved" %>
      <%= button_to recertify_partner_partner_path(partner_row), data: { confirm: "Recertify partner #{partner_row.name}?"}, class: "btn btn-xs bg-red" do %>
        <i class="fa fa-refresh"></i> Request Recertification
      <% end %>
    <% when "deactivated" %>
      <%= reactivate_button_to reactivate_partner_path(partner_row), {confirm: confirm_reactivate_msg(partner_row.name)} %>
    <% else %>
      &nbsp;
    <% end %>
  </td>
</tr>
