<div class="tab-pane fade active" id="nav-partner-groups" role="tabpanel" aria-labelledby="nav-partner-groups">
  <div class="col-md-12">
    <div class="row">

      <div class="col-12">
        <!-- Default box -->
        <div class='flex justify-end mb-2'>
          <%= new_button_to new_partner_group_path, {text: "New Partner Group"} %>
        </div>

        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Group Name</th>
                  <th>Members</th>
                  <th>Requestable Item Categories</th>
                  <th>Send Reminders?</th>
                  <th class='pull-right'>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @partner_groups.each do |pg| %>
                  <tr>
                    <td><%= pg.name %></td>
                    <td>
                      <ul class='list-disc'>
                        <% pg.partners.each do |partner| %>
                          <li> <%= partner.name %> </li>
                        <% end %>
                      </ul>
                    </td>
                    <td>
                      <% if pg.item_categories.present? %>
                        <ul class='list-disc'>
                          <% pg.item_categories.each do |ic| %>
                            <li> <%= ic.name %> </li>
                          <% end %>
                        </ul>
                      <% else %>
                        <span class='text-red-600 text-bold font-italic'>No Items Requestable</span>
                      <% end %>
                    </td>
                    <td>
                      <% if pg.send_reminders %>
                        <span>Reminder emails are sent on the <strong class='text-bold text-red-600'><%= pg.reminder_day.ordinalize %></strong> of every month. </span>
                        <br>
                        <span>Deadlines are the <strong class='text-bold text-red-600'><%= pg.deadline_day.ordinalize %></strong> of every month. </span>
                      <% else %>
                        <span class='text-gray-600 text-bold font-italic'>No</span>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <%= edit_button_to edit_partner_group_path(pg) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
