<div class="card card-info card-outline">
  <div class="card-header">
    <h2 class="card-title"><%= partner.name %></h2>
  </div>
  <div class="card-body p-0">
    <div class="row">
      <div class="<%= show_header_column_class(partner) %>">
        <div class="description-block border-right">
          <h1 class='text-2xl' style="color:purple"><%= total_on_hand(impact_metrics[:families_served] || 0) %> </h1>
          <h5 class='text-lg'>Families served</h5>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="<%= show_header_column_class(partner) %>">
        <div class="description-block border-right">
          <h1 class='text-2xl' style="color:purple"><%= total_on_hand(impact_metrics[:children_served] || 0) %> </h1>
          <h5 class='text-lg'>Children served</h5>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="<%= show_header_column_class(partner) %>">
        <div class="description-block border-right">
          <h1 class='text-2xl' style="color:purple"><%= total_on_hand(impact_metrics[:family_zipcodes] || 0) %> </h1>
          <h5 class='text-lg'>Zipcodes served</h5>
          <%= modal_button_to("#seeZipcodes", {text: "See Zipcodes?", size: "xs"}) if impact_metrics[:family_zipcodes_list].present? %>
        </div>
        <!-- /.description-block -->
      </div>

      <% if partner.quota.present? %>
        <!-- /.col -->
        <div class="<%= show_header_column_class(partner) %>">
          <div class="description-block border-right">
            <h1 class='text-2xl' style="color:purple"><%= partner.quota %> </h1>
            <h5 class='text-lg'>Monthly Limit</h5>
          </div>
          <!-- /.description-block -->
        </div>
      <% end %>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <span class="float-right">
      <%= download_button_to(partner_path(partner, format: :csv, filters: filter_params.merge(date_range: date_range_params)), {text: "Export Partner Distributions", size: "md"}) if partner_distributions.any? %>
    </span>
  </div>
</div>
<div id="seeZipcodes" class="modal fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Serviced zipcodes</h4>
      </div><!-- modal-header -->
      <div class="modal-body">
        <div class="box-body">
          <ul>
            <% @impact_metrics[:family_zipcodes_list].each do |zipcode| %>
              <li><%= zipcode %></li>
            <% end %>
          </ul>
        </div><!-- box-body -->
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- seeZipcodes -->
