<section class="content-header">
<% content_for :title, "#{current_organization.name} - Agencies - Partners - #{@partner.name}" %>
<h1>
  Partner Approval Request
  <small>for <%= @partner.name %></small>
</h1>
<ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
    <i class="fa fa-dashboard"></i> Home
  <% end %>
  </li>
  <li><%= link_to "Partners", (partners_path) %></li>  
  <li class="active">Approval for <%= @partner.name %></li>
</ol>
</section>

<!-- Main content -->
<section class="content">

<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @partner.name %></h3>
  </div>
  <div class="box-body">

  <p><%= link_to @partner.email, "mailto:#{@partner.email}" %></p>
  
  <h1>Partner Application Details</h3>
  <hr>
  <div class="row">

  <div class="col-xs-6">
      <!-- /.box-header -->
    <h2>Agency Information</h2>
    <p>Name: </p>
    <p>Distributor Type</p>
    <p>Agency Type: </p>
    <p>Proof of Agency Status (Link)</p>
    <p>Agency Mission:</p>
    <p>Address</p>
    <p>Address</p>
    <p>City:</p>
    <p>State:</p>
    <p>Zip Code:</p>
    <br>
    <h2>Media Information</h2>
    <p>Website:</p>
    <p>Facebook:</p>
    <p>Twitter:</p>
    <br>
    <h2>Agency Stability</h2>
    <p>Founded</p>
    <p>Form 990:</p>
    <p>Form 990 Link</p>
    <p>Program Name</p>
    <p>Program Description</p>
    <p>Program Age</p>
    <p>Case Management:</p>
    <p>Evidence Based:</p>
    <p>Evidence Based Description:</p>
    <p>Program Client Improvement:</p>
    <p>Diaper Use:</p>
    <p>Other Diaper Use:</p>
    <p>Currently Provide Diapers:</p>
    <p>Turn Away Child Care:</p>
    <br>
    <h3>Program Address</h3>
    <p>Program Address:</p>
    <p>Program Address:</p>
    <p>Program City:</p>
    <p>Program State:</p>
    <p>Program Zip Code:</p>
    <br>
    <h2>Organizational Capacity</h2>
    <p>Max Serve</p>
    <p>Incorporate Plan:</p>
    <p>Responsible Staff Position:</p>
    <p>Storage Space:</p>
    <p>Storage Space Description:</p>
    <p>Trusted Pickup:</p>
    <br>
    <h2>Population Served</h2>
    <p>Income Requirement Description:</p>
    <p>Serve Income Circumstances:</p>
    <p>Income Verification:</p>
    <p>Internal DB:</p>
    <p>MAAC:</p>
    <br>
    </div>
    <div class="col-xs-6">    
    <h3>Ethnic Composition of Those Served</h3>
    <p>African American:</p>
    <p>Caucasian:</p>
    <p>Hispanic:</p>
    <p>Asian:</p>
    <p>American Indian:</p>
    <p>Pacific Island:</p>
    <p>Multi-Racial:</p>
    <p>Other:</p>
    <br>
    <h3>Zip Codes Served</h3>
    <p>Zips:</p>
    <br>
    <h3>Poverty Information of Those Served</h3>
    <p>At FPL or Below:</p>
    <p>Above 1-2 times FPL:</p>
    <p>Greater 2 times FPL:</p>
    <p>Poverty Unknown:</p>
    <br>
    <h3>Ages Served</h3>
    <p>Ages:</p>
    <br>
    <h2>Executive Director</h2>
    <p>Executive Director Name:</p>
    <p>Executive Director Phone:</p>
    <p>Executive Director Email:</p>
    <br>
    <h2>Program Contact Person</h2>
    <p>Program Contact Name:</p>    
    <p>Program Contact Phone:</p>
    <p>Program Contact Mobile:</p>
    <p>Program Contact Email:</p>
    <br>
    <h2>Diaper Pick Up Person</h2>
    <p>Pick Up Method:</p>
    <p>Pick Up Name:</p>
    <p>Pick Up Phone:</p>
    <p>Pick Up Email:</p>
    <br>
    <h2>Agency Distribution Information</h2>
    <p>Distribution Times:</p>
    <p>New Client Times:</p>
    <p>More Docs Required:</p>
    <br>
    <h2>Sources of Funding</h2>
    <p>Sources of Funding:</p>
    <p>Sources of Diapers:</p>
    <p>Diaper Budget:</p>
    <p>Diaper Funding Source:</p>
    <br>
    <%= button_to 'Approve Partner', {controller: "partners", action: "approve_application"}, method: :get, class: "btn btn-success" %>

    </div>
    <!-- /.box -->
  </div>
  </div>
</div>