<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partners - Agencies - #{current_organization.name}" %>
        <h1>
          Partner Agencies
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Partner Agencies</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0 text-md">
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
              <li class="nav-item" class="active">
                <a class="nav-link active" id="nav-partners-tab" data-bs-toggle="pill" href="#nav-partners" role="tab" aria-controls="nav-partners" aria-selected="true">
                  Partners
                </a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-partners-groups-tab" data-bs-toggle="pill" href="#nav-partner-groups" role="tab" aria-controls="nav-partner-groups" aria-selected="false">Groups</a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <%= render partial: 'partners_table', locals: { partners: @partners } %>
              <%= render partial: 'partner_groups_table' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render(
          layout: "shared/csv_import_modal",
          locals: {
            import_type: "Partners",
            csv_template_url: "/partners_template.csv",
            csv_import_url: import_csv_partners_path
          }
      ) do %>
    <li>Open the CSV file with Excel or your favourite spreadsheet program.</li>
    <li>Delete the sample data and enter your partner agency names and addresses in the appropriate columns.</li>
    <li>Save the file as a CSV file.</li>
  <% end %>

</section>
