<section class="content-header">
  <% content_for :title, "Partners - Agencies - #{current_organization.name}" %>
  <h1>
    Partner Agencies
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">Partner Agencies</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <div class="pull-right">
          <%= modal_button_to("#csvImportModal", { text: "Import Partners", icon: "upload", size: "lg" }) if @partners.empty? %>
          <%= download_button_to(csv_path(format: :csv, type: "Partner"), { text: "Export Partner Agencies", size: "lg" }) if @partners.any? %>
          <%= new_button_to new_partner_path(organization_id: current_organization), { text: "New Partner Agency" } %>
        </div>
      </section><!-- /#filters -->
    </div><!-- /.box-header -->
    <div class="box-body">
      <%= render partial: "statuses", object: @unfiltered_partners_for_statuses, as: :partners %>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped">
              <thead>
                <tr>
                  <th>Partner</th>
                  <th>E-mail</th>
                  <th>Status</th>
                  <th>Action</th>
                  <!-- <th title="This field is currently mock data">Approved?</th> -->
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "partner_row", collection: @partners %>
              </tbody>
            </table>
          </div><!-- /.box-body.table-responsive -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section><!-- /.content -->

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    title: "Import Partners Instructions:",
    csv_template_url: "/partners.csv",
    csv_import_url: import_csv_partners_path
  }
) do %>
  <li>Open the csv file with excel <br>or your favourite spreadsheet program.</li>
  <li>Delete the sample data and <br>enter your partner agency names and <br>addresses in the appropriate columns.</li>
  <li>Save the file as a csv file.</li>
<% end %>
