<section class="content-header">
  <% content_for :title, "#{current_organization.name} - Agencies - Partners" %>
  <h1>
    Partner Agencies
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">Partner Agencies</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <%= link_to new_partner_path(organization_id: current_organization), class: "btn btn-success btn pull-right", style: "margin-right: 1rem;" do %>
          <i class="fa fa-plus"></i> New Partner Agency
        <% end %>
      </section><!-- /#filters -->
    </div><!-- /.box-header -->
    <div class="box-body">
      <% if @partners.empty? %>
        <%= render partial: "import_partners_modal" %>
      <% end %>
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Partner</th>
                  <th>E-mail</th>
                  <!-- <th title="This field is currently mock data">Approved?</th> -->
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "partner_row", collection: @partners %>
              </tbody>
            </table>
          </div><!-- /.box-body.table-responsive -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section><!-- /.content -->
