<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partners - #{@partner.name} - Agencies - #{current_organization.name}" %>
        <h1>
          Partner info
          <small>for <%= @partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Partners", (partners_path) %></li>
          <li class="breadcrumb-item"><a href="#"><%= @partner.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <%= render "show_header", partner: @partner, impact_metrics: @impact_metrics, partner_distributions: @partner_distributions %>

        <% if @partner.notes.present? %>
          <%= render "notes", partner: @partner %>
        <% end %>

        <% if @partner.documents.present? %>
          <%= render "documents", partner: @partner %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h2 class="card-title">Prior Distributions</h2>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="custom-tabs-three-tabContent">
              <table class="table">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Source Inventory</th>
                  <th>Total items</th>
                  <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @partner_distributions.each do |dist| %>
                  <tr>
                    <td><%= dist.created_at.strftime("%m/%d/%Y") %></td>
                    <td><%= dist.storage_location.name %></td>
                    <td><%= dist.line_items.total %></td>
                    <td class="text-right">
                      <%= view_button_to distribution_path(dist) %>
                      <%= print_button_to print_distribution_path(dist, format: :pdf) %>
                    </td>
                  </tr>
                  </tbody>
                <% end %>
                </table>
            </div><!-- /.box-body.table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="addUserModal" class="modal fade">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add a User or Send a Reminder for <%= @partner.name %></h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <div class="box-body">
            <p>
              This will invite an additional member of the partner organization to Partnerbase unless a user with that
              exists in the Partnerbase system. If a user with that email exists it will send them a password reminder.
            </p>
            <br/>
            <%= form_tag re_invite_partner_path do %>
              <div class="input-group">
                <span class="input-group-text" id="spn_env_fa_icon"><%= fa_icon "envelope" %></span>
                <input type="email" name="email" class="form-control" placeholder="Email" aria-describedby="spn_env_fa_icon">
                <%= hidden_field_tag :partner, @partner.id %><br>
              </div>
              <br>
              <%= submit_button({text: "Invite User", icon: "envelope"}) %>
            <% end # form %>
          </div><!-- box-body -->
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- addUserModal -->
  <div id="seeZipcodes" class="modal fade">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Serviced zipcodes</h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <div class="box-body">
          <ul>
            <% @impact_metrics.dig("agency", "family_zipcodes_list").each do |zipcode| %>
              <li><%= zipcode %></li>
            <% end %>
          </ul>
          </div><!-- box-body -->
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- seeZipcodes -->

</section>
