<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Partners - #{@partner.name} - Agencies - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Partner info
      <small>for <%= @partner.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <%= link_to "Partners", (partners_path) %>
      </li>  
      <li class="breadcrumb-item active">
        <%= @partner.name %>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <h3 class="box-title"><%= @partner.name %></h3>
        <div class="ibox-content">
          <p><%= link_to @partner.email, "mailto:#{@partner.email}" %></p>
          <h3>Past Distributions</h3>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Date</th>
                    <th>Source Inventory</th>
                    <th>Total items</th>
                    <th>&nbsp
                  </tr>
                  <% @partner.distributions.each do |dist| %>  
                    <tr>
                      <td><%= dist.created_at.strftime("%m/%d/%Y") %></td>
                      <td><%= dist.storage_location.name %></td>
                      <td><%= dist.line_items.total %></td>
                      <td class="text-right">
                        <%= view_button_to distribution_path(dist) %>
                        <%= print_button_to print_distribution_path(dist, format: :pdf) %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
