<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partners - #{@partner.name} - Agencies - #{current_organization.name}" %>
        <h1>
          Partner info
          <small>for <%= @partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Partners", partners_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @partner.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <% unless @partner.uninvited? %>

      <section class="card card-info card-outline">
          <div class="card-header">
            <h2 class="card-title">Partner Actions</h2>
          </div>
          <div class="card-body p-3">
            <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
              <%= link_to partner_users_path(@partner) do %>
                <div class="btn btn-app bg-success">
                  <i class="fas fa-users"></i> Manage Users
                </div>
              <% end %>
            <% end %>
            <hr>
            <div class="row px-2">
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h4 class='text-2xl underline'> Partner Details </h4>
                </div>
                <%= edit_button_to edit_partner_path(@partner), { text: "Edit Partner Information", icon: "pencil-square-o", type: "primary", size: "m" } %>
                <br>
                <br>
                <%= view_button_to '#partner-information', { text: "View Partner Information", type: "secondary", size: "m" } %>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h4 class='text-2xl underline'> Partner Status </h4>
                </div>
                <% if @partner.deactivated? %>
                  <%= reactivate_button_to reactivate_partner_path(@partner), { confirm: confirm_reactivate_msg(@partner.name), size: 'm' } %>
                <% else %>
                  <%= deactivate_button_to deactivate_partner_path(@partner), { text: "Deactivate Partner", confirm: confirm_deactivate_msg(@partner.name), size: 'm' } %>
                <% end %>
                <br>
                <br>
                <% unless @partner.approved? %>
                  <%= print_button_to approve_application_partner_path(@partner), { text: "Activate Partner Now", icon: "thumbs-o-up", type: "success", size: "m" } if can_administrate? %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <% end %>
        <!-- Default box -->
        <% if @partner.uninvited? %>
          <%= render "uninvited_header", partner: @partner %>
        <% else %>
          <%= render "show_header", partner: @partner, impact_metrics: @impact_metrics, partner_distributions: @partner_distributions %>
        <% end %>

        <section class="card card-info card-outline">
          <div class="card-header">
            <h2 class="card-title">Contact Information</h2>
          </div>
          <div class="card-body p-3">
            <div class="row px-2">
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h4 class='text-2xl underline'> Executive Director </h4>
                  <div>
                    <label>Name:</label> <%= optional_data_text(@partner.profile.executive_director_name) %>
                  </div>
                  <div>
                    <label>Email:</label> <%= optional_data_text(@partner.profile.executive_director_email) %>
                  </div>
                  <div>
                    <label>Phone:</label> <%= optional_data_text(@partner.profile.executive_director_phone) %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h4 class='text-2xl underline'> Program Manager </h4>
                  <div>
                    <label>Name:</label> <%= optional_data_text(@partner.profile.primary_contact_name) %>
                  </div>
                  <div>
                    <label>Email:</label> <%= optional_data_text(@partner.profile.primary_contact_email) %>
                  </div>
                  <div>
                    <label>Phone:</label> <%= optional_data_text(@partner.profile.primary_contact_phone) %>
                  </div>
                  <div>
                    <%# NOTE! The reason why the Mobile field appears for Program Manager and not the others is %>
                    <%# because the existing table doesn't have the mobile field for the others %>
                    <label>Mobile:</label> <%= optional_data_text(@partner.profile.primary_contact_mobile) %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div>
                  <h4 class='text-2xl underline'> Pickup Person </h4>
                  <div>
                    <label>Name:</label> <%= optional_data_text(@partner.profile.pick_up_name) %>
                  </div>
                  <div>
                    <label>Email:</label> <%= optional_data_text(@partner.profile.pick_up_email) %>
                  </div>
                  <div>
                    <label>Phone:</label> <%= optional_data_text(@partner.profile.pick_up_phone) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="card card-info card-outline">
          <div class="card-header">
            <h2 class="card-title">Settings</h2>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12" id="partner-notes">
                <div>
                  <h4 class='text-2xl underline'> Partner Group: </h4>
                  <div>
                    <label><%= @partner.partner_group&.name || "None" %></label>
                  </div>
                </div>

                <h4 class='text-2xl underline'> Requestable Item Categories: </h4>
                <p class='text-sm font-light mb-1'> You can change this through their partner group.</p>

                <% if @partner.item_categories.present? %>
                  <ul class='list-disc ml-3'>
                    <% @partner.item_categories.each do |ic| %>
                      <li>
                        <span class='text-lg'><%= ic.name %></span>
                      </li>
                    <% end %>
                  </ul>
                <% elsif @partner.partner_group.present? %>
                  <span class='text-red-600 text-bold font-italic'>No Items Requestable</span>
                <% else %>
                  <span class='text-blue-600 text-bold font-italic'>All Items Requestable</span>
                <% end %>
              </div>
            </div>
          </div>
        </section>

        <section class="card card-info card-outline">
          <div class="card-header">
            <h2 class="card-title">Notes</h2>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12" id="partner-notes">
                <% if @partner.notes %>
                  <p><%= simple_format(@partner.notes) %></p>
                <% else %>
                  <p> None provided </p>
                <% end %>
              </div>
            </div>
          </div>
        </section>

        <section class="card card-info card-outline" id='partner-information'>
          <div class="card-header">
            <div class="clearfix">
              <h2 class="card-title">Application & Information</h2>
            </div>
            <div class='pull-right'>
              <% unless @partner.approved? %>
                <%= print_button_to approve_application_partner_path(@partner), { text: "Approve Partner", icon: "thumbs-o-up", type: "success", size: "md", enabled: @partner.approvable? } %>
              <% end %>
              <%= edit_button_to edit_profile_path(@partner), { text: "Edit Information", size: "md" } %>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12 p-4">
                <%= render partial: 'profiles/show', locals: { partner_profile: @partner.profile, partner_profile_fields: @partner_profile_fields } %>
              </div>
            </div>
          </div>
        </section>

        <% if @partner.documents.present? %>
          <%= render "documents", partner: @partner %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h2 class="card-title">Prior Distributions</h2>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="custom-tabs-three-tabContent">
              <table class="table">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Source Inventory</th>
                  <th>Total items</th>
                  <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @partner_distributions.each do |dist| %>
                  <tr>
                    <td><%= dist.created_at.strftime("%m/%d/%Y") %></td>
                    <td><%= dist.storage_location.name %></td>
                    <td><%= dist.line_items.total %></td>
                    <td class="text-right">
                      <%= view_button_to distribution_path(dist) %>
                      <%= print_button_to print_distribution_path(dist, format: :pdf) %>
                    </td>
                  </tr>
                  </tbody>
                <% end %>
                </table>
            </div><!-- /.box-body.table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
