<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Executive Director</h5>
  <div class="card-body">
    <dl>
      <dt>Name</dt>
      <dd><%= profile.executive_director_name %></dd>

      <dt>Phone Number</dt>
      <dd><%= profile.executive_director_phone %></dd>

      <dt>Email</dt>
      <dd><%= profile.executive_director_email %></dd>
    </dl>

    <h6>Primary Contact Person</h6>
    <dl>
      <dt>Name</dt>
      <dd><%= profile.primary_contact_name %></dd>

      <dt>Phone Number</dt>
      <dd><%= profile.primary_contact_phone %></dd>

      <dt>Mobile Phone Number</dt>
      <dd><%= profile.primary_contact_mobile %></dd>

      <dt>Email</dt>
      <dd><%= profile.primary_contact_email %></dd>
    </dl>
  </div>
</div>
