<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Admin - Feedback Messages" %>
  <div class="col-lg-8">
    <h2>Feedback Messages - Global</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(admin_dashboard_path) do %>
          <i class="fa fa-lock"></i> Admin
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Feedback Messages</a>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content p-xl">
    <div class="table-responsive no-padding m-t">
      <table id="tbl_barcode_items" class="table table-hover">
        <thead>
          <tr>
            <th>Message</th>
            <th>User</th>
            <th>Path</th>
            <th>Resolved</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @feedback_messages.each do |feedback| %>
            <tr>
              <td><%= feedback.message %></td>
              <td><%= feedback.user.email %></td>
              <td><%= feedback.path %></td>
              <td colspan="2" ><%= check_box_tag 'Resolved', feedback.resolved, feedback.resolved, data: {url: admin_feedback_message_resolve_path(feedback), remote: true, method: :get} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
