<h1>Write new entries for FAQ pages</h1>

<%= simple_form_for @article, url: admin_articles_path do |f| %>
  <h4><%= f.input :question %></h4>
  <br/>
  <%= f.input :for_partners, as: :boolean %>
  <br/>
  <%= f.input :for_organizations, as: :boolean %>
  <br/>
  <%= f.rich_text_area :content %>
  <br/>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
