<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Admin Dashboard" %>
        <h1>
          Dashboard
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Dashboard
            <% end %>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="fa fa-gratipay"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Donations</span>
          <span class="info-box-number"><%= @donation_count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Distributions</span>
          <span class="info-box-number"><%= @distribution_count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file-text"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Requests</span>
          <span class="info-box-number"><%= @request_count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-institution text-white"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total Organizations</span>
          <span class="info-box-number"><%= @organization_count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- USERS LIST -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title"><strong>Recently Added Users</strong></h3>
          <div class="card-tools">
            <span class="badge badge-danger bg-danger"><%= pluralize(@recent_users.count, "New User") %></span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body users-list p-0">
          <!-- /.table-responsive -->
          <ul class="users-list clearfix">
            <% @recent_users.each do |user| %>
              <li>
                <%= image_tag gravatar_url(user.email, 32) %>
                <%= link_to recently_added_user_display_text(user), edit_admin_user_path(user), class: "users-list-name" %>
                <span class="users-list-date"><%= time_ago_in_words(user.created_at) %></span>
              </li>
            <% end %>
          </ul>
          <br>
          <div class="text-center">
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <%= link_to "View All Users", admin_users_path, class:"btn btn-sm btn-info float-left" %>
          <a href="#" class="btn btn-sm btn-secondary float-right">View All Orders</a>
        </div>
        <!-- /.card-footer -->
      </div>
    </div>
    <div class="col-md-6">
      <!-- USERS LIST -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title"><strong>Recently Added Organizations</strong></h3>
          <div class="card-tools">
            <span class="badge badge-danger bg-danger"><%= pluralize(@recent_organizations.count, "New Organization") %></span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body users-list p-0">
          <!-- /.table-responsive -->
          <ul class="users-list clearfix">
            <% @recent_organizations.each do |org| %>
              <li>
                <%#= image_tag(org&.logo) %>
                <%= link_to org.name, admin_organization_path(org.id), class: "users-list-name" %>
                <span class="users-list-date"><%= time_ago_in_words(org.created_at) %></span>
              </li>
            <% end %>
          </ul>
          <br>
          <div class="text-center">
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <%= link_to "View All Organizations", admin_organizations_path, class:"btn btn-sm btn-info float-left" %>
          <a href="#" class="btn btn-sm btn-secondary float-right">View All Orders</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-14">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title"><strong>Top 10 Uses of Other</strong></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body users-list p-0">
        <!-- /.table-responsive -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Occurrence</th>
            </tr>
          </thead>
          <tbody>
            <% @top_10_other.each do |other| %>
              <tr>
                <td><%= other[0] %></td>
                <td><%= other[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <%= link_to "View All Items", admin_base_items_path, class:"btn btn-sm btn-info float-left" %>
      </div>
    </div>
  </div>
  <div class="col-md-14">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title"><strong>Recently Active Users</strong></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body users-list p-0">
        <!-- /.table-responsive -->
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Organization</th>
              <th>Last Active</th>
            </tr>
          </thead>
          <tbody>
            <% @active_users.each do |user| %>
              <tr>
                <td><%= user.display_name %></td>
                <td><%= user.email %></td>
                <td><%= user.organization&.name %></td>
                <td><%= time_ago_in_words user.last_request_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <%= link_to "View All Items", admin_base_items_path, class:"btn btn-sm btn-info float-left" %>
      </div>
    </div>
  </div>
</section>
