<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-success float-right">Monthly</span>
          <h5>Donations</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%= @donation_count %></h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-info float-right">Annual</span>
          <h5>Distributions</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%= @distribution_count %></h1>
          <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
          <small>New orders</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-primary float-right">Today</span>
          <h5>Requests</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%= @request_count %></h1>
          <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
          <small>New visits</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-danger float-right">Low value</span>
          <h5>Org Count</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%= @organization_count %></h1>
          <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
          <small>In first month</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-danger float-right"><%= pluralize(@recent_users.count, "New User") %></span>
          <h5>Recently Added Users</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="box-body no-padding">
            <ul class="users-list clearfix">
              <% @recent_users.each do |user| %>
                <li>
                  <%= image_tag gravatar_url(user.email, 32) %>
                  <%= link_to user.name, admin_user_path(user), class: "users-list-name" %>
                  <span class="users-list-date"><%= time_ago_in_words(user.created_at) %></span>
                </li>
              <% end %>
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <%= link_to "View All Users", admin_users_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox ">
        <div class="ibox-title">
          <span class="label label-danger float-right"><%= pluralize(@recent_organizations.count, "New Organization") %></span>
          <h5>Recently Added Organizations</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="users-list clearfix">
              <% @recent_organizations.each do |org| %>
                <li>
                  <%= image_tag(org&.logo_path) %>
                  <%= link_to org.name, admin_organization_path(org), class: "users-list-name" %>
                  <span class="users-list-date"><%= time_ago_in_words(org.created_at) %></span>
                </li>
              <% end %>
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <%= link_to "View All Organizations", admin_organizations_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Top 10 Uses of Other</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Occurrence</th>
                </tr>
                </thead>
                <tbody>
                <% @top_10_other.each do |other| %>
                  <tr>
                    <td><%= other[0] %></td>
                    <td><%= other[1] %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <%= link_to "View All Items", admin_base_items_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Users Active Within Past Week</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Organization</th>
                  <th>Last Active</th>
                </tr>
                </thead>
                <tbody>
                <% @active_users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.organization&.name %></td>
                    <td><%= time_ago_in_words user.last_request_at %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
