<% content_for :title, "#{current_organization.name} - Agencies - Diaper Drive Participants" %>

<div class="header-action">
  <%= link_to "New Diaper Drive Participant", new_diaper_drive_participant_path(organization_id: current_organization), class: "button float-right" %>
</div>


<% if @diaper_drive_participants.empty? %>

<div class="reveal" id="addStorageLocationModal" data-reveal>
  <h2 id="modalTitle">Import Diaper Drive Participants</h2>
  <p class="lead">Instructions:</p>
    <ol>
      <li><%= link_to "Download example csv", "/diaper_drive_participants.csv", :format => :csv, :class => "btn btn-info" %>.</li>
      <li>Open the csv file with excel or your favourite spreadsheet program.</li>
      <li>Delete the sample data and enter the diaper drive participant names, emails and phone numbers in the appropriate columns.</li>
      <li>Save the file as a csv file.</li>
      <li>Click the choose file button and navigate to the saved file and select it.</li>
      <li>Then click the Import CSV button to import your storage locations.</li>
    </ol>
    <p class="help-text">Note: You're only able to run the import one time to prevent accidental imports or writing over existing locations!</p>

    <%= form_tag import_csv_diaper_drive_participants_path, multipart: true do %>
        <%= file_field_tag :file, :accept => 'text/csv' %>
        <%= submit_tag "Import CSV", :class => "btn btn-white" %>
    <% end %>
</div>
<br/>
<p><a class="button success" data-open="addStorageLocationModal">Import Diaper Drive Participants</a></p>
<% end %>


<h1>Diaper Drive Participants</h1>

<table id="diaper_drive_participants">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Volume</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "diaper_drive_participant_row", collection: @diaper_drive_participants %>
  </tbody>
</table>
