<section class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Diaper Drive Participants - Agencies - #{current_organization.name}" %>
  <div class="col-lg-7">
    <h2>Diaper drive participants for <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Diaper Drive Participants</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-5">
    <div class="title-action">
      <%= modal_button_to("#csvImportModal", { icon: "upload", text: "Import Diaper Drive Participants", size: "lg"}) if @diaper_drive_participants.empty? %>
      <%= download_button_to(csv_path(format: :csv, type: "DiaperDriveParticipant"), { text: "Export Participants", size: "lg" }) if @diaper_drive_participants.any? %>
      <%= new_button_to new_diaper_drive_participant_path(organization_id: current_organization), text: "New Diaper Drive Participant" %>
    </div>
  </div>
</section>

<!-- Main content -->
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Buisness Name</th>
                  <th>Contact Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Total Diapers</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "diaper_drive_participant_row", collection: @diaper_drive_participants %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    title: "Import Diaper Drive Participants",
    csv_template_url: "/diaper_drive_participants.csv",
    csv_import_url: import_csv_diaper_drive_participants_path
  }
) do %>
  <li>Open the csv file with excel or your favourite spreadsheet program.</li>
  <li>Delete the sample data and enter the diaper drive participant names, emails and phone numbers in the appropriate columns.</li>
  <li>Save the file as a csv file.</li>
<% end %>