<h1> We've just received a confirmed account request from <%= @account_request.organization_name %> </h1>

<h3> Here are their details </h3>
<table>
  <thead>
    <td>Attribute Name</td>
    <td>Value</td>
  </thead>

  <% @account_request.attributes.each do |ar, val| %>
    <tr>
      <td><%= ar.humanize %></td>
      <td><%= val %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'Create This Organization', new_admin_organization_url(token: @account_request.identity_token) %>
    <%= link_to 'Reject This Organization', for_rejection_admin_account_requests_url(token: @account_request.identity_token) %>
