<%= form_with(model: family, local: true) do |form| %>
  <div class="row">
    <div class="col-md-12">
      <% if family.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

            <ul>
            <% family.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="tile">
          <h3 class="tile-title">Family Information</h3>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_first_name, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_first_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_last_name, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_last_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_zip_code, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_zip_code, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_country, "Guardian County", class: "control-label col-md-3" %>
              <%= form.text_field :guardian_country, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_phone, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_phone , class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :agency_guardian_id, "Agency Care Manager", class: "control-label col-md-3" %>
              <%= form.text_field :agency_guardian_id, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_adult_count, "Number of Adults Living In The Home", class: "control-label col-md-3" %>
              <%= form.number_field :home_adult_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_child_count, 'How Many Children (5-17) Live In the Home?', class: "control-label col-md-3" %>
              <%= form.number_field :home_child_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_young_child_count, 'How Many Children (under 5) Live in the Home?', class: "control-label col-md-3" %>
              <%= form.number_field :home_young_child_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :sources_of_income, class: "control-label col-md-3"%>
              <% Family::INCOME_TYPES.each do |a_value| %>
                <%= form.check_box(:sources_of_income, { :multiple => true }, a_value, nil) %>
                <%= form.label "#{a_value}" %>
              <% end %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_employed, "Is The Parent/Guardian Employed?", class: "control-label col-md-3" %>
              <%= form.radio_button :guardian_employed, 'Yes' %>
              <%= label :guardian_employed, 'Yes' %>
              <%= form.radio_button :guardian_employed, 'No' %>
              <%= label :guardian_employed, 'No' %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_employment_type, "Full-Time or Part-Time", class: "control-label col-md-3" %>
              <%= form.radio_button :guardian_employment_type, 'Full-Time' %>
              <%= label :guardian_employment_type, 'Full-Time' %>
              <%= form.radio_button :guardian_employment_type, 'Part-Time' %>
              <%= label :guardian_employment_type, 'Part-Time' %>
              <%= form.radio_button :guardian_employment_type, 'N/A' %>
              <%= label :guardian_employment_type, 'N/A' %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_monthly_pay, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_monthly_pay, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_health_insurance, class: "control-label col-md-3"%>
              <%= form.radio_button :guardian_health_insurance, 'Private Insurance' %>
              <%= label :guardian_health_insurance, 'Private Insurance' %>
              <%= form.radio_button :guardian_health_insurance, 'Medicaid' %>
              <%= label :guardian_health_insurance, 'Medicaid' %>
              <%= form.radio_button :guardian_health_insurance, 'Uninsured' %>
              <%= label :guardian_health_insurance, 'Uninsured' %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :military, "Military Family", class: "control-label col-md-3" %>
                <%= form.radio_button :military, true %> Yes
                &nbsp;
                <%= form.radio_button :military, false %> No
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :comments, class: "control-label col-md-3" %>
              <%= form.text_area :comments, class: "col-md-8 form-control" %>
            </div>
          </div>

        <div class="actions">
          <%= form.submit(class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
