<%= form_with(model: family, local: true) do |form| %>
  <div class="row">
    <div class="col-md-12">
      <% if family.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

            <ul>
            <% family.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="tile">
          <h3 class="tile-title">Family Information</h3>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_first_name, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_first_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_last_name, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_last_name, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_zip_code, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_zip_code, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_country, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_country, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_phone, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_phone , class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :agency_guardian_id, class: "control-label col-md-3" %>
              <%= form.text_field :agency_guardian_id, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_adult_count, class: "control-label col-md-3" %>
              <%= form.number_field :home_adult_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_child_count, class: "control-label col-md-3" %>
              <%= form.number_field :home_child_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :home_young_child_count, class: "control-label col-md-3" %>
              <%= form.number_field :home_young_child_count, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :sources_of_income, class: "control-label col-md-3" %>
              <%= form.text_field :sources_of_income, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_employed, class: "control-label col-md-3" %>
              <%= form.check_box :guardian_employed, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_employment_type, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_employment_type, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_monthly_pay, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_monthly_pay, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :guardian_health_insurance, class: "control-label col-md-3" %>
              <%= form.text_field :guardian_health_insurance, class: "col-md-8 form-control" %>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :military, "Military Family", class: "control-label col-md-3" %>
              <div class="form-control col-md-8">
                <%= form.radio_button :military, true %> Yes
                &nbsp;
                <%= form.radio_button :military, false %> No
              </div>
            </div>
          </div>

          <div class="form-horizontal">
            <div class="form-group row">
              <%= form.label :comments, class: "control-label col-md-3" %>
              <%= form.text_area :comments, class: "col-md-8 form-control" %>
            </div>
          </div>

        <div class="actions">
          <%= form.submit(class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
