<div class="app-title">
  <div>
    <h1><i class="fa fa-users"></i>&nbsp;&nbsp;Families</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="#">All Families</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <p><%= notice %><a class="alert-link" href="#"></a></p>
      </div>
    <% end %>
    <div class="tile">
      <h3><%= current_partner.name %> Families Served</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Guardian last name</th>
          <th scope="col">Guardian first name</th>
          <th scope="col">Agency guardian</th>
          <th scope="col">Comments</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @families.each do |family| %>
          <tr>
            <td><%= family.guardian_last_name %></td>
            <td><%= family.guardian_first_name %></td>
            <td><%= family.agency_guardian_id %></td>
            <td><%= family.comments %></td>
            <td><%= link_to 'View Family', family, class: "btn btn-sm btn-info pull-right" %></td>
            <td><%= link_to 'Edit Family Details', edit_family_path(family), class: "btn btn-sm btn-success pull-right" %></td>
        <% end %>
        </tbody>
      </table>
      <hr>
      <%= link_to 'Add New Family', new_family_path, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
