<div class="app-title">
  <div>
    <h1><i class="fa fa-users"></i> Family Details</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-users"></i></li>
    <li class="breadcrumb-item"><a href="#">View Family</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <p><%= notice %><a class="alert-link" href="#"></a></p>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12">
        <div class="card mb-12">
          <h5 class="card-header bg-primary text-white">Family Information
            <%= link_to 'Add An Authorized Member To This Family', new_authorized_family_member_path(family_id: family.id), class: "btn btn-sm btn-warning pull-right", style: "margin-left:10px;" %>
            <%= link_to 'Add Child To This Family', new_child_path(family_id: family.id), class: "btn btn-sm btn-warning pull-right" %>
          </h5>
          <div class="card-body">
            <dl>
              <dt>Guardian first name:</dt>
              <dd><%= family.guardian_first_name %></dd>

              <dt>Guardian last name:</dt>
              <dd><%= family.guardian_last_name %></dd>

              <dt>Guardian zip code:</dt>
              <dd><%= family.guardian_zip_code %></dd>

              <dt>Guardian country:</dt>
              <dd><%= family.guardian_country %></dd>

              <dt>Guardian phone:</dt>
              <dd><%= family.guardian_phone %></dd>

              <dt>Agency guardian:</dt>
              <dd><%= family.agency_guardian_id %></dd>

              <dt>Home adult count:</dt>
              <dd><%= family.home_adult_count %></dd>

              <dt>Home child count:</dt>
              <dd><%= family.home_child_count %></dd>

              <dt>Home young child count:</dt>
              <dd><%= family.home_young_child_count %></dd>

              <dt>Sources of income:</dt>
              <dd><%= family.sources_of_income %></dd>

              <dt>Guardian employed:</dt>
              <dd><%= family.guardian_employed %></dd>

              <dt>Guardian employment type:</dt>
              <dd><%= family.guardian_employment_type %></dd>

              <dt>Guardian monthly pay:</dt>
              <dd><%= family.guardian_monthly_pay %></dd>

              <dt>Guardian health insurance:</dt>
              <dd><%= family.guardian_health_insurance %></dd>

              <dt>Military family:</dt>
              <dd><%= family.military %></dd>

              <dt>Comments:</dt>
              <dd><%= family.comments %></dd>
            </dl>

            <%= link_to 'Edit This Family', edit_family_path(family), class: "btn btn-sm btn-primary" %>
            <%= link_to 'Back to Families', families_path, class: "btn btn-sm btn-info pull-right" %>
            <%= link_to 'Add Child To This Family', new_child_path(family_id: family.id), class: "btn btn-sm btn-success" %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card mb-12">
            <h5 class="card-header bg-primary text-white">Authorized Members for Pick Up</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Comments</th>
                  </tr>
                </thead>
                <tbody>
                  <% family.authorized_family_members.each do |member| %>
                    <tr>
                      <td><%= member.first_name %></td>
                      <td><%= member.last_name %></td>
                      <td><%= member.date_of_birth %></td>
                      <td><%= member.comments %></td>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
