<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Families - #{current_partner.name}" %>
        <h1><i class="fa fa-users"></i>&nbsp;&nbsp;
          Families
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(partner_user_root_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Familes</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card">
          <div class="card-header bg-primary">
            <h3 class="card-title">Filters</h3>
          </div>
          <div class="card-body">
            <%= form_for_filterrific @filterrific, remote: true do |f| %>
              <div class="row">
                <div class="col-3">
                  <%= f.label :search_guardian_names, "Search By Guardian Name" %>
                  <%= f.text_field(
                          :search_guardian_names,
                          class: 'filterrific-periodically-observed form-control'
                      ) %>
                </div>
                <div class="col-3">
                  <%= f.label :search_agency_guardians, "Search By Case Manager" %>
                  <%= f.text_field(
                          :search_agency_guardians,
                          class: 'filterrific-periodically-observed form-control'
                      ) %>
                </div>
                <div class="col-2">
                  <%= f.label :include_archived, "Include Archived?" %>
                  <br>
                  <%= f.check_box(
                          :include_archived,
                          class: 'filterrific-periodically-observed',
                      ) %>
                </div>
                <div class="col-3">
                  <%= render_filterrific_spinner %>
                </div>
              </div>
              </div><!-- /.row -->
              <div class="card-footer">
                <%= link_to(
                        'Reset Search',
                        reset_filterrific_url,
                        class: 'btn btn-danger'
                    ) %>
                <span class="float-right">
                  <%= link_to 'Add New Family', new_partners_family_path, class: "btn btn-info" %>
                </span>
            <% end %>
            </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body">
            <div id="filterrific_results">
              <%= render(
                      partial: 'partners/families/list',
                      locals: {families: @families}
                  ) %>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
