<table class="table table-items-location">
<thead>
<tr>
  <th>Name</th>
  <th>Items</th>
  <th>Allocations</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
  <% @kits.each do |kit| %>
    <tr>
      <td><%= kit.name %></td>
      <td>
        <ul>
          <% kit.line_items.quantities_by_name.map do |id, item_hash| %>
            <li><%= "#{item_hash[:quantity]} #{item_hash[:name]}" %></li>
          <% end %>
        </ul>
      </td>
      <td class='d-flex flex-column'>
        <table>
          <thead>
            <tr>
              <td> Storage Location </td>
              <td> Quantity </td>
            </tr>
          </thead>
          <% if @inventory %>
            <% @inventory.all_items.select { |i| i.item_id == kit.item.id}.each do |item| %>
              <tr>
                <td><%= @inventory.storage_location_name(item.storage_location_id) %></td>
                <td><%= item.quantity %></td>
              </tr>
            <% end %>
          <% else %>
            <% kit.inventory_items.map do |inventory_item| %>
              <% next if inventory_item.storage_location.discarded_at %>
              <tr>
                <td><%= inventory_item.storage_location.name %></td>
                <td><%= inventory_item.quantity %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <div class='align-self-center'>
          <%= edit_button_to allocations_kit_path(kit), { text: "Modify Allocation" } %>
        </div>
      </td>
      <td>
        <% if kit.active %>
          <%= deactivate_kit_button(kit, @inventory) %>
        <% else %>
          <%= reactivate_button_to reactivate_kit_path(kit),
                                   { confirm: confirm_reactivate_msg(kit.name),
                                     class: 'reactivate-kit-button',
                                     size: 'm' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<script type="module">
  $('.tooltip-target').tooltip();
</script>
