<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "New - Adjustments - Inventory - #{current_organization.name}" %>
        <h1>
          New Inventory Adjustment
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
            <i class="fa fa-dashboard"></i> Home
          <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Inventory Adjustments", (adjustments_path) %></li>
          <li class="breadcrumb-item"><a href="#">New Adjustment</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <p class="box-title">Create an <strong>Adjustment</strong> to manually increase (+) or decrease (-)
                the amount of inventory in a particular storage location.</p>
              </div>
              <div class="box-body">
                <p class="help">Enter a negative (-) amount for <code>quantity</code> if you want to subtract that
                kind of item.</p>
                <p class="help">Simply enter an amount for <code>quantity</code> if you want to add that kind of item.
                </p>
                <%= form_for :kit_adjustment do |f| %>
                  <%= f.collection_select :storage_location_id, @storage_locations, :id, :name, include_blank: true %>

                  <h1 id='storage-location-quantity-display'> You have 0 at storage facility </h1>
                  <fieldset style="margin-bottom: 2rem;" class="form-inline">
                    <%= f.number_field :quantity %>
                  </fieldset>

              </div>
              <div class="card-footer">
                <%= submit_button %>
              </div>
            <% end %>
            </div>
          </div><!-- /.box -->
        </div>
      </div>
    </div>
  </div>
</section>

