<tr>
  <td>
    <%= user.display_name %>
  </td>
  <td><%= user.email %></td>
  <td><%= user.kind %> </td>
  <td><%= user.current_sign_in_at&.strftime('%Y/%m/%d') %></td>
  <td><%= user.invitation_status %></td>
  <td nowrap><%= reinvite_user_link(user) %></td>
  <td>
    <% unless user.has_role?(Role::SUPER_ADMIN) || user.has_role?(Role::ORG_ADMIN, current_organization) %>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="<%= dom_id(user, "dropdownMenu") %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%=
              edit_button_to(
                promote_to_org_admin_organization_path(user_id: user.id),
                {text: 'Promote to Admin'},
                {method: :post, rel: "nofollow", data: {confirm: 'This will promote the user to admin status. Are you sure that you want to submit this?', size: 'xs'}}
              )
            %>
          </li>
          <li>
            <%= delete_button_to remove_user_organization_path(user_id: user.id),
              {id: dom_id(user), method: :post, class: 'deactivate', text: "Remove User", rel: "nofollow", data: {confirm: 'This will revoke the user\'s organization permissions. Are you sure that you want to submit this?', size: 'xs'}} %>
          </li>
        </ul>
      </div>
    <% end %>
    <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) && user.has_role?(Role::ORG_ADMIN, current_organization) %>
      <%= edit_button_to demote_to_user_organization_path(user_id: user.id),
                 {text: 'Demote to User'},
                 {method: :post, rel: "nofollow", data: {confirm: 'This will demote the admin to user status. Are you sure that you want to submit this?', size: 'xs'}} unless user.id == current_user.id %>
    <% end %>
  </td>
</td>
</tr>
