<div class="box">
  <div class="box-body">
    <% content_for :title, "New - Users - #{current_organization.name}" %>

    <h1>Add a user to <%= current_organization.name %></h1>

    <%= simple_form_for(@user) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: "Name", wrapper: :input_group, required: true, autofocus: true do %>
          <span class="input-group-text"><%= fa_icon "user" %></span>
          <%= f.input_field :name, class: "form-control" %>
        <% end %>
        <%= f.input :email, label: "E-mail", wrapper: :input_group, required: true do %>
          <span class="input-group-text"><%= fa_icon "envelope" %></span>
          <%= f.input_field :email, class: "form-control" %>
        <% end %>
        <%= f.input :password, label: "Password", wrapper: :input_group, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) do %>
          <span class="input-group-text"><%= fa_icon "lock" %></span>
          <%= f.input_field :password, class: "form-control" %>
        <% end %>
        <%= f.input :password_confirmation, label: "Confirm Password", wrapper: :input_group, required: true do %>
          <span class="input-group-text"><%= fa_icon "check" %></span>
          <%= f.input_field :password_confirmation, class: "form-control" %>
        <% end %>
      </div>

      <div class="form-actions">
        <%= submit_button %>
      </div>
    <% end %>
  </div>
</div>
