<div class="box">
  <div class="box-body">


  <% content_for :title, "#{current_organization.name} - Users - New" %>

  <h1>Add a user to <%= current_organization.name %></h1>

  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create user" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>
</div>