<tr <%= 'class=highlight' if distribution_row.id == @highlight_id %>>
  <td><%= distribution_row.partner.name %></td>
  <td><%= (distribution_row.issued_at.presence || distribution_row.created_at).strftime("%m/%d/%Y") %> </td>
  <td><%= distribution_row.storage_location.name %></td>
  <td><%= distribution_row.line_items.total %></td>
  <td><%= item_value(distribution_row.value_per_itemizable) %></td>
  <td class="text-right">
    <%= view_button_to distribution_path(distribution_row) %>
    <%= edit_button_to edit_distribution_path(distribution_row) %>
    <%= print_button_to print_distribution_path(distribution_row, format: :pdf) %>
    <%= delete_button_to reclaim_distribution_path(distribution_row),
          { confirm: "Are you sure you want to reclaim this distribution to #{distribution_row.partner.name}?",
            text: "Reclaim",
            method: "post",
            icon: "undo" } 
    %>
  </td>
</tr>
