<tr <%= 'class=highlight' if distribution_row.id == @highlight_id %>>
  <td><%= distribution_row.partner.name %></td>
  <td class="date"><%= (distribution_row.issued_at.presence || distribution_row.created_at).strftime("%m/%d/%Y") %> </td>
  <td><%= distribution_row.storage_location.name %></td>
  <td class="numeric"><%= distribution_row.line_items.total %></td>
  <td class="numeric"><%= item_value(distribution_row.value_per_itemizable) %></td>
  <td><%= distribution_row.state&.humanize %>

  <td class="text-right">
    <%= view_button_to distribution_path(distribution_row) %>
    <% if distribution_row.future? || current_user.organization_admin? %>
      <%= edit_button_to edit_distribution_path(distribution_row) %>
    <% end %>
    <%= print_button_to print_distribution_path(distribution_row, format: :pdf) %>
    <%= delete_button_to distribution_path(distribution_row),
          { confirm: "Are you sure you want to reclaim this distribution to #{distribution_row.partner.name}?",
            text: "Reclaim",
            icon: "undo" }
    %>
  </td>
</tr>
