<%= simple_form_for distribution,
                    data: { controller: "form-input", confirmation_target: "form" },
                    html: { class: "storage-location-required" },
                    wrapper_mappings: { datetime: :custom_multi_select } do |f| %>

  <div class="box-body">
    <%= f.simple_fields_for :request do |r| %>
      <%= r.input :id, as: :hidden %>
    <% end %>

    <%= f.association :partner,
      collection: current_organization.partners.alphabetized,
      label: "Partner",
      error: "Which partner is this distribution going to?" %>

    <div class='w-72'>
      <%= f.input :issued_at, as: :datetime, ampm: true, minute_step: 15, label: "Distribution date and time", html5: true, :input_html => { :value => date_place_holder&.strftime("%Y-%m-%dT%0k:%M")} %>
    </div>
    <%= f.input :reminder_email_enabled, as: :boolean, checked_value: true, unchecked_value: false, label: "Send email reminder the day before?" %>
    <%= f.input :agency_rep, label: "Agency representative" %>

    <div class='d-flex flex-row' data-controller="distribution-delivery">
      <span class="w-25">
        <%= f.input :delivery_method, as: :radio_buttons, :input_html => { data: { action: "distribution-delivery#toggleShippingCost" } }, collection: Distribution.delivery_methods.keys, label_method: :humanize, label: "Delivery method" %>
      </span>
      <div class="mx-2 mt-5" id="shipping_cost_div" data-distribution-delivery-target="shippingCost">
        <%= f.input :shipping_cost, label: "Shipping cost", placeholder: "Shipping Cost", value: number_to_currency(f.object.shipping_cost.to_f, delimiter: '', unit: '') %>
      </div>
    </div>

    <%= render partial: "storage_locations/source", object: f, locals: { include_omitted_items: true } %>

    <%= f.input :comment, label: "Comment" %>

    <fieldset style="margin-bottom: 2rem">
      <legend>Items in this distribution</legend>
      <div id="distribution_line_items" data-capture-barcode="true" class="line-item-fields">
          <%= render 'line_items/line_item_fields', form: f %>
      </div>
      <div class="row links justify-content-end">
        <%= add_element_button "Add Another Item", container_selector: "#distribution_line_items" , id: "__add_line_item" do %>
          <%= render 'line_items/line_item_fields', form: f, object: LineItem.new %>
        <% end %>
      </div>

    </fieldset>
  </div>
  <div class="card-footer">
    <%= submit_button({}, { action: "click->confirmation#openModal" }) %>
  </div>
<% end %>

<%# Confirmation modal: See confirmation_controller.js for how this gets displayed %>
<%# and app/controllers/distributions_controller.rb#validate for how it gets populated. %>
<div id="distributionConfirmationModal"
  class="modal confirm"
  aria-labelledby="distributionConfirmationModal"
  aria-hidden="true"
  tabindex="-1"
  data-bs-backdrop="static"
  data-confirmation-target="modal">
</div>
