<tr>
  <td><%= pickup_day_row.partner.name %></td>
  <td><%= pickup_day_row.issued_at.strftime("%l:%M %p") %> </td>
  <td><%= pickup_day_row.storage_location.name %></td>
  <td><%= pickup_day_row.line_items.total %></td>
  <td>
    <% if pickup_day_row.complete? %>
      Complete
    <% else %>
      Scheduled
    <% end %>
  </td>
  <td class="text-right">
    <%= update_button_to picked_up_distribution_path(pickup_day_row), {text: "Distribution Complete", size: "xs"} if !pickup_day_row.complete? %>
    <%= view_button_to distribution_path(pickup_day_row) %>
  </td>
</tr>
