<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "#{current_organization.name} - Distributions - Edit" %>
        <h1>
          Edit Distribution
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Distributions", distributions_path %></li>
          <li class="breadcrumb-item"><a href="#">Edit Distribution</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">

  <% unless @distribution.future? %>
    <div class="alert alert-warning" role="alert">
      The current date is past the date this distribution was scheduled for.
      Please be very careful when editing this record;
      the contents should match what was given to the recipient.
    </div>
  <% end %>
  <% if @audit_warning %>
    <div class="alert alert-warning" role="alert">
      You’ve had an audit since this distribution was started.
      In the rare case that you are correcting a typo,
      rather than recording that the physical amounts being distributed have changed,
      you’ll need to make an adjustment to the inventory as well.
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <!-- Default box -->
            <div class="box">
              <div class="box-body">
                <%= render 'form', distribution: @distribution, date_place_holder: @distribution.issued_at %>
              </div>
            </div><!-- /.box -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "barcode_items/barcode_modal" %>
</section>
