<div class="row border-bottom white-bg dashboard-header">

<div class="row">
    <div class="col-lg-12">

      <% content_for :title, "Distributions - #{current_organization.name}" %>
      <h1>
        Distributions
        <small>for <%= current_organization.name %></small>
      </h1>

      <div class="btn-group pull-right">
        <p>
          <%= download_button_to(csv_path(format: :csv, type: "Distribution"), text: "Export Distributions", size: "lg") if @distributions.length > 0 %>

          <%= new_button_to new_distribution_path(organization_id: current_organization), {text: "New Distribution"} %>
        <p>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="row">
    <div class="col-lg-12">
      <!-- /.box-header -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Partner</th>
            <th>Date of Distribution</th>
            <th>Source Inventory</th>
            <th>Total items</th>
            <th>Total value</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: "distribution_row", collection: @distributions %>
          <%= render partial: "distribution_total" %>
          </tbody>
        </table>
      </div><!-- /.box-body.table-responsive -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div>