<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "New - Distributions - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h2>New Distribution for <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Distributions", (distributions_path) %>
      </li>
      <li class="breadcrumb-item active">
        New Distribution
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">

  <%= simple_form_for @distribution, html: { class: "storage-location-required" } do |f| %>
    <%= f.simple_fields_for :request do |r| %>
      <%= r.input :id, as: :hidden %>
    <% end %>

    <%= f.association :partner,
      collection: current_organization.partners,    
      label: "Partner",
      error: "Which partner is this distribution going to?" %>

      <%= f.input :issued_at, as: :date, label: "Distribution pick-up date" %>
      <%= f.input :agency_rep, label: "Agency representative" %>

    <%= render partial: "storage_locations/source", object: f %>
    
    <%= f.input :comment, label: "Comment" %>


    <fieldset style="margin-bottom: 2rem;" class="form-inline">
      <legend>Items in this distribution</legend>
      <%= f.simple_fields_for :line_items do |item| %>
        <div id="distribution_line_items" class="line-item-fields" data-capture-barcode="true">
          <%= render 'line_items/line_item_fields', f: item %>
        </div>
      <% end %>
      <div class="links">
        <div class="col-xs-12">
          <%= add_line_item_button f, "#distribution_line_items" %>
        </div>
      </div>

    </fieldset>
    <div class="col-xs-12 text-right">
      <%= submit_button(align: nil) %>
    </div>
  <% end %>
  </div>
</div>
</div>

<%= render partial: "donations/barcode_modal" %>

</div>
