<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "New - Distributions - #{current_organization.name}" %>
        <h1>
          New Distribution
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Distributions", distributions_path %></li>
          <li class="breadcrumb-item"><a href="#">New Distribution</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <!-- Default box -->
            <div class="box"
              data-controller="confirmation"
              data-confirmation-pre-check-path-value="<%= validate_distributions_path(format: :json) %>">
              <%= render 'form', distribution: @distribution, date_place_holder: Time.zone.now.end_of_day %>
            </div><!-- /.box -->
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "barcode_items/barcode_modal" %>
</section>
