<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Distribution Schedule for #{@selected_date.strftime("%B %e, %Y")}" %>
        <h1>
          Distribution Schedule for <%= @selected_date.strftime("%B %e, %Y") %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Distributions", distributions_path %></li>
          <li class="breadcrumb-item"><%= link_to "Schedule", schedule_distributions_path %></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Partner</th>
                <th>Time of Distribution</th>
                <th>Source Inventory</th>
                <th>Total items</th>
                <th>Status</th>
                <th class="text-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "pickup_day_row", collection: @pick_ups %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Item totals for <%= @selected_date.strftime("%B %e, %Y") %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Number of Packages</th>
              </tr>
              </thead>
              <tbody>
                <%= render partial: "daily_item_row", collection: @daily_items %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
