<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "#{@distribution.storage_location.name} - Distributions - #{current_organization.name}" %>
        <h1>
          Distribution
          <small>from <%= @distribution.storage_location.name %> to <b><%= @distribution.partner.name %></b></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Distributions", distributions_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @distribution.partner.name %>
            <% if @distribution.persisted? %>
              <%= "(#{@distribution.created_at.strftime("%m/%d/%Y")})" %></li>
            <% end %></a></li>
            </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Source location:</th>
                <th>Agency representative:</th>
                <th>Delivery method:</th>
                <th>Shipping cost:</th>
                <th>Comments:</th>
                <th>State:</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @distribution.id %></td>
                <td><%= @distribution.storage_location.name %></td>
                <td><%= @distribution.agency_rep %></td>
                <td><%= @distribution.delivery_method.humanize %></td>
                <td><%= distribution_shipping_cost(@distribution.shipping_cost) %></td>
                <td><%= @distribution.comment %></td>
                <td><%= @distribution.state&.humanize %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Item</th>
                <th>Value per item</th>
                <th>Total value</th>
                <th>Quantity</th>
                <th>Package count</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "distribution_item_row", collection: @line_items %>
              <%= render partial: "distribution_item_total" %>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <%= update_button_to picked_up_distribution_path(@distribution), {text: "Distribution Complete", size: "md"} if @distribution.scheduled? %>
            <% if @distribution.future? || current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
              <%= edit_button_to edit_distribution_path(@distribution), {
                text: "Make a Correction",
                enabled: !@distribution.has_inactive_item?,
                size: "md"} %>
            <% end %>
            <%= print_button_to print_distribution_path(@distribution, format: :pdf), {size: "md"} %>
          </div>
          <% if @distribution.has_inactive_item? %>
            <div class="low_prioirty_warning">
              You can only correct distributions where all the items are active.
              If you need to make a correction, please make the following items active: <%= @distribution.inactive_items.map(&:name).join(", ") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
