<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "#{@distribution.storage_location.name} - Distributions - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Distribution
      <small>for <%= @distribution.storage_location.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item"><%= link_to "Distributions", (distributions_path) %></li>
      <li class="breadcrumb-item active"> <%= @distribution.partner.name %>
        <% if !@distribution.new_record? %>
          <%= "(#{@distribution.created_at.strftime("%m/%d/%Y")})" %></li>
        <% end %>
        </ol>
   </div>
</div>

<!-- Main content -->
<div class="wrapper wrapper-content animated fadeInRight">
  <!-- Default box -->
  <div class="ibox">
    <div class="ibox-title with-border">
      <h3 class="box-title">Distribution Manifest for <%= @distribution.distributed_at %>
        to <%= @distribution.partner.name %></h3>
    </div>
    <div class="ibox-content">
      <p>Source location: <%= @distribution.storage_location.name %></p>
      <p>Agency representative: <%= @distribution.agency_rep %></p>
      <h4>Total Items Distributed</h4>
      <div class="row">
        <div class="col-12">
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th><b>Quantity</b></th>
                <th><b>Value per item</b></th>
                <th><b>Total value</b></th>
                <th><b>Item</b></th>
              </tr>
              <%= render partial: "distribution_item_row", collection: @line_items %>
              <%= render partial: "distribution_item_total" %>
            </table>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
    <div class="ibox-footer with-border">
      <%= edit_button_to edit_distribution_path(@distribution), {text: "Make a Correction", size: "lg"} %>
      <%= print_button_to print_distribution_path(@distribution, format: :pdf), {size: "lg"} %>
    </div>
  </div>
</div>
