<tr>
  <td><%= purchase_row.purchased_from_view %></td>
  <td><%= purchase_row.storage_location.name %></td>
  <td><%= purchase_row.line_items.total %></td>
  <td><%= purchase_row.line_items.size %></td>
  <td><%= purchase_row.amount_spent %></td>
  <td class="text-right">
    <%= view_button_to purchase_path(purchase_row) %>
  </td>
</tr>
