<%= simple_form_for @purchase, html: { class: "storage-location-required" } do |f| %>
  <%= f.association :vendor,
                    collection: @vendors,
                    label_method: :business_name,
                    label: "Vendor #{purchased_from(@purchase)}",
                    error: "Which vendor was this from?" %>
  <%= f.association :storage_location,
                    collection: @storage_locations,
                    label: "Storage Location",
                    error: "Where is it being stored?",
                    selected: current_organization.intake_location %>
  <%= f.input :amount_spent %>
  <%= f.input :comment %>
  <%= f.input :issued_at,
              label: "Issued on",
              as: :date,
              html5: true %>

  <fieldset style="margin-bottom: 2rem;" class="form-inline">
    <legend>Items in this purchase</legend>
    <%= f.simple_fields_for :line_items do |item| %>
      <div id="purchase_line_items" class="line-item-fields" data-capture-barcode="true">
        <%= render 'line_items/line_item_fields', f: item %>
      </div>
    <% end %>
    <div class="links">
      <div class="col-xs-12">
        <%= add_line_item_button f, "#purchase_line_items", {} %>
      </div>
    </div>
  </fieldset>
  <div class="col-xs-12 text-right">
    <%= submit_button(align: nil) %>
  </div>
<% end %>
