<tr>
  <td><%= purchase_row.purchased_from %></td>
  <td><%= purchase_row.storage_location.name %></td>
  <td><%= purchase_row.line_items.total %></td>
  <td><%= purchase_row.line_items.size %></td>
  <td class="text-right">
   <%= link_to "View", purchase_path(purchase_row), class: "btn btn-primary btn-xs" %>
  </td>
</tr>
