<%= simple_form_for @purchase do |f| %>
  <div class="box-body">

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :vendor,
                          collection: @vendors,
                          label_method: lambda { |x| "#{x.try(:business_name) }" },
                          label: "Vendor #{purchased_from(@purchase)}",
                          error: "Which vendor was this from?",
                          wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :storage_location,
                          collection: @storage_locations,
                          label: "Storage Location",
                          error: "Where is it being stored?",
                          selected: current_organization.intake_location,
                          wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6">
        <%= f.input :amount_spent_in_dollars,
                    label: "Purchase Total",
                    wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6">
        <%= f.input :comment,
                    wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.input :issued_at,
                    label: "Issued on",
                    as: :date,
                    html5: true,
                    wrapper: :input_group %>
      </div>
    </div>

    <fieldset style="margin-bottom: 2rem;" class="form-inline justify-content-around" id="purchase_line_items_container">
      <legend>Items in this purchase</legend>
      <%= f.simple_fields_for :line_items do |item| %>
        <%= render partial: 'line_items/line_item_fields', locals: { f: item, div_id: "purchase_line_items" } %>
      <% end %>
    </fieldset>

    <div class="row links align-items-center mb-3 mr-3">
      <div class="col-xs-12 ml-auto">
        <%= add_line_item_button f, "#purchase_line_items_container", { partial_locals: { div_id: "purchase_line_items" }} %>
      </div>
    </div>

    <div class="card-footer">
      <%= submit_button %>
    </div>
  </div><!-- /.box-body.container -->
<% end %>
