<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Edit - Purchases - #{@purchase.purchased_from_view} - #{current_organization.name}" %>
        <h1>
          Editing Purchase
          <small>from <%= @purchase.purchased_from_view %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Purchases", purchases_path %></li>
          <li class="breadcrumb-item"><a href="#">Editing <%= @purchase.purchased_from_view %>
            on <%= @purchase.created_at.to_fs(:distribution_date) %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <% if @audit_performed_and_finalized %>
      <div class="card-header border-0 bg-gradient-warning">
        You’ve had an audit since this purchase was started. In the case that you are correcting a typo, rather than recording that the physical amounts being purchased have changed,
        you’ll need to make an adjustment to the inventory as well.
      </div>
    <% end %>
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= render partial: "purchase_form", object: @purchase %>
            <%= link_to "Add vendor", new_vendor_path, {:remote => true, "data-bs-toggle" => "modal", "data-bs-target" => "#modal-window", id: "new_vendor", "style" => "display: none;"} %>
          </div><!-- /.box -->
        </div>
      </div>
    </div>
  </div>
</section>
<%= render partial: "barcode_items/barcode_modal" %>
