<section class="content-header">
  <% content_for :title, "Purchases - #{current_organization.name}" %>
  <h1>
    Purchases
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li><a href="#">Purchases</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <%= form_tag(purchases_path, method: :get) do |f| %>
          <div class="row">
            <% if @storage_locations.present? %>
              <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <%= label_tag "by Storage Location" %>
                <%= collection_select(:filters, :at_storage_location, @storage_locations || {}, :id, :name, {include_blank: true, selected: @selected_storage_location}, class: "form-control") %>
              </div>
            <% end %>
            <% if @vendors.present? %>
              <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <%= label_tag "by Vendors" %>
                <%= collection_select(:filters, :from_vendor, @vendors || {}, :id, :business_name, {include_blank: true, selected: @selected_vendor}, class: "form-control") %>
              </div>
            <% end %>
          </div><!-- /.row -->
          <div class="row">
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "from Date" %>
              <%= date_field :dates, :date_from, class: "form-control", value: @date_from %>
            </div>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "to Date" %>
              <%= date_field :dates, :date_to, class: "form-control", value: @date_to %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= filter_button %>
              <%= cancel_button_to purchases_path, {text: "Clear Filters"} %>

              <div class="pull-right">
                <%= download_button_to(csv_path(format: :csv, type: "Purchase"), {text: "Export Purchases", size: "lg"}) if @purchases.any? %>
                <%= new_button_to new_purchase_path(organization_id: current_organization), {text: "New Purchase"} %>
              </div>

            </div>
          </div><!-- /.row -->
        <% end # form %>
      </section><!-- /#filters -->
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped">
              <thead>
              <tr>
                <th>Purchases from</th>
                <th>Storage Location</th>
                <th>Quantity of Items</th>
                <th>Variety of Items</th>
                <th>Amount spent</th>
                <th>Purchased Date</th>
                <th class="pull-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "purchase_row", collection: @purchases %>
              <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <strong id="purchase_quantity">
                    <%= @purchases_quantity %> (Total)
                  </strong>
                  <br/>
                  <%= @paginated_purchases_quantity %> (This page)
                </td>
                <td></td>
                <td><strong><%= item_value(@total_value_all_purchases) %></strong></td>
                <td></td>
              </tr>
              </tbody>
            </table>
            <%= paginate @paginated_purchases %>
          </div><!-- /.box-body.table-responsive -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>