<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "New - Purchases - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h2>Start a new purchase <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Purchases", (purchases_path) %>
      </li>
      <li class="breadcrumb-item active">
        New purchase
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <%= render partial: "purchase_form", object: @purchase %>
        <%= link_to "Add vendor", new_vendor_path, {remote: true,"data-toggle" =>  "modal", "data-target" => "#modal-window", id: "new_vendor", "style" => "display: none;"} %>
      </div>
    </div>
  </div>
  <%= render partial: "barcode_modal" %>
</div>
