<section class="content-header">
  <% content_for :title, "Purchases - #{@purchase.purchased_from} - #{current_organization.name}" %>
  <h1>
    Purchase
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><%= link_to "Purchases", (purchases_path) %></li>
    <li class="active"> <%= @purchase.purchased_from_view %> on <%= @purchase.created_at.to_s(:distribution_date) %></li>
  </ol>
</section>

<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <fieldset>
        <p>This donation was started on <%= @purchase.created_at.to_s(:distribution_date) %>:</p>
        <ul class="list-group">
          <li class="list-group-item">It was bought from: <%= @purchase.purchased_from_view %></li>
          <li class="list-group-item">It will be stored at: <%= @purchase.storage_view %></li>
        </ul>

        <section id="line_items">
          <!-- /.box-header -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover striped">
                  <thead>
                    <th>Item</th>
                    <th class="numeric">Quantity</th>
                  </thead>

                  <tbody>
                    <%= render partial: "purchase_item_row", collection: @line_items %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!--
        TODO: What's the best way to do this? Should we use a new workflow?
        -->
        </section>
      </fieldset>

    </div>
    <div class="box-footer">
      <%= edit_button_to edit_purchase_path(@purchase), { text: "Make a correction", size: "lg" } %>
    </div>
  </div>
</section>





