<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Purchases - #{@purchase.purchased_from} - #{current_organization.name}" %>
        <h1>
          Purchase
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Purchases", purchases_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @purchase.purchased_from_view %> on <%= @purchase.issued_at.to_fs(:distribution_date) %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Date of Purchase:</th>
                <th>Vendor:</th>
                <th>Storage Location:</th>
              </tr>
              </thead>
              <tbody>
              <tr>
              <td><%= @purchase.issued_at.to_fs(:distribution_date) %> (entered: <%= @purchase.created_at.to_fs(:distribution_date) %>)</td>
              <td><%= @purchase.purchased_from_view %></td>
              <td><%= @purchase.storage_view %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "purchase_item_row", collection: @line_items %>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <%= edit_button_to edit_purchase_path(@purchase), { text: "Make a correction",
                                                                enabled: !@purchase.has_inactive_item?,
                                                                size: "md" } %>
            <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
              <%= delete_button_to purchase_path(@purchase), {
                size: "md",
                enabled: !@purchase.has_inactive_item?,
                confirm: "Are you sure you want to permanently remove this purchase?" } %>
            <% end %>
            <% if @purchase.has_inactive_item? %>
              <div class="low_priority_warning">
                You can only delete or correct purchases where all the items are active.
                If you need to delete this purchase or make a correction, please make the following items active: <%= @purchase.inactive_items.map(&:name).join(", ") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
