<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Purchases - #{@purchase.purchased_from} - #{current_organization.name}" %>
        <h1>
          Purchase
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Purchases", (purchases_path) %></li>
          <li class="breadcrumb-item"><a href="#"><%= @purchase.purchased_from_view %> on <%= @purchase.created_at.to_s(:distribution_date) %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>This donation was started on:</th>
                <th>It was bought from:</th>
                <th>It will be stored at:</th>
              </tr>
              </thead>
              <tbody>
              <tr>
              <td><%= @purchase.created_at.to_s(:distribution_date) %></td>
              <td><%= @purchase.purchased_from_view %></td>
              <td><%= @purchase.storage_view %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "purchase_item_row", collection: @line_items %>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <%= edit_button_to edit_purchase_path(@purchase), { text: "Make a correction", size: "md" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>