<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Purchases - #{@purchase.purchased_from} - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Purchase
      <small>for <%= current_organization.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <%= link_to "Purchases", (purchases_path) %>
      </li>
      <li class="breadcrumb-item active">
        <%= @purchase.purchased_from_view %> on <%= @purchase.created_at.to_s(:distribution_date) %>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <!-- Default box -->
  <div class="ibox-content p-xl">
    <div class="with-border">
      <p>This donation was started on <%= @purchase.created_at.to_s(:distribution_date) %>:</p>
      <ul class="list-group">
        <li class="list-group-item">It was bought from: <%= @purchase.purchased_from_view %></li>
        <li class="list-group-item">It will be stored at: <%= @purchase.storage_view %></li>
      </ul>
    </div>
    <div id="line_items">
      <div class="table-responsive no-padding m-t">
        <table class="table table-hover">
          <thead>
            <th>Item</th>
            <th>Quantity</th>
          </thead>
          <tbody>
            <%= render partial: "purchase_item_row", collection: @line_items %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ibox-footer">
      <%= edit_button_to edit_purchase_path(@purchase), { text: "Make a correction", size: "lg" } %>
    </div>
  </div>
</div>
