<%= tag.div(class: 'deadline-day-pickers',
            data: {
              min: Deadlinable::MIN_DAY_OF_MONTH,
              max: Deadlinable::MAX_DAY_OF_MONTH,
              current_day: Date.current.mday,
              current_month: Date::MONTHNAMES[Date.current.month],
              next_month: Date::MONTHNAMES[Date.current.next_month.month]
            }) do %>
  <div class="deadline-day-pickers__reminder-container">
    <%= f.input :reminder_day, wrapper: :input_group, wrapper_html: { class: 'mb-0' },
                label: 'Reminder day (Day of month an e-mail reminder is sent to partners to submit requests)' do %>
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      <%= f.number_field :reminder_day,
                         class: "deadline-day-pickers__reminder-day form-control",
                         placeholder: "Reminder day" %>
    <% end %>
    <small class="mb-3 d-block form-text text-muted deadline-day-pickers__reminder-day-text"></small>
  </div>

  <div class="deadline-day-pickers__deadline-container">
    <%= f.input :deadline_day, wrapper: :input_group, wrapper_html: { class: 'mb-0' },
                label: 'Deadline day (Final day of month to submit requests)' do %>
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      <%= f.number_field :deadline_day,
                         class: "deadline-day-pickers__deadline-day form-control",
                         placeholder: "Deadline day" %>
    <% end %>
    <small class="mb-3 d-block form-text text-muted deadline-day-pickers__deadline-day-text"></small>
  </div>
<% end %>
