<%= tag.div(class: 'deadline-day-pickers',
            data: {
              current_day: Date.current.mday,
              current_month: Date::MONTHNAMES[Date.current.month],
              next_month: Date::MONTHNAMES[Date.current.next_month.month]
            }) do %>

      <%= f.label :date_or_week_day, 'Send reminders on a specific date (eg "the 5th") or a day of the week (eg "the first Tuesday")?' %>
      <br>
      <%= f.radio_button :date_or_week_day, 'date', label: 'Date', id: 'toggle-to-date' %>
      <%= f.label :date_or_week_day, 'Date' %>
      <br>
      <%= f.radio_button :date_or_week_day, 'week_day', label: 'Week Day', id: 'toggle-to-week-day' %>
      <%= f.label :date_or_week_day, 'Week Day' %>

      <div id="date-fields">
      <%= f.input :date, as: :integer, wrapper: :input_group,
      label: 'Reminder date' do %>
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      <%= f.number_field :date,
      min: Deadlinable::MIN_DAY_OF_MONTH,
      max: Deadlinable::MAX_DAY_OF_MONTH,
      class: "deadline-day-pickers__reminder-day form-control",
      placeholder: "Reminder day" %>
      <% end %>
      </div>
      <small class="mb-3 d-block form-text text-muted deadline-day-pickers__reminder-day-text"></small>

      <div id="week-day-fields">
      <%= f.input :every_nth_day, wrapper: :input_group, wrapper_html: { class: 'mb-3'},
      label: 'Reminder day of the week' do %>
      <%= f.input :every_nth_day, collection: Deadlinable::EVERY_NTH_COLLECTION,
      class: "deadline-day-pickers__reminder-day form-control",
      label: false %>

      <%= f.input :day_of_week, collection: Deadlinable::WEEK_DAY_COLLECTION,
      class: "deadline-day-pickers__reminder-day form-control",
      label: false,
      show_blank: true,
      default: 1,
      :input_html => {:style=> 'width: 200px'} %>
      </div>
      <% end %>

  <div class="deadline-day-pickers__deadline-container">
    <%= f.input :deadline_day, wrapper: :input_group, wrapper_html: { class: 'mb-0', min: 0, max: 28 },
                label: 'Deadline day (Final day of month to submit requests)' do %>
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      <%= f.number_field :deadline_day,
                         min: Deadlinable::MIN_DAY_OF_MONTH,
                         max: Deadlinable::MAX_DAY_OF_MONTH,
                         class: "deadline-day-pickers__deadline-day form-control",
                         placeholder: "Deadline day" %>
    <% end %>
    <small class="mb-3 d-block form-text text-muted deadline-day-pickers__deadline-day-text"></small>
  </div>
<% end %>
