<div data-controller="deadline-day">

  <%= parent_form.simple_fields_for parent_object.reminder_schedule do |f| %>
    <%= f.label :by_month_or_week, 'Send reminders on a specific day of the month (e.g. "the 5th") or a day of the week (eg "the first Tuesday")?' %>
    <br>
    <%= f.radio_button :by_month_or_week,
      'day_of_month',
      label: 'Day of Month',
      data: { 'deadline-day-target': 'byDayOfMonth', 'action': 'deadline-day#monthOrWeekChanged deadline-day#sourceChange' } %>
    <%= f.label :by_month_or_week_day_of_month, 'Day of Month' %>
    <br>
    <%= f.radio_button :by_month_or_week,
      'day_of_week',
      label: 'Day of the Week',
      data: { 'deadline-day-target': 'byDayOfWeek', 'action': 'deadline-day#monthOrWeekChanged deadline-day#sourceChange' } %>
    <%= f.label :by_month_or_week_day_of_week, 'Day of the Week' %>

    <div data-deadline-day-target="dayOfMonthFields">
      <%= f.input :day_of_month, as: :integer, wrapper: :input_group, label: 'Reminder day of month' do %>
        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        <%= f.number_field :day_of_month,
          min: ReminderScheduleService::MIN_DAY_OF_MONTH,
          max: ReminderScheduleService::MAX_DAY_OF_MONTH,
          class: "form-control",
          placeholder: "Reminder day",
          data: { 'deadline-day-target': 'dayOfMonth', 'action': 'deadline-day#sourceChange' } %>
      <% end %>
    </div>

    <div data-deadline-day-target="dayOfWeekFields">
      <%= f.label :every_nth_day, 'Reminder day of the week' %>
      <div class="input-group">
        <%= f.input :every_nth_day,
        collection: ReminderScheduleService::EVERY_NTH_COLLECTION,
        class: "form-control",
        label: false,
        input_html: {"data-deadline-day-target" => "everyNthDay", "data-action" => "deadline-day#sourceChange"} %>

        <%= f.input :day_of_week,
          collection: ReminderScheduleService::DAY_OF_WEEK_COLLECTION,
          class: "form-control",
          label: false,
          show_blank: true,
          default: 1,
          input_html: {style: 'width: 200px', "data-deadline-day-target" => "dayOfWeek", "data-action" => "deadline-day#sourceChange"} %>
      </div>
    </div>
    <small class="mb-3 d-block text-muted" data-deadline-day-target="reminderText"></small>
  <% end %>

  <%= parent_form.input :deadline_day, wrapper: :input_group, wrapper_html: { min: 0, max: 28 }, label: 'Deadline day in reminder email' do %>
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      <%= parent_form.number_field :deadline_day,
        min: ReminderScheduleService::MIN_DAY_OF_MONTH,
        max: ReminderScheduleService::MAX_DAY_OF_MONTH,
        class: "form-control",
        placeholder: "Deadline day",
        data: {"deadline-day-target": "deadlineDay", "action": "deadline-day#sourceChange"} %>
    <% end %>
    <small class="mb-3 d-block text-muted" data-deadline-day-target="deadlineText"></small>
</div>
