<% css_class = item_row.quantity_change(@storage_location.id).negative? ? 'modal-body-warning-text' : '' %>
<tr id="<%= item_row.id %>">
  <td><%= link_to item_row.name, item_path(item_row.id) %></td>
  <td><%= item_row.quantity_in_storage(@storage_location.id) %></td>
  <td><%= item_row.quantity_out_storage(@storage_location.id) %></td>
  <td class="<%= css_class %>"><%= item_row.quantity_change(@storage_location.id) %></td>
</tr>