<section class="content-header">
  <% content_for :title, "#{current_organization.name} - Inventory - Storage Locations" %>
  <h1>
    Storage Locations
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">Partner Agencies</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">


  <div class="box">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-4">
      <h3 class="box-title">All Storage Locations</h3>
        </div>
        <div class="col-xs-8">
        <%= form_tag(storage_locations_path, method: :get) do |f| %>
          <%= label_tag "Filter by Item Category" %>
          <%= collection_select(:filters, :containing, @items || {}, :id, :name) %>
          <%= submit_tag "Filter", class: "btn btn-primary btn-xs secondary" %>
          <%= link_to "Clear Filters", storage_locations_path, class: "btn btn-info btn-xs secondary" %>
        <% end %>
        </div>
      </div>
      <%= link_to "New Storage Location", new_storage_location_path(organization_id: current_organization), class: "btn btn-success btn-xs pull-right" %>
    </div>

<% if @storage_locations.empty? %>

<div class="import-storage-locations">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#importStorageLocationModal" class="btn btn-xs btn-primary" data-toggle="modal">Import Storage Locations</a>
    
    <!-- Modal HTML -->
    <div id="importStorageLocationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Import Storage Locations Instructions:</h4>
                </div>
                <div class="modal-body">
                  <ol>
                    <li><%= link_to "Download example csv", "/storage_locations.csv", :format => :csv, :class => "btn btn-xs btn-info" %>.</li>
                    <li>Open the csv file with excel or your favourite spreadsheet program.</li>
                    <li>Delete the sample data and enter your storage location names and addresses in the appropriate columns.</li>
                    <li>Save the file as a csv file.</li>
                    <li>Click the choose file button and navigate to the saved file and select it.</li>
                    <li>Then click the Import CSV button to import your storage locations.</li>
                  </ol>
                <p class="text-warning"><small>Note: You're only able to run the import one time to prevent accidental imports or writing over existing locations!</small></p>
                </div>
                <div class="modal-footer">
                  <%= form_tag import_csv_storage_locations_path, multipart: true do %>
                    <%= file_field_tag :file, :accept => 'text/csv' %>
                    <%= submit_tag "Import CSV", :class => "btn btn-sm btn-primary" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Total Inventory</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "storage_location_row", collection: @storage_locations, as: :storage_location %>
            </tbody>
            </table>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>
</div>

</section>