<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Storage Locations - Inventory - #{current_organization.name}" %>
        <h1>
          Storage Locations
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Storage Locations</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Storage Location Filters</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= form_tag(storage_locations_path, method: :get) do |f| %>
              <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <%= filter_select(label: "Filter by Item", scope: :containing, collection: @items, selected: @selected_item_category) %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= filter_checkbox(label: "include inactive storage locations", scope: :include_inactive_storage_locations, selected: @include_inactive_storage_locations) %>
                </div>
              </div>
              <div class="card-footer">
                <%= filter_button %>
                <%= clear_filter_button %>
                <span class="float-right">
                  <%= modal_button_to("#csvImportModal", {icon: "upload", text: "Import Storage Locations"}) if @storage_locations.empty? %>
                  <%= download_button_to(storage_locations_path(format: :csv, filters: filter_params.merge(date_range: date_range_params)), {text: "Export Storage Locations", size: "md"}) if @storage_locations.any? %>
                  <%= new_button_to new_storage_location_path, {text: "New Storage Location"} %>
                  </span>
              </div>
            <% end # form %>
          </div>
        </div>

        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Square Footage</th>
                <th>Warehouse Type</th>
                <th>Total Inventory</th>
                <th>Fair Market Value</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "storage_location_row", collection: @storage_locations, as: :storage_location %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render(
          layout: "shared/csv_import_modal",
          locals: {
            import_type: 'Storage Locations',
            csv_template_url: "/storage_locations_template.csv",
            csv_import_url: import_csv_storage_locations_path
          }
      ) do %>
    <li>Open the csv file with excel or your favourite spreadsheet program.</li>
    <li>Delete the sample data and enter your storage location names and addresses in the appropriate columns.</li>
    <li>Save the file as a csv file.</li>
  <% end %>
</section><!-- /.content -->
