<div class="header-action">
  <%= link_to "New Storage Location", new_storage_location_path, class: "button float-right" %>
</div>

<h1>Storage Locations</h1>

<table id="storage_locations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Total Inventory</th>
      <th>&nbsp;</th>
  </thead>

  <tbody>
    <%= render partial: "storage_location_row", collection: @storage_locations, as: :storage_location %>
  </tbody>
</table>

<section id="filters">
  <%= form_tag(storage_locations_path, method: :get) do |f| %>
    <%= label_tag "Filter by Item" %>
    <%= collection_select(:filters, :containing, @items || {}, :id, :name) %>
    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to "Clear Filters", storage_locations_path %>
</section>
