<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Storage Locations - #{@storage_location.name} - Inventory - #{current_organization.name}" %>
        <h1>
          Storage Location Info
          <small>for <%= @storage_location.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Storage Locations", storage_locations_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @storage_location.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Storage Location</th>
                <th>Address</th>
                <th>Square Footage</th>
                <th>Warehouse Type</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @storage_location.name %></td>
                <td><%= @storage_location.address %></td>
                <td><%= @storage_location.square_footage %></td>
                <td><%= @storage_location.warehouse_type %></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          <%= modal_button_to("#csvImportModal", { text: "Import Baseline Inventory", icon: "upload" }) if @storage_location.items.empty? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
              <li class="nav-item" class="active">
                <a class="nav-link active" id="custom-tabs-inventory-tab" data-bs-toggle="pill" href="#custom-tabs-inventory" role="tab" aria-controls="custom-tabs-one-home-tab" aria-selected="true">Inventory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-inventory-in-tab" data-bs-toggle="pill" href="#custom-tabs-inventory-in" role="tab" aria-controls="custom-tabs-two-home-tab" aria-selected="false">Inventory Coming In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-inventory-out-tab" data-bs-toggle="pill" href="#custom-tabs-inventory-out" role="tab" aria-controls="custom-tabs-three-home-tab" aria-selected="false">Inventory Going Out</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-three-tabContent">

              <div class="tab-pane fade show active" id="custom-tabs-inventory" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                <%= form_for @storage_location, method: :get do %>
                  Show Inventory at Date: <%= date_field_tag 'version_date', params[:version_date], min: InventoryItem::EARLIEST_VERSION, autocomplete: "on" %>
                  <%= filter_button(text: 'View') %>
                  <br><small>(historical data collected since <%= Date.parse(InventoryItem::EARLIEST_VERSION).strftime("%b %-d, %Y") %>)</small>
                <% end %>
                <br><br>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @inventory %>
                    <% @inventory.items_for_location(@storage_location.id, include_omitted: true).each do |item| %>
                      <tr>
                        <td><%= link_to item.name, item_path(item.item_id) %></td>
                        <td><%= number_with_delimiter(item.quantity) %></td>
                      </tr>
                    <% end %>
                  <% elsif @legacy_inventory %>
                    <% @legacy_inventory.each do |item| %>
                      <tr>
                        <td><%= link_to item.name, item_path(item.item_id) %></td>
                        <td><%= number_with_delimiter(item.quantity) %></td>
                      </tr>
                    <% end %>
                  <% else %>
                    <%= render partial: "inventory_item_row",
                               collection: @storage_location.inventory_items.joins(:item).where(items: { active: true }),
                               locals: { version_date: params[:version_date] } %>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td>Total</td>
                    <td>
                      <% if @inventory %>
                        <%= number_with_delimiter(@inventory.quantity_for(storage_location: @storage_location.id)) %>
                      <% elsif @legacy_inventory %>
                        <%= number_with_delimiter(@legacy_inventory.map(&:quantity).sum) %>
                      <% else %>
                        <%= number_with_delimiter(@storage_location.size) %>
                      <% end %>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div><!-- /.box-body.table-responsive -->

              <div class="tab-pane fade show" id="custom-tabs-inventory-in" role="tabpanel" aria-labelledby="custom-two-home-tab">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= render partial: "line_item_row", collection: @items_in %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td>Total</td>
                    <td><%= @items_in_total %></td>
                  </tr>
                  </tfoot>
                </table>
              </div><!-- /.box-body.table-responsive -->

              <div class="tab-pane fade show" id="custom-tabs-inventory-out" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= render partial: "line_item_row", collection: @items_out %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td>Total</td>
                    <td><%= @items_out_total %></td>
                  </tr>
                  </tfoot>
                </table>
              </div><!-- /.box-body.table-responsive -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    import_type: 'Storage Locations Instructions',
    csv_template_url: storage_location_path(@storage_location, format: :csv),
    csv_import_url: import_inventory_storage_locations_path(storage_location: @storage_location.id)
  }
) do %>
  <li>Open the csv file with excel <br>or your favourite spreadsheet program.</li>
  <li>Enter your quantities for each item.</li>
  <li>Save the file as a csv file.</li>
  <li>DO NOT CHANGE ANY ITEM NAME.</li>
<% end %>
