<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Storage Locations - #{@storage_location.name} - Inventory - #{current_organization.name}" %>
  <div class="col-xl-8">
    <h2>Storage Location Info for <%= @storage_location.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
      </li>
      <li class="breadcrumb-item" ><%= link_to "Storage Locations", (storage_locations_path) %></li>
      <li class="breadcrumb-item active"><%= @storage_location.name %></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="ibox-title">
          <h3><%= @storage_location.name %></h3>
          <p><%= @storage_location.address %></p>
          <div class="pull-right">
            <%= modal_button_to("#csvImportModal", { text: "Import Baseline Inventory", icon: "upload" }) if @storage_location.items.empty? %>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs">
                <li role="presentation">
                  <a data-toggle="tab" href="#tabSectionA" class="nav-link active" >Inventory</a>
                </li>
                <li role="presentation">
                  <a data-toggle="tab" href="#tabSectionB" class="nav-link" >Inventory coming in</a>
                </li>
                <li role="presentation">
                  <a data-toggle="tab" href="#tabSectionC" class="nav-link" >Inventory going out</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tabSectionA" class="tab-pane fade in active show">
                  <div class="box-body table-responsive no-padding">
                    <table id="sectionA" class="table table-hover">
                      <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                      </tr>
                      <%= render partial: "inventory_item_row", collection: @storage_location.inventory_items %>
                      <tr>
                        <td>Total</td>
                        <td><%= @storage_location.size %></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div id="tabSectionB" class="tab-pane fade info">
                  <div class="box-body table-responsive no-padding">
                    <table id="sectionB" class="table table-hover">
                      <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                      </tr>
                      <%= render partial: "line_item_row", collection: @items_in %>
                      <tr>
                        <td>Total</td>
                        <td><%= @items_in_total %></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div id="tabSectionC" class="tab-pane fade">
                  <div class="box-body table-responsive no-padding">
                    <table id="sectionC" class="table table-hover">
                      <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                      </tr>
                      <%= render partial: "line_item_row", collection: @items_out %>
                      <tr>
                        <td>Total</td>
                        <td><%= @items_out_total %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    title: 'Import Storage Locations Instructions:',
    csv_template_url: storage_location_path(@storage_location, format: :csv),
    csv_import_url: import_inventory_storage_locations_path(storage_location: @storage_location.id)
  }
) do %>
  <li>Open the csv file with excel <br>or your favourite spreadsheet program.</li>
  <li>Enter your quantities for each item.</li>
  <li>Save the file as a csv file.</li>
  <li>DO NOT CHANGE ANY ITEM NAME.</li>
<% end %>
