<% if event.is_a?(SnapshotEvent) %>
  <%= render partial: "snapshot_event_row", object: event, as: :event, locals: { items: items, storage_locs: storage_locs } %>
<% else %>
  <%
    # KitAllocateEvent/KitDeallocateEvent mix directions within a single event: the
    # kit's own line item moves opposite the component items, so we can't rely on
    # picking any one item's from/to. Every item shares the same storage location
    # (just recorded in the opposite field for the kit vs. its components), so pull
    # that location from whichever entry has it and place it by event type instead.
    is_kit_event = event.is_a?(KitAllocateEvent) || event.is_a?(KitDeallocateEvent)
    if is_kit_event
      first_item = event.data.items.first
      kit_storage_loc = first_item&.from_storage_location || first_item&.to_storage_location
      from_loc = event.is_a?(KitDeallocateEvent) ? kit_storage_loc : nil
      to_loc = event.is_a?(KitAllocateEvent) ? kit_storage_loc : nil
    else
      from_loc = event.data.items.first&.from_storage_location
      to_loc = event.data.items.first&.to_storage_location
    end
  %>
  <tr>
    <td>
      <%= event.user&.name || "No Name Provided" %>
    </td>
    <td title="Internal Event ID: <%= event.id %>"><%= event.type.sub(/Event/, '') %></td>
    <td>
      <%= link_to event.eventable_id, event.eventable %>
      <%= link_to(
          events_path(eventable_type: event.eventable_type, eventable_id: event.eventable_id),
          class: 'btn btn-md') do %>
        <i class="fa fa-filter"></i>
      <% end %>
    </td>
    <td><%= event.event_time.strftime("%Y/%m/%d %H:%M:%S %Z") %></td>
    <td>
      <% if from_loc %>
        <%= link_to storage_locs.find { |i| i.id == from_loc}.name, storage_location_path(from_loc) %>
      <% end %>
    </td>
    <td>
      <% if to_loc %>
        <%= link_to storage_locs.find { |i| i.id == to_loc}.name, storage_location_path(to_loc) %>
      <% end %>
    </td>
    <td>
      <% sorted_entries = event.data.items.sort_by do |entry|
          item = items.find { |i| i.id == entry.item_id }
          item&.name&.downcase || ''
        end %>
      <% sorted_entries.each do |entry| %>
        <% item = items.find { |i| i.id == entry.item_id } %>
        <% quantity = entry.from_storage_location == from_loc ? entry.quantity : -entry.quantity %>
        <% if item %>
          <%= link_to item.name, item_path(item.id) %>: <%= quantity %><br>
        <% else %>
          Item <%= entry.item_id %> (deleted): <%= quantity %><br>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
