<% num_locations = event.data.storage_locations.length %>

<tr style="background-color: #e9e4f3;">
  <td><%= event.user&.name || "No Name Provided" %></td>
  <td>Snapshot</td>
  <td>
    <%= link_to event.eventable_id, event.eventable %>
      <%= link_to(
          events_path(eventable_type: event.eventable_type, eventable_id: event.eventable_id),
          class: 'btn btn-md') do %>
        <i class="fa fa-filter"></i>
    <% end %>
  </td>
  <td><%= event.event_time.to_s %></td>
  <td>
    <% event.data.storage_locations.values.each_with_index do |loc, loc_index| %>

      <%= link_to storage_locs.find { |i| i.id == loc.id}.name, storage_location_path(loc.id) %>
      
      <% loc.items.values.each do |entry| %>
        <% item = items.find { |i| i.id == entry.item_id} %>
        <% if item %>
          <%= link_to items.find { |i| i.id == entry.item_id}.name, item_path(entry.item_id) %>:
        <% else %>
          Item <%= entry.item_id %> (deleted)
        <% end %>
        <%= entry.quantity %>
      <% end %>
      <br>
    <% end %>
  </td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

