<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "History - #{current_organization.name}" %>
        <h1>
          History
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">History</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">History Filter</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= form_tag(events_path, method: :get) do |f| %>
              <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "Date Range" %>
                  <%= render partial: "shared/date_range_picker", locals: {css_class: "form-control"} %>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <%= filter_select(scope: :by_type, collection: Event.types_for_select, key: :value, value: :name,
                                    selected: params.dig(:filters, :by_type)) %>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <%= filter_select(scope: :by_storage_location, collection: current_organization.storage_locations,
                                    selected:params.dig(:filters, :by_storage_location)) %>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <%= filter_select(scope: :by_item, collection: @items,
                                    selected:params.dig(:filters, :by_item)) %>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <%= filter_button %>
              <%= clear_filter_button %>
            </div>
            <% end # form %>
            </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>User</th>
                <th>Type</th>
                <th>Refers To</th>
                <th>Date/Time</th>
                <th>From Location</th>
                <th>To Location</th>
                <th>Items</th>
              </tr>
              </thead>
              <tbody>
                <%= render partial: "event_row", collection: @events, as: :event, locals: { items: @items, storage_locs: @locations} %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @events %>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
