<p>Hello <%= @partner.name %>,</p>
    <p>
    This is a friendly reminder that <%= @organization.name %> requires your human essentials requests to be submitted by <%= @deadline.strftime('%a, %d %b %Y') %>
if you would like to receive a distribution next month.</p>
    <p>Please log into <a href="https://humanessentials.app">Human Essentials</a>
before this date and submit your request if you are intending to submit an essentials request.</p>
    <p>Please contact <%= @organization.name %> at <%= @organization.email %>
if you have any questions about this!</p>
