<h1>Partners Help For Admins</h1>

<h3><%= link_to "Write a new question and answer", new_admin_article_path %></h3>
<br/>

<h1>Questions for organizations</h1>
<br/>
<% @organization_articles.each do |organization_article| %>
  <h3><%= organization_article.question %></h3>
  <br/>
  <%= organization_article.content %>
  <br/>
<% end %>

<h1>Questions for partners</h1>
<br/>
<% @partner_articles.each do |partner_article| %>
  <h3><%= partner_article.question %></h3>
  <br/>
  <%= partner_article.content %>
  <br/>
<% end %>
