<tr>
  <td class="date"><%= request_row.created_at.strftime("%m/%d/%Y") %></td>
  <td><%= request_row.partner.name %> </td>
  <td>
    <% partner_user = @partner_users.find { |pu| pu.id == request_row.partner_user_id } %>
    <%= "#{partner_user&.formatted_email}" %>
  </td>
  <td class="<%= quota_column_class(request_row.total_items, request_row.partner) %>">
    <%= request_row.total_items %>
    <%= quota_display(request_row.partner) %>
  </td>
  <td>
    <%= request_row.comments %>
  </td>
  <td>
    <%= render partial: "status", locals: {status: request_row.status} %>
  </td>
  <td class="text-right">
    <%= view_button_to request_path(request_row) %>
    <%= button_to 'Cancel', new_request_cancelation_path(request_id: request_row.id), method: :get, class: 'btn btn-danger btn-xs' %>
  </td>
</tr>
