<tr>
  <td class="date"><%= request_row.created_at.strftime("%m/%d/%Y") %></td>
  <td><%= request_row.partner.name %> </td>
  <td>
    <%= render partial: "status", locals: {status: request_row.status} %>
  </td>
  <td class="text-right">
    <%= view_button_to request_path(request_row) %>
    <%= delete_button_to request_path(request_row), { confirm: "Are you sure? This will cancel the request and send a friendly email notification to your partner that their request has been cancelled" } %>
  </td>
</tr>