<section class="content-header">
  <% content_for :title, "Requests - #{@request.id} - #{current_organization.name}" %>
  <h1>
    Request
    <small>from <%= @request.partner.name %></small>
  </h1>

  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %></li>
    <li><%= link_to "Requests", (requests_path) %></li>
    <li class="active"> Request from <%= @request.partner.name %> at <%= @request.created_at.to_s(:distribution_date) %></li>
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <fieldset>
        <p>This request was sent on <%= @request.created_at.to_s(:distribution_date) %>:</p>
        <ul class="list-group">
          <li class="list-group-item">It was sent by: <%= @request.partner.name %></li>
          <li class="list-group-item">It has a status of: <%= render partial: "status", locals: {status: @request.status} %></li>
          <li class="list-group-item">Comments: <%= @request.comments || 'None' %></li>
        </ul>

        <section id="line_items">
          <div class="row">
            <div class="col-xs-12">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover striped">
                  <thead>
                    <th>Item</th>
                    <th class="numeric">Quantity</th>
                    <th class="numeric">Estimated on-hand</th>
                  </thead>

                  <tbody>
                    <% @request_items.each do |item| %>
                      <tr>
                        <td><%= item.name %></td>
                        <td class="numeric"><%= item.quantity %></td>
                        <td class="numeric"><%= item.on_hand %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>

        <br>
      </fieldset>

    </div>
    <div class="box-footer">
      <%= submit_button_to start_request_path(@request), { text: "Fulfill request" } unless @request.distribution %>
      <%= view_button_to(distribution_path(@request.distribution), { text: "View Associated Distribution", size: "lg" }) if @request.distribution %>
      <%= delete_button_to :request, { text: 'Cancel request' , size: 'lg'}  unless @request.distribution %>
    </div>
  </div>
</section>
