<tr>
  <td><%= product_drive_participant_row&.business_name %></td>
  <td><%= product_drive_participant_row&.contact_name %></td>
  <td><%= product_drive_participant_row&.phone %></td>
  <td><%= product_drive_participant_row&.email %></td>
  <td><%= product_drive_participant_row&.volume %></td>
  <td class="text-center">
    <%= view_button_to product_drive_participant_row %>
    <%= edit_button_to edit_product_drive_participant_path(product_drive_participant_row) %>
  </td>
</tr>
