<tr>
  <td><%= ticket_row.partner.name %></td>
  <td><%= ticket_row.inventory.name %></td>
  <td><%= ticket_row.total_quantity %></td>
  <td>
  	<%= link_to "View", ticket_path(ticket_row) %> 
  	<%= link_to "Print", print_ticket_path(ticket_row) %>
  	<%= link_to "Reclaim", reclaim_ticket_path(ticket_row), method: :post, data: { confirm: "Are you sure?" } %> 
  </td>
</tr>