<%= simple_form_for @donation do |f| %>

  <%= f.input :issued_at,
     label: "Issued on",
     as: :date,
     html5: true %>

  <%= f.input :source,
    collection: Donation::SOURCES.values,
    label: "Source",
    error: "What effort or initiative did this donation come from?" %>

  <%= f.association :dropoff_location,
    collection: @dropoff_locations,
    label: "Dropoff Location",
    error: "Where was this donation dropped off?" %>

  <%= f.association :storage_location,
    collection: @storage_locations,
    label: "Storage Location",
    error: "Where is it being stored?" %>

  <%= f.association :diaper_drive_participant,
    collection: @diaper_drive_participants,
    label_method: :name,
    label: "Diaper Drive Participant",
    error: "Which diaper drive was this from?" %>

  <%= f.input :comment %>

  <div class="medium-offset-3 medium-9 columns">
    <%= f.button :submit %>
  </div>

<% end %>
