<tr>
  <td><%= donation_row.source %></td>
  <td><%= donation_row.dropoff_location.name if donation_row.dropoff_location.present? %></td>
  <td><%= donation_row.storage_location.name %></td>
  <td><%= donation_row.total_items %></td>
  <td><%= donation_row.line_items.size %></td>
</tr>
