<tr>
  <td><%= link_to donation_row.source_view, donation_row %></td>
  <td><%= donation_row.dropoff_location.name if donation_row.dropoff_location.present? %></td>
  <td><%= donation_row.storage_location.name %></td>
  <td><%= donation_row.line_items.total %></td>
  <td><%= donation_row.line_items.size %></td>
</tr>
