<%= simple_form_for @donation, data: { controller: "form-input" } do |f| %>

  <div class="box-body">

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.input :source,
                    collection: Donation::SOURCES.values,
                    label: "Source",
                    error: "What effort or initiative did this donation come from?",
                    wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :donation_site,
                          collection: @donation_sites,
                          label: "Donation Site",
                          error: "Where was this donation dropped off?",
                          wrapper: :input_group %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :product_drive,
                          collection: @product_drives,
                          label_method: lambda { |x| "#{x.try(:name) }" },
                          label: "Product Drive",
                          error: "Which product drive was this from?",
                          wrapper: :input_group %>
      </div>
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :product_drive_participant,
                          collection: @product_drive_participants,
                          label_method: lambda { |x| "#{x.try(:business_name) }" },
                          label: "Product Drive Participant",
                          error: "Which product drive participant was this from?",
                          wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :manufacturer,
                          collection: @manufacturers,
                          prompt: "Choose one...",
                          label_method: lambda { |x| "#{x.try(:name) }" },
                          label: "Manufacturer",
                          error: "Which Manufacturer was this from?",
                          wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.association :storage_location,
                          collection: @storage_locations,
                          label: "Storage Location",
                          error: "Where is it being stored?",
                          selected: f.object.storage_location&.id || current_organization.intake_location,
                          include_blank: true,
                          wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.input :money_raised_in_dollars, as: :money_raised_in_dollars, wrapper: :input_group do %>
          <span class="input-group-text"><i class="fa fa-usd"></i></span>
          <%= f.input_field :money_raised_in_dollars, class: "form-control" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6">
        <%= f.input :comment,
                    wrapper: :input_group %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-6 col-lg-3">
        <%= f.input :issued_at,
                    label: "Issued on",
                    as: :date,
                    html5: true,
                    wrapper: :input_group %>
      </div>
    </div>

    <fieldset style="margin-bottom: 2rem;" class='w-70'>
      <legend>Items in this donation</legend>
      <div id="donation_line_items" data-capture-barcode="true">

        <%= render 'line_items/line_item_fields', form: f %>
      </div>

      <div class="row links justify-content-end">
        <%= add_element_button "Add Another Item", container_selector: "#donation_line_items", id: "__add_line_item" do %>
          <%= render 'line_items/line_item_fields', form: f, object: LineItem.new %>
        <% end %>
      </div>
    </fieldset>

    <div class="card-footer">
      <%= submit_button %>
    </div>
  </div>
<% end %>
