<section class="content-header">
<% content_for :title, "Donations - #{current_organization.name}" %>
<h1>
  Donations
  <small>for <%= current_organization.name %></small>
</h1>
<ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
    <i class="fa fa-dashboard"></i> Home
  <% end %>
  </li>
  <li><a href="#">Donations</a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <%= form_tag(donations_path, method: :get) do |f| %>
        <div class="row">
          <% if @storage_locations.present? %>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "by Storage Location" %>
              <%= collection_select(:filters, :at_storage_location, @storage_locations || {}, :id, :name, { include_blank: true, selected: @selected_storage_location }, class: "form-control") %>
            </div>
          <% end %>
          <% if @sources.present? %>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "by Source" %>
              <%= select_tag "filters[by_source]", options_for_select(@sources, @selected_source), { include_blank: true, class: "form-control" } %>
            </div>
          <% end %>
          <% if @diaper_drives.present? %>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "by Diaper Drive Participants" %>
              <%= collection_select(:filters, :by_diaper_drive_participant, @diaper_drives || {}, :id, :business_name, { include_blank: true, selected: @selected_diaper_drive }, class: "form-control") %>
            </div>
          <% end %>
          <% if @manufacturers.present? %>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "by Manufacturers" %>
              <%= collection_select(:filters, :from_manufacturer, @manufacturers || {}, :id, :name, { include_blank: true, selected: @selected_manufacturer }, class: "form-control") %>
            </div>
          <% end %>
          <% if @donation_sites.present? %>
            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <%= label_tag "by Donation Site" %>
              <%= collection_select(:filters, :from_donation_site, @donation_sites || {}, :id, :name, { include_blank: true, selected: @selected_donation_site }, class: "form-control") %>
            </div>
          <% end %>
          <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <%= label_tag "from Date" %>
            <%= text_field_tag 'dates[date_from]', @date_from, { id: 'dates_date_from', placeholder: 'mm/dd/YYY', class: 'form-control', 'data-provide': 'datepicker' } %>
          </div>

          <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <%= label_tag "to Date" %>
            <%= text_field_tag 'dates[date_to]', @date_to, { id: 'dates_date_to', placeholder: 'mm/dd/YYY', class: 'form-control', 'data-provide': 'datepicker' } %>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <%= filter_button %>
            <%= cancel_button_to donations_path %>

            <div class="pull-right">
              <%= download_button_to(csv_path(format: :csv, type: "Donation"), { text: "Export Donations", size: "lg" }) if @donations.any? %>
              <%= new_button_to new_donation_path(organization_id: current_organization), { text: "New Donation" } %>
            </div>
          </div>
        </div><!-- /.row -->
        <% end # form %>
      </section><!-- /#filters -->
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped">
              <thead>
                <tr>
                  <th>Source</th>
                  <th class="date">Date</th>
                  <th>Donation Site</th>
                  <th>Storage Location</th>
                  <th class="numeric">Quantity of Items</th>
                  <th class="numeric">Variety of Items</th>
                  <th class="numeric">In Kind Value</th>
                  <th class="pull-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "donation_row", collection: @paginated_donations %>
                <tr>
                  <td><strong>Total</strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="numeric">
                  <strong id="donation_quantity">
                    <%= @donations_quantity %> (Total)
                  </strong>
                  <br />
                    <%= @paginated_donations_quantity %> (This page)
                  </td>
                  <td></td>
                  <td class="numeric"><strong><%= item_value(@total_value_all_donations) %></strong></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.box-body.table-responsive -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
  <%= paginate @paginated_donations %>
</section>
