<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Donations - #{current_organization.name}" %>
        <h1>
          Donations
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Donations</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Distribution Filters</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= form_tag(donations_path, method: :get) do |f| %>
              <div class="row">
                <% if @storage_locations.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Storage Location" %>
                    <%= collection_select(:filters, :at_storage_location, @storage_locations || {}, :id, :name, {include_blank: true, selected: @selected_storage_location}, class: "form-control") %>
                  </div>
                <% end %>
                <% if @sources.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Source" %>
                    <%= select_tag "filters[by_source]", options_for_select(@sources, @selected_source), {include_blank: true, class: "form-control"} %>
                  </div>
                <% end %>
                <% if @diaper_drives.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Diaper Drives" %>
                    <%= collection_select(:filters, :by_diaper_drive, @diaper_drives || {}, :id, :name, {include_blank: true, selected: @selected_diaper_drive}, class: "form-control") %>
                  </div>
                <% end %>
                <% if @diaper_drive_participants.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Diaper Drive Participants" %>
                    <%= collection_select(:filters, :by_diaper_drive_participant, @diaper_drive_participants || {}, :id, :business_name, {include_blank: true, selected: @selected_diaper_drive}, class: "form-control") %>
                  </div>
                <% end %>
                <% if @manufacturers.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Manufacturers" %>
                    <%= collection_select(:filters, :from_manufacturer, @manufacturers || {}, :id, :name, {include_blank: true, selected: @selected_manufacturer}, class: "form-control") %>
                  </div>
                <% end %>
                <% if @donation_sites.present? %>
                  <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= label_tag "by Donation Site" %>
                    <%= collection_select(:filters, :from_donation_site, @donation_sites || {}, :id, :name, {include_blank: true, selected: @selected_donation_site}, class: "form-control") %>
                  </div>
                <% end %>
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "Date Range" %>
                  <%= render partial: "shared/date_range_picker", locals: {css_class: "form-control"} %>
                </div>
              </div><!-- /.row -->
              <div class="card-footer">
                <%= filter_button %>
                <%= cancel_button_to donations_path, {text: "Clear Filters"} %>
                <span class="float-right">
                    <%= download_button_to(csv_path(format: :csv, type: "Donation"), {text: "Export Donations"}) if @donations.any? %>
                  <%= new_button_to new_donation_path(organization_id: current_organization), {text: "New Donation"} %>
                    </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->

</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table table-hoverk">
              <thead>
              <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Donation Site</th>
                <th>Storage Location</th>
                <th>Quantity of Items</th>
                <th>Money Raised</th>
                <th>In Kind Value</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "donation_row", collection: @paginated_donations %>
              </tbody>
              <tfoot>
              <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-left numeric">
                  <strong id="donation_quantity">
                    <%= @donations_quantity %> (Total)
                  </strong>
                  <br/>
                  <%= @paginated_donations_quantity %> (This page)
                </td>
                <td class="text-left numeric"><strong><%= dollar_value(@total_money_raised) %></strong></td>
                <td class="text-left numeric"><strong><%= dollar_value(@total_value_all_donations) %></strong></td>
                <td></td>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @paginated_donations %>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>