<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "New - Donations -#{current_organization.name}" %>
  <div class="col-lg-8">
    <h2>Start a new donation <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Donations", (donations_path) %>
      </li>
      <li class="breadcrumb-item active">
        Donation
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <%= render partial: "donation_form", object: @donation %>
        <%= link_to "Add diaper drive", new_diaper_drive_participant_path, {:remote => true, "data-toggle" =>  "modal", "data-target" => "#modal-window", id: "new_diaper_drive", class: "invisible" }  %>
      </div>
    </div>
  </div>
  <%= render partial: "barcode_modal" %>
</div>
