<section class="content-header">
  <% content_for :title, "Donations - #{@donation.source} - #{current_organization.name}" %>
  <h1>
    Donation
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><%= link_to "Donations", (donations_path) %></li>
    <li class="active"> <%= @donation.source %> on <%= @donation.created_at.to_s(:distribution_date) %></li>
  </ol>
</section>

<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <fieldset>
        <div class="box-body table-responsive no-padding large-table" style="margin-bottom: 4rem;">
          <table class="table table-bordered striped">
            <thead>
              <th class="date">Date</th>
              <th>Source</th>
              <th>Donation Site</th>
              <th>Storage Location</th>
            </thead>
            <tbody>
              <tr>
                <td class="date"><%= @donation.created_at.to_s(:distribution_date) %></td>
                <td><%= @donation.source %></td>
                <td><%= @donation.donation_site_view %></td>
                <td><%= @donation.storage_view %></td>
              </tr>
            </tbody>
          </table>
       </div>


        <section id="line_items">
          <!-- /.box-header -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover striped">
                  <thead>
                    <th>Item</th>
                    <th class="numeric">Quantity</th>
                    <th class="numeric">In Kind Value</th>
                  </thead>
                  <tbody>
                    <%= render partial: "donation_item_row", collection: @line_items %>
                    <tr>
                      <td><strong>Total</strong></td>
                      <td></td>
                      <td><strong><%= item_value(@donation.value_per_itemizable) %></strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!--
        TODO: What's the best way to do this? Should we use a new workflow?
        -->
        </section>
      </fieldset>
    </div>
    <div class="box-footer">
      <%= edit_button_to edit_donation_path(@donation), { text: "Make a correction", size: "lg" } %>
      <%= new_button_to new_distribution_path(donation_id: @donation.id, storage_location_id: @donation.storage_location_id), { text: "Start a new Distribution" } %>
      <%= delete_button_to donation_path(@donation), { size: "lg", confirm: "Are you sure you want to permanently remove this donation?" } if current_user.organization_admin? %>
    </div>
  </div>
</section>
