<section class="content-header">
  <% content_for :title, "#{current_organization.name} - Donations - #{@donation.source}" %>
  <h1>
    Donation
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><%= link_to "Donations", (donations_path) %></li>  
    <li class="active"> <%= @donation.source %> on <%= @donation.created_at.strftime("%B %-d %Y") %></li>
  </ol>
</section>

<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <fieldset>
        <p>This donation was started on <%= @donation.created_at.strftime("%B %-d %Y") %>:</p>
        <ul class="list-group">
          <li class="list-group-item">It was collected through: <%= @donation.source %></li>
          <li class="list-group-item">It was dropped off at: <%= @donation.donation_site_view %></li>
          <li class="list-group-item">It will be stored at: <%= @donation.storage_view %></li>
        </ul>

        <section id="line_items">
          <!-- /.box-header -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                  </thead>

                  <tbody>
                    <%= render partial: "donation_item_row", collection: @line_items %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!--
        TODO: What's the best way to do this? Should we use a new workflow?
        -->
        </section>

        <div class="btn-group">
          <%= link_to "Make a correction", edit_donation_path(@donation), class: "btn btn-primary" %>
          <%= link_to "Create distribution",
                      new_distribution_path(donation_id: @donation.id, storage_location_id: @donation.storage_location_id),
                      class: "btn btn-primary" %>
        </div>
      </fieldset>

    </div>
  </div>
</section>  





