<h1>Donation from <%= @donation.source %></h1>

<fieldset>
<p>This donation was started on <%= @donation.created_at.strftime("%B %-d %Y") %>:</p>
<ul>
  <li>It was collected through: <%= @donation.source %></li>
  <li>It was dropped off at: <%= @donation.dropoff_location.name %></li>
  <li>It will be stored at: <%= @donation.inventory.name %></li>
</ul>
<%= link_to "Make a correction >", edit_donation_path(@donation) %>
</fieldset>


<section id="containers">
  <table>
    <thead>
      <th>Item</th>
      <th>Quantity</th>
    </thead>

    <tbody>
      <%= render partial: "donation_item_row", collection: @containers %>
    </tbody>
  </table>

<!-- 
TODO: What's the best way to do this? Should we use a new workflow?
-->
</section>

<% unless @donation.completed? %>
  <%= link_to "Complete Donation", complete_donation_path(@donation), method: :patch, class: "btn button primary submit" %>
<% end %>