<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Donations - #{@donation.source} - #{current_organization.name}" %>
        <h1>
          Donation
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Donations", donations_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @donation.source %> on <%= @donation.created_at.to_fs(:distribution_date) %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Donation Site</th>
                <th>Storage Location</th>
              </tr>
              </thead>
              <tbody>
              <td><%= @donation.created_at.to_fs(:distribution_date) %></td>
              <td><%= @donation.source %></td>
              <td><%= @donation.donation_site_view %></td>
              <td><%= @donation.storage_view %></td>              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <th>Item</th>
              <th>Quantity</th>
              <th>In Kind Value</th>
              </thead>
              <tbody>
              <%= render partial: "donation_item_row", collection: @line_items %>
              <tr>
                <td><strong>Total</strong></td>
                <td><strong><%= @line_items.pluck(:quantity).sum %></strong></td>
                <td><strong><%= dollar_value(@donation.value_per_itemizable) %></strong></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <%= edit_button_to edit_donation_path(@donation), {
              text: "Make a correction",
              enabled: !@donation.has_inactive_item?,
              size: "md" } %>
            <%= new_button_to new_distribution_path(donation_id: @donation.id, storage_location_id: @donation.storage_location_id), { text: "Start a new Distribution" } %>
            <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
              <%= delete_button_to donation_path(@donation), {
                size: "md",
                enabled: !@donation.has_inactive_item?,
                confirm: "Are you sure you want to permanently remove this donation?" } %>
            <% end %>
            <% if @donation.has_inactive_item? %>
              <div class="low_priority_warning">
                You can only delete or correct donations where all the items are active.
                If you need to delete this donation or make a correction, please make the following items active: <%= @donation.inactive_items.map(&:name).join(", ") %>
              </div>
            <% end %>
          </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title font-bold"><strong>Comment</strong></h2>
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-xs-12 col-sm-12" id="donation-comment">
            <% if @donation.comment %>
              <p><%= simple_format(@donation.comment) %></p>
            <% else %>
              <p class='font-italic'> None provided </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
