<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
              </div>
              <div class="box-body">
                <%= simple_form_for @audit, data: { controller: "form-input" }, html: {class: "storage-location-required"} do |f| %>
                  <%= render partial: "storage_locations/source", object: f, locals: { label: "Storage location", error: "What storage location are you auditing?" } %>
                  <fieldset style="margin-bottom: 2rem;">
                    <legend>Items in this audit</legend>
                    <div id="audit_line_items" class="line-item-fields" data-capture-barcode="true">
                      <%= render 'line_items/line_item_fields', form: f %>
                    </div>
                    <div class="row links">
                      <div class="col-xs-12 p-3">
                        <%= add_element_button "Add Another Item", container_selector: "#audit_line_items" do %>
                          <%= render 'line_items/line_item_fields', form: f, object: LineItem.new %>
                        <% end %>
                      </div>
                    </div>

                  </fieldset>

                  <div class="card-footer">
                    <%= submit_button({ text: 'Confirm Audit', name: 'confirm_audit', icon: 'check-circle', align: 'left', size: 'md'}, {confirm: 'Are you sure?'}) %>
                    <%= submit_button({text: 'Save Progress', name: 'save_progress', size: 'md'}) %>
                  </div>
                <% end %>
                </div>
            </div>
          </div><!-- /.box -->
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "barcode_items/barcode_modal" %>
</section>
