<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
              </div>
              <div class="box-body">
                <%= simple_form_for @audit, html: {class: "storage-location-required"} do |f| %>
                  <%= render partial: "storage_locations/source", object: f, locals: {include_inactive_items: true} %>

                  <%= render partial: 'line_items/line_items_form', locals: { f: f, form_id: "audit" } %>

                  </div>
                  <div class="card-footer">
                    <%= submit_button({ text: 'Confirm Audit', name: 'confirm_audit', icon: 'check-circle', align: 'left', size: 'md'}, {confirm: 'Are you sure?'}) %>
                    <%= submit_button({text: 'Save Progress', name: 'save_progress', size: 'md'}) %>
                  </div>
                <% end %>
                </div>
          </div><!-- /.box -->
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "barcode_items/barcode_modal" %>
</section>
