<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">

            <%= simple_form_for child, html: {role: 'form', class: 'form-horizontal'} do |form| %>
              <%= form.label :first_name, "First Name" %>
              <%= form.text_field :first_name, class: "form-control" %>

              <%= form.label :last_name, "Last Name" %>
              <%= form.text_field :last_name, class: "form-control" %>

              <%= @requestable_items.map(&:last).intersect?(child.requested_item_ids) %>
              <div class="requestable-items-container">
                <%= form.label :item_needed, "Item(s) Requested" %>
                <%= form.select(
                  :requested_item_ids,
                  @requestable_items,
                  { include_hidden: true },
                  {
                    multiple: true,
                    class: "form-control custom-select",
                    "data-controller": "select2",
                    "data-select2-config-value": "{}",
                  },
                ) %>
              <br>
              </div>

              <%= form.input :date_of_birth, as: :date, start_year: 20.years.ago.year, end_year: Time.current.year, label: "Date of Birth" %>
              <%= form.input :gender, collection: ["Male", "Female"], class: "form-control" %>

              <%= form.label :child_lives_with, "Child Lives With" %><br>

              <% Partners::Child::CAN_LIVE_WITH.each do |a_value| %>
                <%= form.check_box(:child_lives_with, {:multiple => true}, a_value, nil) %>
                <%= form.label "#{a_value}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% end %>
              <br>
              <%= form.input :race, collection: ["African American", "Caucasian", "Hispanic", "Asian", "American Indian", "Pacific Islander", "Multi-racial", "Other"], class: "form-control", :include_blank => true %>
              <%= form.input :agency_child_id, class: "form-control", label: "Agency Child ID" %>
              <%#= form.label :health_insurance, 'Health Insurance' %>
              <%= form.input :health_insurance, as: :radio_buttons,
                             collection: [['Private Insurance', 'Private Insurance'],
                                          ['Medicaid', 'Medicaid'],
                                          ['Uninsured', 'Uninsured']],
                             label: "Health Insurance",
                              class: "form-control" %>

              <%= form.label :comments %><br>
              <%= form.text_area :comments, class: "form-control" %>

              <%= hidden_field_tag :family_id, child.family.id %>
              <br>
              <%= form.label :active %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= form.check_box :active %>
              <br>
              <%= form.label "Archived?" %>&nbsp;
              <%= form.check_box :archived %>

              <div class="card-footer">
                <%= form.submit(class: 'btn btn-primary') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
