<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Human Essentials</title>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
    
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <style>
      .app-images {
        height: 400px;
      }
    </style>
  </head>
  <body>
  <%= render partial: "shared/flash_tailwind" %>
  <div class='pt-2' style="background: linear-gradient(135deg, #3023AE, #C86DD7)">
      <div class="container px-5 pt-5 mx-auto max-w-7xl">
        <nav>
          <div class="flex items-center justify-between">
            <div>
              <a class="text-lg lg:text-3xl lg:text-4xl" href="#"><h2 class="font-bold text-white">HumanEssentials.app</h2></a>
            </div>

            <div class="flex" id="myNavbar">
              <div class="flex items-center text-white space-x-4 md:space-x-10 text-md lg:text-2xl">
                <a class="hidden md:block" href="#about">About</a>
                <a class="hidden md:block" href="#testimonials">Testimonials</a>
                <a class="hidden md:block" href="#contact">Contact</a>
                <a href=<%= new_login_path %>>
                  <button class="flex flex-row items-center w-full px-4 py-2 bg-green-500 hover:bg-green-600 rounded-2xl text-md">
                  <span class='text-lg'>Login</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="container flex px-5 mx-auto font-bold text-white max-w-7xl" style='height:60vh; min-height: 500px'>
        <div class="flex flex-col items-center justify-center mx-auto text-center lg:mx-0 lg:text-left">
          <div class="text-4xl">
            <div>
              <h2 class="">The easiest and most love-filled <br/> way to manage your <br/> Human Essentials bank.</h2>
              <p class='mt-2 mb-3 text-lg font-normal'>Ready to make yourself more efficient?</p>
              <a href=<%="#{new_account_request_path}"%>><button type="button" class="px-3 py-2 text-2xl text-white bg-green-600 rounded-2xl hover:bg-green-700">
                Register your bank here for free!
              </button></a>
            </div>
          </div>
          <div class="absolute hidden w-1/4 lg:block right-52">
            <%= image_tag("hero-image.svg") %>
          </div>
        </div>
      </div>
    </div>


    <div class="container pt-5 mx-auto max-w-7xl" id="about">
      <div class="mt-10 text-center">
        <h2 class="text-4xl text-gray-600">The Human Essentials app removes the <br/> complexity from your day</h2>
        <p class="mt-1 text-gray-400">and lets you spend time helping those who need it.</p>
        <a href="mailto:info@humanessentials.app?Subject=Essentials%20Interest"><button type="button" class="px-3 py-2 mt-5 text-lg text-white bg-green-500 rounded-2xl">Get In Touch</button></a>
      </div>
    </div>


    <div class="w-3/4 py-24 mx-auto">

      <div class="flex flex-col justify-center md:flex-row">
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("partner-management.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Partner Management</h3>
            <p class="mt-2 text-gray-400">Invite, review applications, certify and recertify partner agencies. Review, approve, and view history of partner orders. </p>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("forecasting.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Forecasting</h3>
            <p class="mt-2 text-gray-400">View charts with month over month data for your distributions, purchases, and donations so you can accurately forecast need.</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-center md:flex-row">
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("report-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Report Generation</h3>
            <p class="mt-2 text-gray-400">Generate pdfs of partner distribution invoices for easy printing and sending.</p>
          </div>
        </div>

        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("barcode.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Barcode Scanning</h3>
            <p class="mt-2 text-gray-400">Quickly add or remove inventory with the scan of a barcode. The adjusting and transfering of inventory is also supported as well as creating your own barcodes.</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-center md:flex-row">
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("inventory-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Inventory Management</h3>
            <p class="mt-2 text-gray-400">Easily keep track of the items in your inventory regardless of their storage location.</p>
          </div>
        </div>

        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <div class="pb-2">
            <%= image_tag("dashboard-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-3xl">Dashboard Vizualization</h3>
            <p class="mt-2 text-gray-400">Quickly view your inventory, donations, purchases and distributions on a single page.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="px-0 py-5 text-white bg-green-600" id="testimonials">
      <div class="container flex flex-col items-center justify-center py-5 mx-auto max-w-7xl md:flex-row">
        <div class="flex justify-center w-1/2">
          <%= image_tag("quote.svg", class: "quote-image", style: 'width: 300px') %>
        </div>
        <div class="w-full px-4 pt-5 sm:w-1/2">
          <h3 class="text-4xl">Testimonials</h3>
          <div class='mt-5'>
            <div class='space-y-12'>
              <div>
                <p>Human Essentials has taken our diaper distribution to the next level. We no longer have to worry about how to track our incoming and outgoing inventory, and having all our products and data tracked in different ways in different documents and systems. Human Essentials has saved us time, money, energy and many, many headaches. The system is extremely intuitive and user-friendly and we are so grateful to have it.</p>
                <strong class='mt-2'> - Megan, Sweet Cheeks Diaper Bank</strong>
              </div>
              <div>
                <p class="text-testimonials">Finally, an inventory management system designed specifically for the unique needs of diaper banks!</p>
                <strong> - Rachel Alston, PDX Diaper Bank </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-32 mx-auto max-w-7xl" id="contact">
      <div class="text-center">
        <h2 class="text-4xl">Want to use the Human Essentials App?</h2>
        <p class="mt-2 text-gray-500">After the demo, you will be able to request your own account.</p>
        <a href=<%="#{new_account_request_path}"%>><button type="button" class="px-3 py-2 mt-5 text-lg text-white bg-green-500 rounded-2xl">Request A Demo</button></a>

        <br/><br/>
        <p class="text-gray-500">Have questions? Email us at <a class='text-blue-500' href="mailto:info@humanessentials.app?Subject=Essentials%20Interest" target="_top" >info@humanessentials.app</a></p>
      </div>
    </div>

    <div class="bg-gray-500">
      <div class="container py-32 mx-auto text-white max-w-7xl">
        <div class="flex flex-col mx-auto text-center sm:text-left sm:flex-row space-y-10 sm:space-y-0">
          <div class="w-full sm:w-1/2">
            <h2 class="text-3xl">HumanEssentials.app</h2>
          </div>
          <div class="w-full sm:w-1/2">
            <strong class="text-white">The Human Essentials App was lovingly built by:</strong>
            <br/>
            <a class='text-blue-400' href="http://www.pdxdiaperbank.org/">PDX Diaper Bank</a> <span class="text-white"> | </span>
            <a class='text-blue-400' href="http://rubyforgood.org/">Ruby for Good</a>
            <br/><br/>
            <a class='text-blue-400' href="https://stories.freepik.com/business">Illustration by Freepik Stories</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
