<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Essentials</title>

    <%= stylesheet_link_tag 'landing_page', media: 'all' %>
  </head>
  <body>
  <div class="hero pt-2">
    <%= render partial: "shared/flash" %>

    <div class="container-fluid px-4 pt-3">
      <nav>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a href="#" class="text-decoration-none">
              <h2 class="text-white fw-bold mb-0">HumanEssentials.app</h2>
            </a>
          </div>

          <div class="d-flex">
            <div class="d-flex text-white gap-4 gap-lg-5 align-items-center">
              <a class="d-none d-md-block text-white text-decoration-none fs-5" href="#about">About</a>
              <a class="d-none d-md-block text-white text-decoration-none fs-5" href="#testimonials">Testimonials</a>
              <a class="d-none d-md-block text-white text-decoration-none fs-5" href="#contact">Contact</a>
              <a class="text-decoration-none" href="<%= new_user_session_path %>">
                <button class="btn btn-success d-flex align-items-center rounded-4">
                  <span>Login</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-subcontainer container-fluid px-4 text-white">
      <div class="row h-100 align-items-center">
        <div class="col-12 col-lg-7">
          <div class="d-flex flex-column align-items-center align-items-lg-start text-center">
            <h2 class="fs-2 fw-bold text-lg-start">The easiest and most love-filled <br> way to manage your <br> Human Essentials bank.</h2>
            <p class="fs-5 mb-3 mt-2 text-lg-start">Ready to make yourself more efficient?</p>
            <a href="<%= new_account_request_path %>"><button type="button" class="btn btn-success fs-4 fw-bold text-white rounded-4">
              Register your bank here for free!
            </button></a>
          </div>
        </div>

        <div class="col-0 d-none d-lg-block position-absolute w-25 p-0" style="right:13rem">
          <%= image_tag("hero-image.svg", class: "w-100") %>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid mx-auto pt-5" id="about">
      <div class="text-center mt-3">
        <h2 class="fs-2 text-black text-opacity-75">The Human Essentials app removes the <br> complexity from your day</h2>
        <p class="mt-1 mb-4 text-muted">and lets you spend time helping those who need it.</p>
        <a href="mailto:info@humanessentials.app?Subject=Essentials%20Interest"><button type="button" class="fs-5 btn btn-success text-white px-3 py-2 rounded-4">Get In Touch</button></a>
      </div>
    </div>

    <div class="w-75 mx-auto py-5 my-5">
      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("partner-management.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Partner Management</h3>
            <p class="text-muted mt-2">Invite, review applications, certify and recertify partner agencies. Review, approve, and view history of partner orders. </p>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("forecasting.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Forecasting</h3>
            <p class="text-muted mt-2">View charts with month over month data for your distributions, purchases, and donations so you can accurately forecast need.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("report-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Report Generation</h3>
            <p class="text-muted mt-2">Generate PDFs of partner distribution invoices for easy printing and sending.</p>
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("barcode.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Barcode Scanning</h3>
            <p class="text-muted mt-2">Quickly add or remove inventory with the scan of a barcode. Creating your own barcodes is also supported.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("inventory-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Inventory Management</h3>
            <p class="text-muted mt-2">Easily keep track of the items in your inventory regardless of their storage location. Adjust and transfer your inventory between locations as needed.</p>
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="pb-2">
            <%= image_tag("dashboard-image.svg", class: "app-images") %>
          </div>
          <div class="text-center">
            <h3 class="text-lg">Dashboard Visualization</h3>
            <p class="text-muted mt-2">Quickly view your inventory, donations, purchases, and distributions on a single page.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-5 text-white" id="testimonials">
      <div class="container-fluid">
        <div class="row">

          <div class="col-12 col-md-6 d-flex justify-content-center">
            <%= image_tag("quote.svg", class: "quote-image") %>
          </div>

          <div class="col-12 col-md-6 pt-5 px-4">
            <h2 class="fs-1">Testimonials</h2>
            <figure>
              <blockquote class="blockquote">
                <p class="fs-6">Human Essentials has taken our diaper distribution to the next level. We no longer have to worry about how to track our incoming and outgoing inventory, and having all our products and data tracked in different ways in different documents and systems. Human Essentials has saved us time, money, energy and many, many headaches. The system is extremely intuitive and user-friendly and we are so grateful to have it.</p>
              </blockquote>
              <figcaption class="blockquote-footer text-white fw-bold">
                Megan, Sweet Cheeks Diaper Bank
              </figcaption>
            </figure>
            <figure>
              <blockquote class="blockquote">
                <p class="fs-6">Finally, an inventory management system designed specifically for the unique needs of diaper banks!</p>
              </blockquote>
              <figcaption class="blockquote-footer text-white fw-bold">
                Rachel Alston, PDX Diaper Bank
              </figcaption>
            </figure>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid py-5" id="contact">
      <div class="text-center py-5">
        <h2 class="fs-1">Want to use the Human Essentials App?</h2>
        <a href="<%= new_account_request_path %>"><button type="button" class="btn btn-success fs-5 text-white px-3 py-2 my-3 rounded-4">Request An Account</button></a>

        <p class="text-muted">Have questions? Email us at <a href="mailto:info@humanessentials.app?Subject=Essentials%20Interest" target="_top">info@humanessentials.app</a></p>
      </div>
    </div>

    <div class="bg-secondary py-5">
      <div class="container-fluid py-5 my-0 my-md-5 text-white">
        <div class="row text-center text-md-start">
          <div class="col-12 col-md-6 mb-4">
            <h2 class="ps-0 ps-md-5">HumanEssentials.app</h2>
          </div>
          <div class="col-12 col-md-6">
            <strong>The Human Essentials App was lovingly built by:</strong>
            <div class="mt-2">
              <a class="link-info" href="http://www.pdxdiaperbank.org/">PDX Diaper Bank</a> |
              <a class="link-info" href="http://rubyforgood.org/">Ruby for Good</a>
            </div>

            <div class="mt-1">
              <a class="link-info" href="https://stories.freepik.com/business">Illustration by Freepik Stories</a>
              <%= link_to "Privacy Policy", privacypolicy_path, class: "link-info d-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
