<tr id="<%= dom_id broadcast_announcement %>">
  <td><%= broadcast_announcement.message %></td>
  <td><%= link_to  broadcast_announcement.link, broadcast_announcement.link %></td>
  <td><%= broadcast_announcement.user&.name || "N/A" %></td>
  <td><%= broadcast_announcement.expiry %>
    <% if broadcast_announcement.expired? %>
      <span class="badge badge-danger bg-danger">Expired</span>
    <% end %>
  </td>
  <td class="text-right">
    <%= edit_button_to edit_broadcast_announcement_path(broadcast_announcement) %>
    <%= delete_button_to broadcast_announcement, method: :delete %>
  </td>
</tr>
