<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Site Feedback!</h1>
    <p> <%= @feedback_message.message %> </p>
    <h3>Additional Info</h3>
    <ul>
      <li>Username: <%= @feedback_message.user.name %></li>
      <li>Email: <%= @feedback_message.user.email %></li>
      <li>ID:  <%= @feedback_message.user.id %></li>
      <li>Path: <%= @feedback_message.path %></li>
      <li>Timestamp: <%= @feedback_message.created_at %></li>
    </ul>
  </body>
</html>
