<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Edit - Vendors - #{@vendor.contact_name} - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h2> Editing Vendor <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
       <%= link_to "Vendors", vendors_path %>
      </li>
      <li class="breadcrumb-item active">
        Editing <%= @vendor.contact_name %>
      </li>
    </ol>
  </div>
</div>

<%= render partial: "form", object: @vendor %>
