<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Vendors - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h2>Vendors for <%= current_organization.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        Vendors
      </li>
    </ol>
  </div>


  <div class="col-lg-4">
    <div class="title-action">
          <%= modal_button_to("#csvImportModal", { icon: "upload", text: "Import Vendors", size: "lg"}) if @vendors.empty? %>
          <%= download_button_to(csv_path(format: :csv, type: "Vendor"), { text: "Export Vendors", size: "lg" }) if @vendors.any? %>
          <%= new_button_to new_vendor_path(organization_id: current_organization), text: "New Vendor" %>
    </div>
  </div>
</div>        
      
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Business Name</th>
                  <th>Contact Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Total Diapers</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "vendor_row", collection: @vendors %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    title: "Import Vendors",
    csv_template_url: "/vendors.csv",
    csv_import_url: import_csv_vendors_path
  }
) do %>
  <li>Open the csv file with excel or your favourite spreadsheet program.</li>
  <li>Delete the sample data and enter vendors names, emails and phone numbers in the appropriate columns.</li>
  <li>Save the file as a csv file.</li>
<% end %>
