<section class="content-header">
  <% content_for :title, "Vendors - #{current_organization.name}" %>
  <h1>
    Vendors
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">Vendors</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <div class="pull-right">
          <%= modal_button_to("#csvImportModal", { icon: "upload", text: "Import Vendors", size: "lg"}) if @vendors.empty? %>
          <%= download_button_to(csv_path(format: :csv, type: "Vendor"), { text: "Export Vendors", size: "lg" }) if @vendors.any? %>
          <%= new_button_to new_vendor_path(organization_id: current_organization), text: "New Vendor" %>
        </div>
      </section>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped">
              <thead>
                <tr>
                  <th>Business Name</th>
                  <th>Contact Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th class="numeric">Total Diapers</th>
                  <th class="pull-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "vendor_row", collection: @vendors %>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section><!-- /.content -->

<%= render(
  layout: "shared/csv_import_modal",
  locals: {
    title: "Import Vendors",
    csv_template_url: "/vendors.csv",
    csv_import_url: import_csv_vendors_path
  }
) do %>
  <li>Open the csv file with excel or your favourite spreadsheet program.</li>
  <li>Delete the sample data and enter vendors names, emails and phone numbers in the appropriate columns.</li>
  <li>Save the file as a csv file.</li>
<% end %>
