<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Vendors - #{@vendor.contact_name} - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Vendor Information
      <small>for <%= @vendor.contact_name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Vendors", (vendors_path) %></li>
      <li class="breadcrumb-item active"> 
        <%= @vendor.contact_name %>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <h3><%= @vendor.contact_name %></h3>
        </div>
        <div class="ibox-content p-xl">
          <p>Business name: <%= @vendor.business_name %></p>
          <p>Contact Name: <%= @vendor.contact_name %></p>
          <% if @vendor.phone.present? %>
            <p>Phone: <%= @vendor.phone %></p>
          <% end %>
          <% if @vendor.email.present? %>
            <p>Email: <%= link_to @vendor.email, "mailto:#{@vendor.email}" %></p>
          <% end %>
            <p>Address: <%= @vendor.address %></p>
        </div>
        <% if @vendor.present? %>
          <div class="col-xs-12">
            <h4>Past Purchases with this Vendor</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Volume</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <% @vendor.purchases.each do |purchase| %>
                    <tr>
                      <td><%= purchase.created_at.strftime("%m/%d/%Y") %></td>
                      <td><%= purchase.line_items.total %></td>
                      <td><%= view_button_to purchase, { text: "View purchase details" } %></td>
                    </tr>
                  <% end %>
                </table>
              </div><!-- table-responsive -->
            </div><!-- col-lg-12 -->
          </div><!-- row -->
        <% end %>
      </div><!-- ibox-content p-xl -->
    </div><!-- wrapper wrapper-content animated fadeInRight-->
  </div><!-- col-lg-12 -->
</div><!--.row -->
