<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <img id="MastheadLogo" src="/img/diaper-base-logo-full-white-text.svg" style="width: 80%; height: 80%; " alt="Diaperbase" title="Diaperbase" class="serv_icon"/>

    </div>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
    <form class="m-t" role="form" action="index.html">
      <div class="form-group">
        <%= f.input :email, label: "E-mail:", autofocus: true, wrapper: :vertical_input_group do %>
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= f.input_field :email, class: "form-control" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.input :email, label: "Password:", wrapper: :vertical_input_group do %>
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.input_field :password, class: "form-control" %>
        <% end %>      </div>

      <%= f.button :submit, "Log in" %>

      <%= render "devise/shared/links" %>

    </form>
        <% end %>
  </div>
</div>


<script>
    $(document).ready(function() {

        if (document.URL == "https://diaperbase.org/users/sign_in") {
            $('#exampleModal').modal('show');
        }
    });
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Demo Site Reminder</h3>
      </div>
      <div class="modal-body">
        Please be aware that diaperbase.org is a demo/test server for <a href="https://diaper.app">diaper.app</a>. Multiple people have access to the test accounts so please do not save or upload any sensitive data.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">I Understand</button>
      </div>
    </div>
  </div>
</div>