<%= render partial: "shared/flash" %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

          <div class="form-inputs">
            <%= f.input :email, autofocus: true %>
          </div>
          <div class="form-inputs">
            <%= f.input :password, autofocus: true %>
          </div>


        <!--        <div class="input-group mb-3">-->
<!--          <input type="email" class="form-control" placeholder="Email">-->
<!--          <div class="input-group-append">-->
<!--            <div class="input-group-text">-->
<!--              <span class="fas fa-envelope"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="input-group mb-3">-->
<!--          <input type="password" class="form-control" placeholder="Password">-->
<!--          <div class="input-group-append">-->
<!--            <div class="input-group-text">-->
<!--              <span class="fas fa-lock"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <%#= f.input :email, label: "E-mail:", autofocus: true, wrapper: :input_group do %>
<!--          <span class="input-group-text"><i class="fa fa-envelope"></i></span>-->
          <%#= f.input_field :email, class: "form-control" %>
        <%# end %>
        <%#= f.input :password, label: "Password:", wrapper: :input_group do %>
<!--          <span class="input-group-text"><i class="fa fa-lock"></i></span>-->
          <%#= f.input_field :password, class: "form-control" %>
        <%# end %>
<!--        <div class="row">-->
          <div class="col-12 text-center">
            <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
        <br>
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-9">
            <p class="mb-1">
              <%= render "devise/shared/links" %>
            </p>
          </div>

        </div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    <% if Rails.env.staging? %>
      //Prevents users from closing the modal by clicking outside of it or pressing the esc key
      $('#exampleModal').modal({
        backdrop: 'static',
        keyboard: false
      });
      //Adds click event handler on the checkbox
      $('#defaultCheck1').click(function(){
        //If the checkbox is checked, enable the continue button
        if($(this).is(':checked')){
          $('.continue-btn').attr("disabled", false);
        } else{
          $('.continue-btn').attr("disabled", true);
        }
      });
    <% end %>
  });
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><b>This site is for TEST purposes only!</b></h3>
      </div>
      <div class="modal-body">
        You're visiting diaperbase.org, a demo/test site for the full site at <a href="https://diaper.app">diaper.app</a>.<br>
        It is not safe to upload, enter or save any sensitive data here.<br>
        <div class="modal-body-warning-text">
          To safely login or reset your password, please visit <a href="https://diaper.app/users/sign_in">diaper.app</a>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            I Understand
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning continue-btn" data-dismiss="modal" disabled>Continue in Test Site</button>
        <a href="https://diaper.app/users/sign_in" class="btn btn-primary" role="button">Safely Sign In</a>
      </div>
    </div>
  </div>
</div>
