<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Admin - Organizations" %>
        <h1>
          All Human Essentials Organizations
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">All Essentials Organizations</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <%= form_for_filterrific @filterrific, remote: true do |f| %>
              <div class="row flex-row justify-content-between align-items-center">
                <div class='col-3'>
                  <%= f.label :search_name, "Search By Organization Name" %>
                  <%= f.text_field(:search_name, class: 'filterrific-periodically-observed form-control') %>
                </div>
                <div class="col-3">
                  <%= render_filterrific_spinner %>
                </div>
                <div clas="col-9">
                  <div class="float-right">
                    <%= new_button_to new_admin_organization_path, { text: "Add New Organization" } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div id="filterrific_results">
            <%= render( partial: 'list', locals: { organizations: @organizations }) %>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
