<div class="box-header with-border bg-gray">
    <section id="filters">
    <%= form_tag(items_path, method: :get) do |f| %>
      <div class="row">
        <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <%= label_tag "Filter by Base Item" %>
          <%= collection_select(:filters, :by_base_item, BaseItem.alphabetized, :partner_key, :name, { include_blank: true, selected: @selected_base_item }, class: "form-control") %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <%= check_box_tag("include_inactive_items", 1, @include_inactive_items) %>
          <%= label_tag "Also include inactive items" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= filter_button %>
          <%= cancel_button_to items_path, { text: "Clear Filters" } %>

        <div class="pull-right">
          <%= download_button_to(csv_path(format: :csv, type: "Item"), { text: "Export Items", size: "lg" }) if @items.any? %>
          <%= new_button_to new_item_path(organization_id: current_organization), { text: "Create New Item" } %>
        </div>
      </div>
    </div><!-- /.row -->
    <% end #form %>
    </section>
</div><!-- /.box-header -->
