<section id="filters">
  <%= form_tag(items_path, method: :get) do |f| %>
    <div class="row">
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= label_tag "Filter by Base Item" %>
        <%= collection_select(:filters, :by_base_item, BaseItem.all,
          :partner_key, :name, { include_blank: true }, class: "form-control") %>
      </div>
      <div class="col-xs-12" style="margin-top:27px">
        <%= filter_button %>
        <%= cancel_button_to items_path, { text: "Clear Filters" } %>

        <div class="pull-right"></div>
      </div>
    </div>
  <% end %>
</section>
