<% row_item = row.last %>
<tr>
<td><%= row_item[:item_name] %></td>
<td><%= row_item[:item_category] %></td>
<% @storages.each do |storage| %>
  <td><%= row_item[storage.id] %></td>
<% end %>
<td><%= row_item[:quantity] == 0? '': row_item[:quantity] %></td>
  <td><%= item_value(row_item[:item_value]) %></td>
<td>
</tr>
