<tr>
  <td><%= item_row.name %></td>
  <td><%= item_row.category %></td>
  <td><%= item_row.barcode_count %></td>
  <td class="pull-right">
  		<%= link_to "View", item_path(item_row), class: "btn btn-info btn-xs" %>    
      <%= link_to "Edit", edit_item_path(item_row), class: "btn btn-info btn-xs" %> 
      <%= link_to "Delete", item_path(item_row), method: :delete, class: "btn btn-danger btn-xs" %></td>
</tr>