<tr data-item-id="<%= item_row.id %>">
  <td><%= item_row.name %></td>
  <td><%= item_row.category %></td>
  <td><%= item_row.barcode_count %></td>
  <td><%= item_row.canonical_item.name %></td>
  <td><%= item_value(item_row.value) %></td>
  <td class="text-right">
    <%= view_button_to item_path(item_row) %>
    <%= edit_button_to edit_item_path(item_row) %>
    <%= delete_button_to item_path(item_row), { confirm: confirm_delete_msg(item_row.name) } %>
  </td>
</tr>
