<section class="content-header">
  <% content_for :title, "Items - Inventory - #{current_organization.name}" %>
  <h1>
    Item Types
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">All Items</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <%= render partial: 'header' %>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#sectionA">Item List</a></li>
            <li role="presentation"><a data-toggle="tab" href="#sectionB">Items, Quantity, and Location</a></li>
          </ul>

          <div class="tab-content">
            <%= render partial: 'item_list' %>
            <%= render partial: 'items_quantity_and_location' %>
          </div><!-- /.tab-content -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section><!-- /.content -->
