<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Items - Inventory - #{current_organization.name}" %>
        <h1>
          Item Types
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">All Items</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Item Filter</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= form_tag(items_path, method: :get) do |f| %>
              <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= filter_select(scope: :by_base_item, collection: BaseItem.alphabetized, key: :partner_key, selected: @selected_base_item) %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= filter_checkbox(label: "Also include inactive items", scope: "include_inactive_items", selected: @include_inactive_items) %>
                </div>
              </div>
              </div>
              <div class="card-footer">
                <%= filter_button %>
                <%= clear_filter_button %>
                <span class="float-right">
                  <%= download_button_to(items_path(format: :csv, filters: filter_params.merge(date_range: date_range_params)), {text: "Export Items", size: "md"}) if @items.any? %>
                  </span>
              </div>
            <% end # form %>
            </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0 text-md">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
              <li class="nav-item" class="active">
                <a class="nav-link active" id="custom-tabs-three-home-tab" data-bs-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Item
                  List</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-three-categories-tab" data-bs-toggle="pill" href="#custom-tabs-three-categories" role="tab" aria-controls="custom-tabs-three-categories" aria-selected="false">Item Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-three-profile-tab" data-bs-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Items,
                  Quantity, and Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-three-inventory-tab" data-bs-toggle="pill" href="#custom-tabs-three-inventory" role="tab" aria-controls="custom-tabs-three-inventory" aria-selected="false">
                  Item Inventory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-three-kits-tab" data-bs-toggle="pill" href="#custom-tabs-three-kits" role="tab" aria-controls="custom-tabs-three-kits" aria-selected="false">Kits</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-three-tabContent">
              <%= render partial: 'item_list', locals: { items: @items, inventory: @inventory, kits: @kits.active } %>
              <%= render partial: 'item_categories', locals: { item_categories: @item_categories } %>
              <%= render partial: 'items_quantity_and_location' %>
              <%= render partial: 'items_inventory' %>
              <%= render partial: 'kits' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
