<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Items - #{@item.name} - Inventory - #{current_organization.name}" %>
        <h1>
          Item Information
          <small>for <%= @item.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "All Item Types", items_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @item.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
            <tbody>
              <tr>
                <th>Base Item</th>
                <td><%= @item.base_item.name %></td>
              </tr>
              <tr>
                <th>Name</th>
                <td><%= @item.name %></td>
              </tr>
              <tr>
                <th>Category</th>
                <td><%= @item&.item_category&.name %></td>
              </tr>
              <tr>
                <th>Value Per Item</th>
                <td><%= @item.value_in_cents || 0 %></td>
              </tr>
              <tr>
                <th>Quantity Per Indivudual</th>
                <td><%= @item.distribution_quantity || 0 %></td>
              </tr>
              <tr>
                <th>On hand minimum quantity</th>
                <td><%= @item.on_hand_minimum_quantity || 0 %></td>
              </tr>
              <tr>
                <th>On hand recommended quantity</th>
                <td><%= @item.on_hand_recommended_quantity || 0 %></td>
              </tr>
              <tr>
                <th>Package Size</th>
                <td><%= @item.package_size || 0 %></td>
              </tr>
              <tr>
                <% if Flipper.enabled?(:enable_packs) %>
                  <th>Custom Units</th>
                  <% item_units = @item.request_units&.pluck("item_units.name") %>
                  <td><%= item_units&.join("; ") %></td>
                <% end %>
              </tr>
              <tr>
                <th>Item is visible to partners</th>
                <td><%= @item.visible_to_partners ? 'Yes' : 'No' %></td>
              </tr>
            </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title">This Item Is Contained In These Inventories</h2>
          </div>
          <div class="card-body p-0">
            <% if @storage_locations_containing.present? %>
              <h4></h4>
              <table class="table">
                <thead>
                <tr>
                  <th>Storage location</th>
                  <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <% total = 0; @storage_locations_containing.each do |storage|
                  location_quantity = if @inventory
                    @inventory.quantity_for(item_id: @item.id, storage_location: storage.id)
                  else
                    storage.item_total(@item)
                  end
                  total += location_quantity %>
                  <tr>
                    <td><%= link_to storage.name, storage_location_path(storage) %></td>
                    <td class="text-left"><%= location_quantity %></td>
                  </tr>
                <% end %>
                <tr>
                  <td class="text-left">Total</td>
                  <td class="text-left"><%= total %></td>
                </tr>
                </tbody>
              </table>
            <% end %>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<% if @barcodes_for.present? %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-primary">
            <div class="card-header">
              <h2 class="card-title">Barcodes Associated With This Item</h2>
            </div>
            <div class="card-body p-0">
              <table class="table">
                <thead>
                <tr>
                  <th>Barcode value</th>
                  <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <% @barcodes_for.each do |barcode_item| %>
                  <tr>
                    <td><%= link_to barcode_item.value, barcode_item_path(barcode_item) %></td>
                    <td><%= barcode_item.quantity %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
<% end %>
</div>
</div>
</div>
</div>
</div>
</section>
