<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Items - #{@item.name} - Inventory - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h2>Item Information for <%= @item.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "All Item Types", (items_path) %>
      </li>
      <li class="breadcrumb-item active">
        <%= @item.name %>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <h3><%= @item.name %> <%= item_value(@item.value, ', value per Item: ') %></h3>
      <% if @storage_locations_containing.present? %>
      <h4>This item is contained in these inventories</h4>
        <div class="ibox-content lg">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Storage location</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <% total = 0; @storage_locations_containing.each do |storage|
                 total += storage.item_total(@item) %>
                  <tr>
                    <td><%= link_to storage.name, storage_location_path(storage) %></td>
                    <td><%= storage.item_total(@item) %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Total</td>
                    <td><%= total %></td>
                  </tr>
                </tbody>
              </table>
              <% end %>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

<% if @barcodes_for.present? %>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-lg">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <h2>Barcodes Associated with this Item</h2>
                <table class="table table-hover">
                  <tr>
                    <th>Barcode value</th>
                    <th>Quantity</th>
                  </tr>
                  <% @barcodes_for.each do |barcode_item| %>
                  <tr>
                    <td><%= link_to barcode_item.value, barcode_item_path(barcode_item) %></td>
                    <td><%= barcode_item.quantity %></td>
                  </tr>
                  <% end %>
                </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
