<% content_for :title, "#{current_organization.name} - Inventory - Items - #{@item.name}" %>

<h1><%= @item.name %></h1>

<p>Found in category: <%= @item.category %></p>

<% if @storage_locations_containing.present? %>
<h2>This item is contained in these inventories</h2>
<table id="inventories">
  <thead>
    <tr>
      <th>Storage location</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% total = 0; @storage_locations_containing.each do |storage|
       total += storage.item_total(@item) %>
      <tr>
        <td><%= link_to storage.name, storage_location_path(storage) %></td>
        <td><%= storage.item_total(@item) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= total %></td>
    </tr>
  </tfoot>
</table>
<% end %>

<% if @barcodes_for.present? %>
<h2>Barcodes Associated with this Item</h2>
<table id="barcode_items">
  <thead>
    <tr>
      <th>Barcode value</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @barcodes_for.each do |barcode_item| %>
      <tr>
        <td><%= link_to barcode_item.value, barcode_item_path(barcode_item) %></td>
        <td><%= barcode_item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @items_in_category.present? %>
<h2>Other items in this category</h2>
<ul id="category">
  <% @items_in_category.each do |item| %>
    <li><%= link_to item.name, item_path(item) %></li>
  <% end %>
</ul>
<% end %>
