<%= simple_form_for @partner_group, html: { class: 'form-horizontal' } do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body w-1/2">
              <%= f.input :name, label: "Name", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <%= f.input_field :name, class: "form-control" %>
              <% end %>

              <div class='mt-3'>
                <h2 class='text-bold text-lg'>Which Item Categories Can They Request?</h2>
                <label class='text-sm text-red-600' l>This controls which item categories members of this group can request!</label>
                <%= f.association :item_categories, collection: @item_categories, as: :check_boxes, label: '' %>
              </div>

              <div class='mt-3' data-controller='checkbox-with-nested-element'>
                <h2 class='text-bold text-lg'>Do you want to send deadline reminders to them every month?</h2>
                <%= f.input :send_reminders, as: :boolean, label: "Yes", input_html: { data: { action: 'click->checkbox-with-nested-element#toggleNestedElementVisiblity', 'checkbox-with-nested-element-target': 'checkbox' } } %>

                <div class='pl-5 d-none' data-checkbox-with-nested-element-target='nestedElement'>
                  <div class="callout callout-info">
                    <h5>That's great!</h5>
                    <p>You must fill out the details below to send reminders.</p>
                  </div>

                  <%= render 'shared/deadline_day_fields', f: f %>
                </div>
              </div>
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
              <%= submit_button(submit_btn_options) %>
            </div>
          </div>
          <!-- /.card -->
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
