<%= simple_form_for @partner_group, html: {class: 'form-horizontal'} do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body w-1/2">
              <%= f.input :name, label: "Name", wrapper: :input_group do %>
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <%= f.input_field :name, class: "form-control" %>
              <% end %>

              <div class='mt-3'>
                <h2 class='text-bold'>Which Item Categories Can They Request?</h2>
                <label class='text-sm text-red-600'l>This controls which item categories members of this group can request!</label>
                <%= f.association :item_categories, collection: @item_categories, as: :check_boxes, label: '' %>
              </div>
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
              <%= submit_button(submit_btn_options) %>
            </div>
          </div>
          <!-- /.card -->
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
