<%= turbo_frame_tag "partners/#{partner.id}/users" do %>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Users</h3>
    </div>

    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Invitation Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.order(name: :asc).each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.invitation_accepted_at %>
                  <span class="badge bg-success">Accepted</span>
                <% else %>
                  <span class="badge bg-primary">Waiting Acceptance</span>
                <% end %>
              </td>
              <td>
                <%= delete_button_to '#', { confirm: "Are you sure you want to remove user?", text: "Remove Access", icon: "undo" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
