<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partner | Users" %>
        <h1>
          <%= @partner.name %>'s Users
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
            <i class="fa fa-dashboard"></i> Home
          <% end %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to(@partner) do %>
              <%= @partner.name %>
            <% end %>
          </li>
          <li class="breadcrumb-item">Users</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users</h3>
          </div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                      <%= delete_button_to '#', { confirm: "Are you sure you want to remove user?", text: "Remove Access", icon: "undo" } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div> 

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add New User</h3>
          </div>

          <%= render 'form', user: @user, partner: @partner %>
        </div>
      </div> 
    </div>
</section>
