<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Partner | Users" %>
        <h1>
          <%= @partner.name %>'s Users
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
            <i class="fa fa-dashboard"></i> Home
          <% end %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to(@partner) do %>
              <%= @partner.name %>
            <% end %>
          </li>
          <li class="breadcrumb-item">Users</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= render 'users', users: @users, partner: @partner %>
      </div>

      <div class="col-md-3">
        <%= render 'form', user: @user, partner: @partner %>
      </div>
    </div>
  </div>
</section>
