<div class="app-title">
  <div>
    <h1><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Edit Authorized Family Member</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="<%= family_path(@authorized_family_member.family) %>">The <%= "#{@authorized_family_member.family.guardian_last_name}" %> Family</a></li>
    <li class="breadcrumb-item"><a href="<%= authorized_family_member_path(@authorized_family_member) %>">View Authorized Family Member</a></li>
    <li class="breadcrumb-item"><a href="#">Edit</a></li>
  </ul>
</div>

<%= render 'form', authorized_family_member: @authorized_family_member %>
