<div class="app-title">
  <div>
    <h1><i class="fa fa-user"></i> Authorized Family Members</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-user fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">Authorized Family Members</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <p><%= notice %><a class="alert-link" href="#"></a></p>
      </div>
    <% end %>
    <div class="tile">
      <h3><%= current_partner.name %> Authorized Family Members Served</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Comments</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% authorized_family_members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.date_of_birth %></td>
            <td><%= member.comments %></td>
            <td><%= link_to 'Edit Family Member Details', edit_authorized_family_member_path(member), class: "btn btn-sm btn-danger pull-right" %>
            </td>
        <% end %>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Adding Authorized Family Members</h3>

      <hr>
      Authorized Family Members must be added from their individual families to prevent
      accidentally associating the family member with the wrong family in the situation where
      there are families with similar names. Visit the family list below to view 
      and confirm the family you'd like to associate a authorized family member for pick up.
      <hr>
      <%= link_to 'Visit Family List', families_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
