<%= render partial: "shared/flash" %>
<% content_for :logo do%>
  <div class="login-logo">
    <img id="MastheadLogo" src="/img/partnerbase-logo.svg" style="width: 80%;" alt="Partner" title="Partner" class="serv_icon"/>
  </div>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <div class="form-inputs">
          <%= f.input :email, autofocus: true %>
        </div>
        <div class="form-inputs">
          <%= f.input :password, autofocus: true %>
        </div>
        <div class="col-12 text-center">
          <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
        </div>
        <!-- /.col -->
      </div>
      <br>
    </div>
  </div>
  </div>
<% end %>

