<% content_for :title, "#{current_organization.name} - Inventory - Transfers" %>

<div class="header-action">
  <%= link_to "New Transfer", new_transfer_path, class: "button float-right" %>
</div>

<h1>Transfers</h1>

<table id="transfers">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Comment</th>
      <th>Total Moved</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "transfer_row", collection: @transfers %>
  </tbody>
</table>

<section id="filters">
  <%= form_tag(transfers_path, method: :get) do |f| %>
    <%= label_tag "Show only transfers from" %>
    <%= collection_select(:filters, :from_location, @from_storage_locations || {}, :id, :name, { include_blank: true, selected: (@selected_from) }) %>
    <%= label_tag "Show only transfers to" %>
    <%= collection_select(:filters, :to_location, @to_storage_locations || {}, :id, :name, { include_blank: true, selected: (@selected_to) }) %>

    <%= submit_tag "Filter" %>
  <% end %>
  <%= link_to "Clear Filters", transfers_path %>
</section>
