<% content_for :title, "#{current_organization.name} - Inventory - Transfers - New" %>

<h1>Transfer inventory</h1>

<p>
  Create a <strong>Transfer</strong> to move quantities of inventory from one
  storage location to another.
</p>

<%= simple_form_for @transfer do |f| %>

  <%= f.association :from,
    collection: @storage_locations,
    label: "From storage location",
    error: "Which location are you moving inventory from?",
    input_html: {
      data: {
        storage_location_inventory_path: inventory_storage_location_path(
          organization_id: current_organization,
          id: ":id",
          format: :json
        )
      }
    }
  %>

  <%= f.association :to,
    collection: @storage_locations,
    label: "To storage location",
    error: "Which location is receiving this?" %>

  <%= f.input :comment %>

  <%= f.simple_fields_for :line_items do |item| %>
    <div id="transfer_line_items">
      <%= render 'line_item_fields', f: item %>
    </div>
    <div class="row links">
      <div class="medium-offset-3 medium-6 columns">
        <%= link_to_add_association "add line item", f, :line_items,
          data: {
            association_insertion_node: "#transfer_line_items",
            association_insertion_method: "append"
          }
        %>
      </div>
    </div>
  <% end %>

  <div class="medium-offset-3 medium-6">
    <%= f.button :submit %>
  </div>
<% end %>
