<% content_for :title, "#{current_organization.name} - Inventory - Transfers" %>

<h1>Transfer from <%= @transfer.from.name %> to <%= @transfer.to.name %></h1>

<% if @transfer.comment.present? %>
  <p><%= @transfer.comment %></p>
<% end %>

<table id="manifest">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.item.name %></td>
        <td><%= line_item.quantity %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>Total:</td>
      <td><%= @total %></td>
    </tr>
  </tfoot>
</table>

<%= link_to 'Back', transfers_path %>
