<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Transfers - #{@transfer.from.name} to #{@transfer.to.name} - Inventory - #{current_organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Inventory Transfer
      <small>for <%= @transfer.from.name %> to <%= @transfer.to.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
      </li>
      <li class="breadcrumb-item active">
        <%= link_to "All Transfers", (transfers_path) %>
      </li>
      <li class="breadcrumb-item active">
        <%= @transfer.from.name %> to <%= @transfer.to.name %>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <h3 class="box-title">Transfer from <%= @transfer.from.name %> to <%= @transfer.to.name %> on <%= @transfer.created_at.strftime("%m/%d/%Y") %></h3>
        <div class="ibox-content">
          <% if @transfer.comment.present? %>
            <p><%= @transfer.comment %></p>
          <% end %>
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
            <% @line_items.each do |line_item| %>
              <tr>
                <td><%= line_item.item.name %></td>
                <td><%= line_item.quantity %></td>
              </tr>
            <% end %>
                <tr>
                <td>Total:</td>
                <td><%= @total %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
