<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Transfers - #{@transfer.from.name} to #{@transfer.to.name} - Inventory - #{current_organization.name}" %>
        <h1>
          Inventory Transfers
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "All Transfers", transfers_path %></li>
          <li class="breadcrumb-item"><a href="#"><%= @transfer.from.name %> to <%= @transfer.to.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary">
          <div class="card-header">
            <h2 class="card-title">Transfer from <%= @transfer.from.name %> to <%= @transfer.to.name %> on <%= @transfer.created_at.strftime("%m/%d/%Y") %></h2>
          </div>
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
              </thead>
              <tbody>
              <% @line_items.each do |line_item| %>
                <tr>
                  <td><%= line_item.item.name %></td>
                  <td><%= line_item.quantity %></td>
                </tr>
              <% end %>
              <tr>
                <td>Total:</td>
                <td><%= @total %></td>
              </tr>
              <% if @transfer.comment.present? %>
              <tr>
                <td></td>
                <td></td>
              </tr>
                <tr>
                  <td>Comments:</td>
                  <td><%= @transfer.comment %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
