<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">

          <div class="card-header">
            <h2 class="card-title">Organization Info</h2>
          </div>

          <div class="card-body md:flex sm:block">
            <div class="col-lg-4">
              <div class="mb-4">
                <h3 class="font-bold">Name</h3>
                <p><%= current_organization&.name %></p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Short Name</h3>
                <p>
                  <%= @organization.short_name || "Not Provided"%>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>NDBN Membership ID</h3>
                <p>
                  <%= @organization.ndbn_member&.full_name || "Not Provided"%>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>URL</h3>
                <p>
                  <% if @organization.url.blank? %>
                    Not Provided
                  <% else %>
                    <a href=<%= @organization.url %>>
                      <%= fa_icon "external-link" %>
                      <%= @organization.url %></a>
                  <% end %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Email</h3>
                <p>
                  <%= fa_icon "envelope" %>
                  <% if @organization.email.blank? %>
                    Not Provided
                  <% else %>
                    <%= link_to @organization.email, "mailto:#{@organization.email}",
                                aria: { label: "Email organization - opens in new tab" } %>
                  <% end %>
                </p>
              </div>
              <div class="mb-4">
                <p>
                <h3 class='font-bold'>Contact Info</h3>
                <address class="mb-0"><%= fa_icon "map-marker" %>
                <% if @organization.address.blank? %>
                    Not provided
                <% else %>
                    <%= @organization.address %>
                  </address>
                <% end %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Reminder day</h3>
                <p>
                  <%= fa_icon "calendar" %>
                  <%= @organization.reminder_day.blank? ? 'Not defined' : "The #{@organization.reminder_day.ordinalize} of each month" %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Deadline day</h3>
                <p>
                  <%= fa_icon "calendar" %>
                  <%= @organization.deadline_day.blank? ? 'Not defined' : "The #{@organization.deadline_day.ordinalize} of each month" %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Default Intake Location</h3>
                <p>
                  <%= fa_icon "building" %>
                  <%= StorageLocation.find_by(id: @organization.intake_location)&.name || "Not defined" %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Partner Profile Sections</h3>
                  <% if @organization.partner_form_fields.blank? %>
                    <p>Not Provided</p>
                  <% else %>
                    <ul>
                      <% for partner_form_field in @organization.partner_form_fields %>
                        <li>
                          <%= display_partner_fields_value(partner_form_field) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Default Storage Location</h3>
                <p>
                  <%= fa_icon "building-o" %>
                  <%= StorageLocation.find_by(id: @organization.default_storage_location)&.name || "Not defined" %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Custom Partner Invitation Message</h3>
                <p>
                  <%= @organization.invitation_text.blank? ? "Not defined" : @organization.invitation_text %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Repackage Essentials?</h3>
                <p>
                  <%= fa_icon "inbox" %>
                  <%= humanize_boolean(@organization.repackage_essentials) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Distribute Monthly?</h3>
                <p>
                  <%= fa_icon "paper-plane" %>
                  <%= humanize_boolean(@organization.distribute_monthly) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Child Based Requests?</h3>
                <p>
                  <%= fa_icon "child" %>
                  <%= humanize_boolean(@organization.enable_child_based_requests) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Individual Requests?</h3>
                <p>
                  <%= fa_icon "female" %>
                  <%= humanize_boolean(@organization.enable_individual_requests) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Quantity Based Requests?</h3>
                <p>
                  <%= fa_icon "group" %>
                  <%= humanize_boolean(@organization.enable_quantity_based_requests) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Show Year-to-date values on distribution printout?</h3>
                <p>
                  <%= humanize_boolean(@organization.ytd_on_distribution_printout) %>
                </p>
              </div>
              <div class="mb-4">
                <h3 class='font-bold'>Use Single-step Invite and Approve Partner Process?</h3>
                <p>
                  <%= humanize_boolean(@organization.use_single_step_invite_and_approve_partner_process) %>
                </p>
              </div>
              <% if @organization.logo.attached? %>
                    <div class="mb-4">
                    <h3 class='font-bold'>Logo</h3>
                      <p>
                        <%= image_tag @organization.logo, class: "main_logo" %>
                      </p>
                      <p>
                        <a href="#showTheLogo" class="btn btn-xs btn-info" data-bs-toggle="modal">
                          View Original
                        </a>
                      </p>
                      <div id="showTheLogo" class="modal fade">
                        <div class="modal-dialog">
                          <%= image_tag @organization.logo, class: "thumbnail" %>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  <% end %>
            </div>
            <div class="col-lg-8">
              <h3 class='font-bold'>Default email text:</h3>
              <p>
                <%= @organization.default_email_text.presence || 'Not defined' %>
              </p>
            </div>
          </div>

          <% if can_administrate? %>
            <div class="card-footer">
              <%= edit_button_to(edit_organization_path, {size: "md"}) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
