<% content_for :title, "#{current_organization.name} - Edit" %>

<h1 class="medium-offset-3 medium-6">Edit <%= current_organization.name %></h1>

<%= simple_form_for current_organization, url: organization_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :short_name, required: true, autofocus: true %>
    <%= f.input :url, as: :url, placeholder: "http://www.example.com" %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :intake_location, :collection => StorageLocation.all, :label_method => :name,:value_method => :id,:label => "Intake Location" ,:include_blank => true %>
    <%= f.input :logo %>

    <p class="help-text medium-offset-3 medium-6">Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels)</p>
    <% if current_organization.logo.present? %>
      <div class="reveal" id="exampleModal1" data-reveal>
        <%= image_tag current_organization.logo.url %>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p><a data-open="exampleModal1" class="medium-offset-3 medium-6">Preview current logo</a></p>
    <% end %>
  </div>

  <div class="form-actions medium-offset-3 medium-6"">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>