
<section class="content-header">
  <% content_for :title, "Organizations - #{@organization.name} - Edit" %>
<h1>
  Editing
  <small><%= current_organization.name %></small>
</h1>
<ol class="breadcrumb">
<li><%= link_to(dashboard_path) do %>
    <i class="fa fa-dashboard"></i> Home
  <% end %>
  </li>
    <li><a href="#">Editing <%= current_organization.name %></a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">

<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Update record for <%= current_organization.name %></h3>
  </div>
  <div class="box-body">
<%= simple_form_for current_organization, url: organization_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.input_field :name, class: "form-control" %>
    <% end %>
    <%= f.input :short_name, required: true, autofocus: true, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
      <%= f.input_field :short_name, class: "form-control" %>
    <% end %>
    <%= f.input :url, as: :url, placeholder: "http://www.example.com", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-link"></i></span>
      <%= f.input_field :url, class: "form-control" %>
    <% end %>
    <%= f.input :email, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.input_field :email, class: "form-control" %>
    <% end %>

    <%= f.input :address, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
      <%= f.input_field :street, class: "form-control", placeholder: "street" %>
      <%= f.input_field :city, class: "form-control", placeholder: "city" %>
      <%= f.input_field :state, collection: us_states, class: "form-control", placeholder: "state" %>
      <%= f.input_field :zipcode, class: "form-control", placeholder: "zipcode" %>
    <% end %>

    <%= f.input :intake_location, :collection => current_organization.storage_locations, :label_method => :name,:value_method => :id,:label => "Default Intake Location" ,:include_blank => true, wrapper: :vertical_input_group %>

    <%= f.input :logo, wrapper: :vertical_input_group do %>

      <% if current_organization.logo.present? %>
        <div>
          <p>
            <%= image_tag current_organization.logo.url(:small) %>
          </p>
          <p>
            <a href="#showTheLogo" class="btn btn-xs btn-info" data-toggle="modal">
              View Original
            </a>
          </p>
          <div id="showTheLogo" class="modal fade">
            <div class="modal-dialog">
              <%= image_tag current_organization.logo.url, class: "thumbnail" %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <label class="control-label">Update Logo</label>
      <% end %>

      <%= f.input_field :logo, as: :file %>
      <p class="help-block">
        Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels).
        Only jpeg/png format is supported.
      </p>

    <% end %>
    <%= f.button :submit, "Update", class: "btn btn-lg btn-primary pull-left" %>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-lg btn-secondary" %>
  </div>

  </div>

<% end %>
</div>
<!-- /.box -->

</section>
