
<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Edit - Organizations - #{@organization.name} - " %>
  <div class="col-lg-8">
    <h1>
      Editing
      <small><%= current_organization.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Editing <%= current_organization.name %></a>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="ibox-title">
          <h3 class="box-title">Update record for <%= current_organization.name %></h3>
        </div>
        <div class="ibox-content">
          <%= render partial: "form", object: @organization %>
        </div>
      </div>
    </div>
  </div>
</div>    
