<section class="content-header">
  <div class="container-fluid">
    <div class="mb-2 row">
      <div class="col-sm-6">
        <% content_for :title, "Edit - Organizations - #{@organization.name} - " %>
        <h1>
          Editing
          <small><%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Editing <%= current_organization.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<%= simple_form_for current_organization, url: {controller: "organizations", action: "update"} do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary card-outline">
            <!-- /.card-header -->
            <div class="card-header">
              <h3>Update record for <%= current_organization.name %></h3>
            </div>
            <!-- form start -->
            <div class="card-body">
              <div class="form-inputs">
                <%= f.input :name, required: true, autofocus: true, wrapper: :input_group do %>
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                  <%= f.input_field :name, class: "form-control" %>
                <% end %>
                <%= f.input :short_name, required: true, autofocus: true, wrapper: :input_group do %>
                  <span class="input-group-text"><i class="fa fa-desktop"></i></span>
                  <%= f.input_field :short_name, disabled: true, class: "form-control" %>
                <% end %>
                <%= f.input :ndbn_member, label: 'NDBN Membership', wrapper: :input_group do %>
                  <%= f.association :ndbn_member, label_method: :full_name, value_method: :id, label: false %>
                <% end %>
                <%= f.input :url, as: :url, placeholder: "http://www.example.com", wrapper: :input_group do %>
                  <span class="input-group-text"><i class="fa fa-link"></i></span>
                  <%= f.input_field :url, class: "form-control" %>
                <% end %>
                <%= f.input :email, wrapper: :input_group do %>
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  <%= f.input_field :email, class: "form-control" %>
                <% end %>

                <%= f.input :address do %>
                  <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                  <%= f.input_field :street, class: "form-control", placeholder: "street" %>
                  <%= f.input_field :city, class: "form-control", placeholder: "city" %>
                  <%= f.input_field :state, collection: us_states, class: "form-control", placeholder: "state" %>
                  <%= f.input_field :zipcode, class: "form-control", placeholder: "zipcode" %>
                <% end %>

                <%= render 'shared/deadline_day_fields', f: f %>

                <%= f.input :intake_location, :collection => current_organization.storage_locations.active_locations.alphabetized, :label_method => :name, :value_method => :id, :label => "Default Intake Location", :include_blank => true, wrapper: :input_group %>

                <%= f.label :partner_form_fields, 'Partner Profile Sections' %>
                
                <%= f.select(:partner_form_fields, Organization::ALL_PARTIALS, { include_hidden: true }, { multiple: true, class: 'form-control custom-select', 'data-controller': 'select2', 'data-select2-config-value': '{}'}) %>

                <br>
                <%= f.input :default_storage_location, :collection => current_organization.storage_locations.active_locations.alphabetized, :label_method => :name, :value_method => :id, :label => "Default Storage Location", :include_blank => true, wrapper: :input_group %>

                <%= f.input :invitation_text, label: "Custom Partner Invitation Message", wrapper: :input_group do %>
                  <%= f.text_area :invitation_text, class: "form-control" %>
                <% end %>


                <%= f.input :repackage_essentials, label: 'Does your bank repackage essentials?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :distribute_monthly, label: 'Does your bank distribute monthly?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :enable_child_based_requests, label: 'Enable partners to make child-based requests?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :enable_individual_requests, label: 'Enable partners to make requests for individuals?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :enable_quantity_based_requests, label: 'Enable partners to make quantity-based requests?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :ytd_on_distribution_printout, label: 'Show Year-to-date values on distribution printout?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
                <%= f.input :one_step_partner_invite, label: 'Use one step invite and approve partner process?', as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>

                <% default_email_text_hint = "You can use the variables <code>%{partner_name}</code>, <code>%{delivery_method}</code>, <code>%{distribution_date}</code>, and <code>%{comment}</code> to include the partner's name, delivery method, distribution date, and comments sent in the request." %>
                <%= f.input :default_email_text, label: "Distribution Email Content", hint: default_email_text_hint.html_safe do %>
                  <%= f.rich_text_area :default_email_text %>
                <% end %>


                <%= f.input :logo, wrapper: :input_group do %>

                  <% if current_organization.logo.attached? %>
                    <div>
                      <p>
                        <%= image_tag current_organization.logo, class: "main_logo" %>
                      </p>
                      <p>
                        <a href="#showTheLogo" class="btn btn-xs btn-info" data-bs-toggle="modal">
                          View Original
                        </a>
                      </p>
                      <div id="showTheLogo" class="modal fade">
                        <div class="modal-dialog">
                          <%= image_tag current_organization.logo, class: "thumbnail" %>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                    <label class="control-label">Update Logo</label>
                  <% end %>

                  <%= f.input_field :logo, as: :file %>
                  <p class="help-block">
                    Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels).
                    Only jpeg/png format is supported. Images should be under 1 MB in size.
                  </p>

                <% end %>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <%= submit_button %>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
<% end %>
</section>
