<% content_for :title, "Organizations - New" %>

<h1>Add a new Organization</h1>

<%= simple_form_for Organization.new, url: organization_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :short_name, required: true, autofocus: true %>
    <%= f.input :url, as: :url, placeholder: "http://www.example.com" %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :logo %>
    <p class="help-text">Logo should be a 4:1 ratio of width / height (default image is 763 x 188 pixels)
    <% if current_organization.logo.present? %>
      <div class="reveal" id="exampleModal1" data-reveal>
        <%= image_tag current_organization.logo.url %>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p><a data-open="exampleModal1">Preview current logo</a></p>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>