<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Organizations - #{@organization.name}" %>
  <div class="col-lg-8">
    <h1>
      Organization info
      <small>for <%= @organization.name %></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><%= link_to(dashboard_path(organization_id: current_user.organization)) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
      </li>
      <li class="breadcrumb-item active"><%= @organization.name %></li>
    </ol>
  </div>
</div>

<!-- Main content -->
<div class="wrapper wrapper-content animated fadeInRight">
<!-- Default box -->
  <div class="ibox">
    <div class="ibox-title with-border">
      <h3><%= @organization.name %></h3>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-4">
          <h4>Contact Info</h4>
          <p><%= fa_icon "envelope" %> <%= link_to @organization.email, "mailto:#{@organization.email}" %></p>
          <address><%= fa_icon "map-marker" %> <%= @organization.address %></address>
        </div>
        <div class="col-md-8">
          <h4>Users</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th><th>Email</th><th>Role</th><th>Last Sign in</th><th>Status</th><th></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "/users/organization_user", collection: @organization.users, as: :user %>
              </tbody>
            </table>

          <%= modal_button_to("#addUserModal", { text: "Invite User to this Organization" }) if can_administrate? %>
        </div>
        <div class="col-md-4">
          <h4>Default email text</h4>
          <%= @organization.default_email_text %>
        </div>
      </div>
    </div>
    <div class="ibox-footer">
      <%= edit_button_to(edit_organization_path, { size: "lg" }) if can_administrate? %>
    </div>
  </div>
  <%= render "/users/add_user_modal" %>
</div>
