<%= f.input :name, label: "Name", wrapper: :input_group, required: true, autofocus: true do %>
  <span class="input-group-text"><%= fa_icon "user" %></span>
  <%= f.input_field :name, class: "form-control" %>
<% end %>
<%= f.input :email, label: "E-mail", wrapper: :input_group, required: true do %>
  <span class="input-group-text"><%= fa_icon "envelope" %></span>
  <%= f.input_field :email, class: "form-control" %>
<% end %>
