<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Users" %>
        <h1>
          Users
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">All users</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <%= form_for_filterrific @filterrific, remote: true, html: { id: 'filterrific-form' } do |f| %>
              <div class="row flex-row justify-content-between align-items-center">
                <div class="col-3">
                  <%= f.label :search_name, "Search By User Name" %>
                  <%= f.text_field(:search_name, class: 'filterrific-periodically-observed form-control') %>
                </div>
                <div class="col-3">
                  <%= f.label :search_email, "Search By Email" %>
                  <%= f.text_field(:search_email, class: 'filterrific-periodically-observed form-control') %>
                </div>
                <div class="col-5">
                  <div class="float-right">
                    <h2 class="card-title">
                      <%= new_button_to new_admin_user_path, {text: "Invite a new user"} %>
                    </h2>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-body p-0">
            <div id="filterrific_results">
              <%= render( partial: 'list', locals: { users: @users }) %>
            </div>
          </div>
          <div class="card-footer clearfix">
            <%= paginate @users %>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
