<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "Users" %>
  <div class="col-lg-8">
    <h2>Users</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(admin_dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item active"><a href="#">All users</a></li>
    </ol>
  </div>
  <div class="col-lg-4">
    <div class="title-action">
      <%= new_button_to new_admin_user_path, { text: "Invite a new user" } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover index">
              <thead>
              <tr>
                <th>Organization</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.organization&.name %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td class="text-right">
                    <%= edit_button_to edit_admin_user_path(user) %>
                    <%= delete_button_to(admin_user_path(user), { confirm: "Are you sure you want to permanently remove this user?" }) unless user == current_user %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
