<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "New - User" %>
        <h1>
          Add a User
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Admin Dashboard
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">New Users</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <!-- /.card-header -->
          <!-- form start -->
            <div class="card-body">
              <!-- Default box -->
              <div class="box">
                <div class="box-header with-border">
                </div>
                <div class="box-body">

                  <%= simple_form_for @user, url: admin_users_path do |f| %>
                    <div class="form-inputs">

                      <%= render 'admin/users/user_form_fields', f: f %>

                      <div data-controller="double-select" data-double-select-url-value="<%= resource_ids_admin_users_url %>">

                        <div data-controller="role-resource">
                          <label>Role Type</label>
                            <%= select_tag :resource_type, options_for_select(@resources),
                              class: 'select form-control', data: {
                                'double-select-target': 'source',
                                'role-resource-target': 'source',
                                'action': 'role-resource#sourceChanged double-select#sourceChanged'
                            } %>
                          <!-- Ordering them like this 'action': 'role-resource#sourceChanged double-select#sourceChanged'
                          works but I really don't like the behavior being order based. -->
                          <label  data-role-resource-target="destination">Resource</label>
                          <div  data-role-resource-target="destination" class="input-group">
                            <%= select_tag :resource_id, [], class: 'form-control', data: {
                              'double-select-target': 'destination'
                            } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <%= submit_button %>
                    </div>
                  <% end %>
                </div>
              </div><!-- /.box -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
