<div class="row wrapper border-bottom white-bg page-heading">
 <% content_for :title, "New - Users" %>
  <div class="col-lg-8">
    <h2>Add a user</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to(admin_users_path) do %>
          Users
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        New user
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper  wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <%= simple_form_for @user, url: admin_users_path do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :organization_id, label: "Organization", wrapper: :vertical_input_group, required: true, autofocus: true do %>
              <span class="input-group-addon"><%= fa_icon "building" %></span>
              <%= f.input_field :organization_id, collection: @organizations, class: "form-control" %>
            <% end %>
            <%= render 'admin/users/user_form_fields', f: f %>
          </div>
          <div class="form-group">
            <%= submit_button %>            
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
