<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Agency Information</strong></h3>
          </div>
          <div class="card-body">
            <%= form.input :name, label: "Agency Name", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :agency_type, collection: Partner::AGENCY_TYPES.values, label: "Agency Type", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :other_agency_type, label: "Other Agency Type", class: "form-control", wrapper: :input_group %>
            <div class="form-group row">
              <label class="control-label col-md-3">501(c)(3) IRS Determination Letter</label>
              <% if profile.proof_of_partner_status.attached? %>
                <div class="col-md-8">
                  Attached
                  file: <%= link_to profile.proof_of_partner_status.blob['filename'], rails_blob_path(profile.proof_of_partner_status), class: "font-weight-bold" %>
                  <%= profile_form.file_field :proof_of_partner_status, class: "form-control-file form-control" %>
                </div>
              <% else %>
                <div class="col-md-8">
                  <%= profile_form.file_field :proof_of_partner_status, class: "form-control-file" %>
                </div>
              <% end %>
            </div>
            <%= profile_form.input :agency_mission, label: "Agency Mission", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :address1, label: "Address (line 1)", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :address2, label: "Address (line 2)", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :city, label: "City", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :state, label: "State", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :zip_code, label: "Zip Code", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Program / Delivery Address (if different)</strong></h3>
          </div>
          <div class="card-body">
            <%= profile_form.input :program_address1, label: "Address (line 1)", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :program_address2, label: "Address (line 2)", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :program_city, label: "City", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :program_state, label: "State", class: "form-control", wrapper: :input_group %>
            <%= profile_form.input :program_zip_code, label: "Zip Code", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
