<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Agency Stability</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :founded, label: "Year Founded", class: "form-control", wrapper: :input_group %>
            <%= f.input :form_990, label: "Form 990 Filed", as: :boolean, class: "form-control", wrapper: :input_group %>
            <label class="control-label col-md-3">Form 990</label>
            <% if partner.proof_of_form_990.attached? %>
              <div class="col-md-8">
                Attached
                file: <%= link_to partner.proof_of_form_990.blob['filename'], rails_blob_path(partner.proof_of_form_990), class: "font-weight-bold" %>
                <%= f.file_field :proof_of_form_990, class: "form-control-file form-control" %>
              </div>
            <% else %>
              <div class="col-md-8">
                <%= f.file_field :proof_of_form_990, class: "form-control-file" %>
              </div>
            <% end %>
            <%= f.input :program_name, label: "Program Name(s)", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_description, label: "Program Description(s)", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_age, label: "Agency Age", class: "form-control", wrapper: :input_group %>
            <%= f.input :evidence_based, label: "Do You Track Program Results", as: :boolean,
                           class: "form-control", wrapper: :input_group %>
            <%= f.input :case_management, label: "Case Management", class: "form-control", wrapper: :input_group %>
            <%= f.input :essentials_use, label: "How Are Essentials (e.g. diapers, period supplies) Used In Your Program?", as: :text,
                           class: "form-control", wrapper: :input_group %>
            <%= f.input :receives_essentials_from_other, label: "Do You Receive Essentials From Other Sources?",
                           class: "form-control", wrapper: :input_group %>
            <%= f.input :currently_provide_diapers, label: "Currently Providing Diapers?", as: :boolean,
                           class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Program Address (if different)</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :program_address1, label: "Address (line 1)", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_address2, label: "Address (line 2)", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_city, label: "City", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_state, label: "State", class: "form-control", wrapper: :input_group %>
            <%= f.input :program_zip_code, label: "Zip Code", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
