<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Area Served  (County / Client Share %) </strong></h3>
          </div>
          <div class="card-body">

            <%= f.simple_fields_for :partner do |partner_form| %>
              <fieldset style="margin-bottom: 2rem">
                <legend></legend>
                <div id="partner_counties"  class="partner-county-fields partner-counties">

                  <%= f.simple_fields_for :partner_counties do |partner_county| %>

                    <%= render 'partner_counties/partner_county_fields', f: partner_county %>
                  <% end %>
                </div>
                <div class="partner-counties-total-row row">

                  <div class = "partner-counties-total-prompt col-w">Total is:</div>
                  <span id="partner-county-client-share-total" class="partner-counties-total-value col-2 numeric">
                    <%= @client_share_total  %> %</span>
                  <div id="partner-county-client-share-total-warning" class="partner-counties-total-warning col-8">
                    The total client share must be either 0 or 100 %.
                  </div>
                </div>
                <div class="row links justify-content-end">

                  <%= add_partner_county_button partner_form, "#partner_counties" %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
