<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Executive Director</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :executive_director_name, label: "Executive Director Name", class: "form-control", wrapper: :input_group %>
            <%= f.input :executive_director_phone, label: "Executive Director Phone", class: "form-control", wrapper: :input_group %>
            <%= f.input :executive_director_email, label: "Executive Director Email", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Primary Contact</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :primary_contact_name, label: "Primary Contact Name", class: "form-control", wrapper: :input_group %>
            <%= f.input :primary_contact_phone, label: "Primary Contact Phone", class: "form-control", wrapper: :input_group %>
            <%= f.input :primary_contact_mobile, label: "Primary Contact Cell", class: "form-control", wrapper: :input_group %>
            <%= f.input :primary_contact_email, label: "Primary Contact Email", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
