<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Media Information</strong></h3>
          </div>
          <div class="card-body">
            <%= form.input :website, label: "Website", class: "form-control", wrapper: :input_group %>
            <%= form.input :facebook, label: "Facebook", class: "form-control", wrapper: :input_group %>
            <%= form.input :twitter, label: "Twitter", class: "form-control", wrapper: :input_group %>
            <%= form.input :instagram, label: "Instagram", class: "form-control", wrapper: :input_group %>
            <%= form.check_box :no_social_media_presence, as: :boolean %>&nbsp;
            <%= form.label :no_social_media_presence, "No Social Media Presence" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
