<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Settings</strong></h3>
          </div>
          <div class="card-body">
            <% if form.object.organization.enable_quantity_based_requests? %>
              <%= form.check_box :enable_quantity_based_requests, as: :boolean %>&nbsp;
              <%= form.label :enable_quantity_based_requests, "Enable Quantity-based Requests" %>
            <% end %>
            <br>
            <% if form.object.organization.enable_child_based_requests? %>
              <%= form.check_box :enable_child_based_requests, as: :boolean %>&nbsp;
              <%= form.label :enable_child_based_requests, "Enable Child-based Requests (unclick if you only do bulk requests)" %>
            <% end %>
            <br>
            <% if form.object.organization.enable_individual_requests? %>
              <%= form.check_box :enable_individual_requests, as: :boolean %>&nbsp;
              <%= form.label :enable_individual_requests, "Enable Requests for Individuals" %>
            <% end %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
