<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Program Address (if different)</strong></h3>
          </div>
          <div class="card-body">
            <%= form.input :program_address1, label: "Address (line 1)", class: "form-control", wrapper: :input_group %>
            <%= form.input :program_address2, label: "Address (line 2)", class: "form-control", wrapper: :input_group %>
            <%= form.input :program_city, label: "City", class: "form-control", wrapper: :input_group %>
            <%= form.input :program_state, label: "State", class: "form-control", wrapper: :input_group %>
            <%= form.input :program_zip_code, label: "Zip Code", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>