<%= simple_form_for @diaper_drive, remote: request.xhr?, html: {class: 'form-horizontal'} do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
              <div class="form-group">
                <%= f.input :name %>
              </div>
              <div class="form-group">
                <%= f.input :start_date,
                            label: "Start Date",
                            as: :date,
                            html5: true %>
              </div>
              <div class="form-group">
                <%= f.input :end_date,
                            label: "End Date",
                            as: :date,
                            html5: true %>
              </div>

              <div class="form-group">
                <%= f.input :virtual, label: "Diaper Drive is Virtual?", wrapper: :input_group do %>
                  <%= f.check_box :virtual, {class: "input-group-text", id: "virtual"}, "true" %>
                <% end %>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <%= f.button :submit, :class => 'diaper-drive-submit btn btn-primary', :id => 'diaper_drive_submit' %>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
