<p id="notice"><%= notice %></p>

<h1>Diaper Drives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaper_drives.each do |diaper_drive| %>
      <tr>
        <td><%= diaper_drive.name %></td>
        <td><%= diaper_drive.start_date %></td>
        <td><%= diaper_drive.end_date %></td>
        <td><%= link_to 'Show', diaper_drive %></td>
        <td><%= link_to 'Edit', edit_diaper_drive_path(diaper_drive) %></td>
        <td><%= link_to 'Destroy', diaper_drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diaper drive', new_diaper_drive_path %>
