<p id="notice"><%= notice %></p>

<h1>Diaper Drives</h1>

<section class="content">
  <div class="box">
    <div class="box-header with-border bg-gray">
      <section id="filters">
        <%= form_tag(diaper_drives_path, method: :get, organization_id: current_organization) do |f| %>
        <div class="row">
          <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <%= label_tag "by name" %>
            <%= collection_select(:filters, :by_name, @diaper_drives || {}, :name, :name, { include_blank: true, selected: @selected_name_filter }, class: "form-control") %>
          </div>
          <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <%= label_tag "Date Range" %>
            <%= render partial: "shared/date_range_picker", locals: { css_class: "form-control" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= filter_button %>
            <%= cancel_button_to diaper_drives_path, { text: "Clear Filters" } %>

            <div class="pull-right">
              <%= new_button_to new_diaper_drive_path(organization_id: current_organization), { text: "New Diaper Drive" } %>
            </div>
          </div>
        </div>
        <% end %>
      </section>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped records">
            <thead>
              <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @diaper_drives.each do |diaper_drive| %>
                <tr>
                  <td><%= diaper_drive.name %></td>
                  <td><%= diaper_drive.start_date %></td>
                  <td><%= diaper_drive.end_date %></td>
                  <td><%= link_to 'Show', diaper_drive %></td>
                  <td><%= link_to 'Edit', edit_diaper_drive_path(diaper_drive) %></td>
                  <td><%= link_to 'Destroy', diaper_drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
