<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Diaper Drives - #{current_organization.name}" %>
        <h1>
          Diaper Drives
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Diaper Drives</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Diaper Drive Filters</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <%= form_tag(diaper_drives_path, method: :get, organization_id: current_organization) do |f| %>
              <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "by name" %>
                  <%= collection_select(:filters, :by_name, @diaper_drives || {}, :name, :name, {include_blank: true, selected: @selected_name_filter}, class: "form-control") %>
                </div>
                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "Date Range" %>
                  <%= render partial: "shared/date_range_picker", locals: {css_class: "form-control"} %>
                </div>
              </div>
              </div>
              <div class="card-footer">
                <%= filter_button %>
                <%= cancel_button_to diaper_drives_path, {text: "Clear Filters"} %>
                <span class="float-right">
                  <%= new_button_to new_diaper_drive_path(organization_id: current_organization), {text: "New Diaper Drive"} %>
                  </span>
              </div>
            <% end # form %>
            </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Diaper Drive Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th class="numeric">Quantity of Items</th>
                <th class="numeric">Variety of Items</th>
                <th class="numeric">In Kind Value</th>
                <th class="text-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @diaper_drives.each do |diaper_drive| %>
                <tr>
                  <td><%= diaper_drive.name %></td>
                  <td><%= diaper_drive.start_date.strftime("%m-%d-%Y") %></td>
                  <td><%= diaper_drive.end_date.strftime("%m-%d-%Y") %></td>
                  <td class="text-right"><%= diaper_drive.donation_quantity %></td>
                  <td class="text-right"><%= diaper_drive.distinct_items %></td>
                  <td class="text-right"><strong><%= dollar_value(diaper_drive.in_kind_value) %></strong></td>
                  <td class="text-right"><%= view_button_to diaper_drive_path(diaper_drive.id) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!--          <div class="card-footer clearfix">-->
          <%#= paginate @paginated_requests %>
          <!--          </div>-->
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
