<div class="box-body">
  <%= simple_form_for @adjustment, html: { class: 'form-horizontal'} do |f| %>

    <%= f.association :storage_location, collection: current_organization.storage_locations  %>

    <%= f.input :comment, label: "Comments", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-sticky-note-o"></i></span>
      <%= f.input_field :comment, class: "form-control" %>
    <% end %>

    <%= f.button :submit, class:"btn btn-info"%>

  <% end %>
</div>
