<%= simple_form_for(@adjustment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization %>
    <%= f.association :storage_location %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions medium-offset-3 medium-6">
    <%= f.button :submit %>
  </div>
<% end %>
