<p id="notice"><%= notice %></p>

<h1>Adjustments</h1>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Organization</th>
      <th>Storage location</th>
      <th>Comment</th>
      <th>Summary</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @adjustments.each do |adjustment| %>
      <tr>
        <td><%= adjustment.created_at %></td>
        <td><%= adjustment.organization.name %></td>
        <td><%= adjustment.storage_location.name %></td>
        <td><%= adjustment.comment %></td>
        <td><%= pluralize(adjustment.line_items.count, 'change') %></td>
        <td><%= link_to 'Show', adjustment %></td>
        <td><%= link_to 'Edit', edit_adjustment_path(adjustment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjustment', new_adjustment_path %>
