<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Adjustments - Inventory - #{current_organization.name}" %>
        <h1>
          Inventory Adjustments
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Adjustments</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Adjustment Filters</h3>
          </div>
          <div class="card-body">
            <%= form_tag(adjustments_path, method: :get) do |f| %>
              <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <%= filter_select(label: "Filter by Storage Location", scope: :at_location, collection: @storage_locations, key: :id, value: :name, selected: @selected_location) %>

                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                   <%= filter_select(scope: :by_user, collection: @users, key: :id, value: :name, selected: @selected_user) %>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "Date Range" %>
                  <%= render partial: "shared/date_range_picker", locals: {css_class: "form-control"} %>
                </div>
              </div>
              <div class="card-footer">
                <%= filter_button %>
                <%= clear_filter_button %>

                <span class="float-right">
                  <%= download_button_to(
                        adjustments_path(format: :csv, filters: filter_params.merge(date_range: date_range_params)),
                        text: "Export Adjustments"
                      ) if @adjustments.any? %>

                  <%= new_button_to new_adjustment_path, {text: "New Adjustment"} %>
                  </span>
              </div>
            <% end # form %>
          </div>
        </div>

        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Created</th>
                <th>Organization</th>
                <th>Storage location</th>
                <th>Comment</th>
                <th>Summary</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <% @paginated_adjustments.each do |adjustment| %>
                <tr>
                  <td class="date">
                    <time datetime="<%= adjustment.created_at %>"><%= adjustment.created_at.strftime("%B %e, %Y") %></time>
                  </td>
                  <td><%= adjustment.organization.name %></td>
                  <td><%= adjustment.storage_location.name %></td>
                  <td><%= adjustment.comment %></td>
                  <td><%= pluralize(adjustment.line_items.count, 'change') %></td>
                  <td class="text-right"><%= view_button_to adjustment %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="card-footer clearfix">
            <%= paginate @paginated_adjustments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
