<section class="content-header">
  <% content_for :title, "#{current_organization.name} - Inventory - Adjustments" %>
  <h1>
    Adjustments
    <small>for <%= current_organization.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to(dashboard_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><a href="#">Adjustments</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-4">
      <h3 class="box-title">Barcodes Unique to my Organization</h3>
        </div>
        <div class="col-xs-8">
        <%= form_tag(adjustments_path, method: :get) do |f| %>
          <%= label_tag "Filter by Storage Location" %>
          <%= collection_select(:filters, :at_location, @storage_locations || {}, :id, :name, { include_blank: true, selected: @selected_location }) %>
          <%= submit_tag "Filter", class: "btn btn-primary btn-xs" %>
          <%= link_to "Clear Filters", adjustments_path, class: "btn btn-info btn-xs secondary" %>
        <% end %>

        </div>
      </div>
      <%= link_to "New Adjustment", new_adjustment_path(organization_id: current_organization), class: "btn btn-success btn-xs pull-right" %>
    </div>
<div class="box-body">
  <div class="row">
    <div class="col-xs-12">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
          <tr>
            <th>Created</th>
            <th>Organization</th>
            <th>Storage location</th>
            <th>Comment</th>
            <th>Summary</th>
            <th colspan="2"></th>
          </tr>
          <% @adjustments.each do |adjustment| %>
            <tr>
              <td><%= adjustment.created_at %></td>
              <td><%= adjustment.organization.name %></td>
              <td><%= adjustment.storage_location.name %></td>
              <td><%= adjustment.comment %></td>
              <td><%= pluralize(adjustment.line_items.count, 'change') %></td>
              <td><%= link_to 'Show', adjustment %></td>
              <td><%= link_to 'Edit', edit_adjustment_path(adjustment) %></td>
            </tr>
          <% end %>
          </table>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
</div>
</section>









