<% content_for :title, "#{current_organization.name} - Inventory - Adjustments - New" %>

<h1>New Adjustment</h1>

<p>
  Create an <strong>Adjustment</strong> to manually reduce the amount of
  inventory in a particular storage location.
</p>

<%= simple_form_for @adjustment do |f| %>

  <%= f.association :storage_location,
    collection: @storage_locations,
    label: "From storage location",
    error: "Which location are you moving inventory from?",
    input_html: {
      data: {
        storage_location_inventory_path: inventory_storage_location_path(
          organization_id: current_organization,
          id: ":id",
          format: :json
        )
      }
    }
  %>

  <%= f.input :comment %>

  <%= f.simple_fields_for :line_items do |item| %>
    <div id="adjustment_storage_location_line_items">
      <%= render 'transfers/line_item_fields', f: item %>
    </div>

    <div class="row links">
      <div class="medium-offset-3 medium-6 columns">
        <%= link_to_add_association "add line item", f, :line_items,
          data: {
            association_insertion_node: "#adjustment_storage_location_line_items",
            association_insertion_method: "append"
          },
          partial: 'adjustments/line_item_fields'
        %>
      </div>
    </div>
  <% end %>

  <div class="medium-offset-3 medium-6">
    <%= f.button :submit %>
  </div>

<% end %>

<%= link_to 'Back', adjustments_path %>
