<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Account Requests" %>
        <h1>
          Open Account Requests
        </h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table" id="open-account-requests">
              <thead>
              <tr>
                <th>Date Submitted</th>
                <th>Organization Details</th>
                <th>Request details</th>
                <th>Request status</th>
                <th>Contact Details</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: 'open_account_request', collection: @open_account_requests %>
            </table>
          </div>
          <div class="card-footer clearfix">
            <%= paginate @open_account_requests, param_name: 'open_page' %>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<%= render partial: 'rejection_modal' %>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Closed Account Requests
        </h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table" id="closed-account-requests">
              <thead>
              <tr>
                <th>Organization Details</th>
                <th>Request details</th>
                <th>Contact Details</th>
                <th>Request status</th>
                <th>Date Confirmed</th>
                <th>Rejection Reason</th>
              </tr>
              </thead>
              <tbody>
              <% @closed_account_requests.each do |account_request| %>
                <tr>
                  <td>
                    <%= account_request.organization_name %>
                    <br><%= account_request.organization_website %>
                  </td>
                  <td><%= account_request.request_details %></td>
                  <td><%= account_request.name %>
                    <br><%= account_request.email %>
                  </td>
                  <td><%= account_request.status.titleize %></td>
                  <td><%= account_request.confirmed_at&.strftime("%m/%d/%Y") || "N/A" %></td>
                  <td><%= account_request.rejection_reason %></td>
              <% end %>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer clearfix">
            <%= paginate @closed_account_requests, param_name: 'close_page' %>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<script type="module">
  $(() => {
    $('.reject-button').click((event) => {
      event.preventDefault();
      $('#account_request_rejection_reason').val('');
      $('#reject_account_request_id').val($(event.target).data('requestId'));
      $('#rejection-modal').modal('show');
    })
  })
</script>
