<div class='login-page'>
  <div class="login-box">
    <div class="login-box-body">
      <div class="form-group has-feedback">
        <%= render partial: "shared/flash" %>

        <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>

          <div class="login-box">
            <!-- /.login-logo -->
            <div class="card">

              <div class="card-body login-card-body">
                <h2><%= t 'devise.invitations.edit.header' %></h2>
                <p>Welcome to Human Essentials! Before we get started, please set a new password for yourself.</p>
                <p>We recommend a password that is:</p>
                <ul>
                  <li>Memorable to you</li>
                  <li>At least 10 characters long</li>
                  <li>Uses some mix of letters, punctuation, numbers, spaces, etc.</li>
                </ul>
                <p>An easy one would be to pick a line from a poem or a favorite quote!</p>

                <%= devise_error_messages! %>
                <%= f.hidden_field :invitation_token %>

                <div class="form-inputs">
                  <%= f.input :password %>
                </div>
                <div class="form-inputs">
                  <%= f.input :password_confirmation, label: "Type the same password again" %>
                </div>
                <div class="col-12 text-center">
                  <%= f.button :submit, t("devise.invitations.edit.submit_button"), class: "btn-success" %>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
