<div class="nested-fields">
  <%= render partial: "barcode_items/barcode_item_lookup" %>
  <label>OR</label>
  <%= f.input_field :item_id, collection: @items, prompt: "Choose an item", class: 'form-control' %>
  <%= f.input_field :quantity, placeholder: "Quantity", class: 'form-control' %>
  <%= link_to_remove_association f, class: "btn btn-sm btn-danger"  do %>
    <%= fa_icon "trash" %> Delete
  <% end %> 
</div>
