<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "My Organization - #{current_partner.name}" %>
        <% if current_partner.status == "recertification_required" %>
          <div class="alert alert-danger"><i class="fa fa-warning"></i>&nbsp;
            Please review your application details and submit for approval.</div>
        <% end %>
        <h1><i class="fa fa-building"></i>&nbsp;&nbsp;Organization Details&nbsp;&nbsp;&nbsp;
          <%= partner_status_badge(current_partner) %>
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= partner_user_root_path %>"><i class="fa fa-home fa-lg"></i></a></li>
          <li class="breadcrumb-item"><a href="#">Profile</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="row">
  <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <%= render partial: "partners/profiles/show/agency_information", locals: { profile: current_partner.profile } %>
          </div>
          <% current_partner.partials_to_show.each do |partial| %>
            <div class="col-6">
              <%= render partial: "partners/profiles/show/#{partial}", locals: { profile: current_partner.profile } %>
            </div>
          <% end %>
          <div class="col-6">
            <%= render partial: "partners/profiles/show/partner_settings", locals: { profile: current_partner.profile } %>
          </div>
        </div>
      </div>
    </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-footer">
            <% if current_partner.approved? %>
              <%= link_to '', class: 'btn btn-info disabled' do %>
                <i class="fa fa-check"></i> Approved
              <% end %>
            <% elsif current_partner.awaiting_review? %>
              <%= link_to '', class: "btn btn-warning disabled" do %>
                <i class="fa fa-clock"></i> Pending Approval
              <% end %>
            <% else %>
              <%= link_to partners_approval_request_path, method: :post, class: "btn btn-success" do %>
                <i class="fa fa-paper-plane"></i> Submit for Approval
              <% end %>
            <% end %>

            <%= link_to edit_partners_profile_path, class: 'btn btn-primary' do %>
              <i class="fa fa-pencil"></i> Update Information
            <% end %>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
