<%= simple_form_for partner, data: { controller: "form-input" }, url: partners_profile_path(submitted_partial: "agency_stability") do |f| %>
  <%= f.fields_for :profile, profile do |pf| %>
    <div class="form-group">
      <%= pf.input :founded, label: "Year Founded", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :form_990, label: "Form 990 Filed", as: :radio_buttons, class: "form-control" %>
    </div>

    <% if profile.proof_of_form_990.attached? %>
      <div class="form-group">
        <label>Attached file: </label>
        <%= link_to profile.proof_of_form_990.blob['filename'], rails_blob_path(profile.proof_of_form_990), class: "font-weight-bold" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= pf.file_field :proof_of_form_990, class: "form-control-file" %>
    </div>

    <div class="form-group">
      <%= pf.input :program_name, label: "Program Name(s)", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :program_description, label: "Program Description(s)", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :program_age, label: "Agency Age", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :evidence_based, label: "Evidence Based?", as: :radio_buttons, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :case_management, label: "Case Management", as: :radio_buttons, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :essentials_use, label: "How Are Essentials (e.g. diapers, period supplies) Used In Your Program?", as: :text, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :receives_essentials_from_other, label: "Do You Receive Essentials From Other Sources?", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.input :currently_provide_diapers, label: "Currently Providing Diapers?", as: :radio_buttons, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group mt-4 d-flex justify-content-start">
    <%= f.button :submit, 'Save and Next', class: 'btn btn-primary mr-2' %>
    <%= link_to 'Submit for Approval', partners_approval_request_path, method: :post, class: 'btn btn-success' %>
  </div>
<% end %>
