<%= simple_form_for partner, data: { controller: "form-input" }, url: partners_profile_path(submitted_partial: "area_served") do |f| %>
  <%= f.simple_fields_for :profile, profile do |pf| %>
    <h3><strong>Area Served (County / Client Share %)</strong></h3>

    <fieldset style="margin-bottom: 2rem">
      <legend></legend>
      <div id="served_areas" class="partner-served-area-fields partner-served-areas">
        <%= render 'served_areas/served_area_fields', form: pf %>
      </div>

      <div class="partner-served_areas-total-row row">
        <div class="partners-served-areas-total-prompt col-w">Total is:</div>
        <span id="partners-served-areas-client-share-total" class="partners-served-areas-total-value col-2 numeric" data-area-served-target="total">
          <%= @client_share_total %> %
        </span>
        <div id="partners-served-areas-client-share-total-warning" class="partners-served-areas-total-warning col-8" data-area-served-target="warning">
          The total client share must be either 0 or 100 %.
        </div>
      </div>

      <div class="row links justify-content-end">
        <%= add_element_button "Add Another County", container_selector: "#served_areas", id: "__add_partner_served_area" do %>
          <%= render 'served_areas/served_area_fields', form: pf, object: Partners::ServedArea.new %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <div class="form-group mt-4 d-flex justify-content-start">
    <%= f.button :submit, 'Save and Next', class: 'btn btn-primary mr-2' %>
    <%= link_to 'Submit for Approval', partners_approval_request_path, method: :post, class: 'btn btn-success' %>
  </div>
<% end %>
