<%= simple_form_for partner, url: partners_profile_path, html: { multipart: true } do |f| %>
  <%= f.fields_for :profile, profile do |pf| %>
    <div class="form-group">
      <h3><strong>Additional Documents</strong></h3>
      <% if profile.documents.attached? %>
        <strong>Attached files:</strong>
        <ul>
          <% profile.documents.each do |doc| %>
            <li><%= link_to doc.blob['filename'], rails_blob_path(doc), class: "font-weight-bold" %></li>
          <% end %>
        </ul>
        <%= pf.file_field :documents, multiple: true, class: "form-control-file" %>
      <% else %>
        <%= pf.file_field :documents, multiple: true, class: "form-control-file" %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group mt-4 d-flex justify-content-start">
    <%= f.button :submit, 'Save and Next', class: 'btn btn-primary mr-2' %>
    <%= f.button :submit, 'Submit for Approval', class: 'btn btn-success' %>
  </div>
<% end %>
