<%= simple_form_for partner, url: partners_profile_path(submitted_partial: "executive_director") do |f| %>
  <%= f.fields_for :profile, profile do |pf| %>
    <h3><strong>Executive Director</strong></h3>

    <div class="form-group">
      <%= pf.input :executive_director_name, label: "Executive Director Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= pf.input :executive_director_phone, label: "Executive Director Phone", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= pf.input :executive_director_email, label: "Executive Director Email", class: "form-control" %>
    </div>

    <h3 class="pt-3"><strong>Primary Contact</strong></h3>

    <div class="form-group">
      <%= pf.input :primary_contact_name, label: "Primary Contact Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= pf.input :primary_contact_phone, label: "Primary Contact Phone", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= pf.input :primary_contact_mobile, label: "Primary Contact Cell", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= pf.input :primary_contact_email, label: "Primary Contact Email", class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group mt-4 d-flex justify-content-start">
    <%= f.button :submit, 'Save and Next', class: 'btn btn-primary mr-2' %>
    <%= link_to 'Submit for Approval', partners_approval_request_path, method: :post, class: 'btn btn-success' %>
  </div>
<% end %>
