<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Step Editing - #{current_partner.name}" %>
        <h1><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit My Organization&nbsp;&nbsp;&nbsp;
          <%= partner_status_badge(current_partner) %>
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= partner_user_root_path %>"><i class="fa fa-home fa-lg"></i></a></li>
          <li class="breadcrumb-item">
            <a href="<%= edit_partners_profile_path %>"><%= "#{current_partner.name}" %></a></li>
          <li class="breadcrumb-item"><a href="#">Edit</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="alert alert-info mx-5 mt-3" role="alert">
  Instructions: Please fill out the following form sections carefully. Ensure that all required fields are completed.
</div>

<div data-controller="accordion">
  <%= simple_form_for current_partner,
                      data: { controller: "form-input", accordion_target: "form" },
                      url: partners_profile_path,
                      html: { multipart: true } do |f| %>

    <%= render 'partners/profiles/step/form_actions', f: f, partner: current_partner %>

    <div class="accordion mx-5 mt-3" id="accordionExample">

      <%# Agency Information %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button <%= section_with_errors?('agency_information', @sections_with_errors) ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#agency_information" aria-expanded="<%= section_with_errors?('agency_information', @sections_with_errors) %>" aria-controls="agency_information">
            <div class='d-flex justify-content-between align-items-center w-100'>
              <div class='fs-4'>
                <i class="fa fa-edit mr-2"></i>Agency Information
              </div>
            </div>
          </button>
        </h2>
        <div id="agency_information" class="accordion-collapse collapse <%= section_with_errors?('agency_information', @sections_with_errors) ? 'show' : '' %>">
          <div class="accordion-body">
            <%= render 'partners/profiles/step/agency_information_form', f: f, partner: current_partner, profile: current_partner.profile %>
          </div>
        </div>
      </div>

      <%# Program Delivery Address %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button <%= section_with_errors?('program_delivery_address', @sections_with_errors) ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#program_delivery_address" aria-expanded="<%= section_with_errors?('program_delivery_address', @sections_with_errors) %>" aria-controls="program_delivery_address">
            <div class='d-flex justify-content-between align-items-center w-100'>
              <div class='fs-4'>
                <i class="fa fa-map mr-2"></i>Program / Delivery Address
              </div>
            </div>
          </button>
        </h2>
        <div id="program_delivery_address" class="accordion-collapse collapse <%= section_with_errors?('program_delivery_address', @sections_with_errors) ? 'show' : '' %>">
          <div class="accordion-body">
            <%= render 'partners/profiles/step/program_delivery_address_form', f: f, partner: current_partner, profile: current_partner.profile %>
          </div>
        </div>
      </div>

      <%# Based on partner.partials_to_show %>
      <% current_partner.partials_to_show.each do |partial| %>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button <%= section_with_errors?(partial, @sections_with_errors) ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#<%= partial %>" aria-expanded="<%= section_with_errors?(partial, @sections_with_errors) %>" aria-controls="<%= partial %>">
              <div class='d-flex justify-content-between align-items-center w-100'>
                <div class='fs-4'>
                  <i class="fa fa-cogs mr-2"></i><%= partial_display_name(partial) %>
                </div>
              </div>
            </button>
          </h2>
          <div id="<%= partial %>" class="accordion-collapse collapse <%= section_with_errors?(partial, @sections_with_errors) ? 'show' : '' %>">
            <div class="accordion-body">
              <%= render "partners/profiles/step/#{partial}_form", f: f, partner: current_partner, profile: current_partner.profile %>
            </div>
          </div>
        </div>
      <% end %>

      <%# Partner Settings %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button <%= section_with_errors?('partner_settings', @sections_with_errors) ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#partner_settings" aria-expanded="<%= section_with_errors?('partner_settings', @sections_with_errors) %>" aria-controls="partner_settings">
            <div class='d-flex justify-content-between align-items-center w-100'>
              <div class='fs-4'>
                <i class="fa fa-cog mr-2"></i>Settings
              </div>
            </div>
          </button>
        </h2>
        <div id="partner_settings" class="accordion-collapse collapse <%= section_with_errors?('partner_settings', @sections_with_errors) ? 'show' : '' %>">
          <div class="accordion-body">
            <%= render 'partners/profiles/step/partner_settings_form', f: f, partner: current_partner, profile: current_partner.profile %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'partners/profiles/step/form_actions', f: f, partner: current_partner %>
  <% end %>
</div>
