<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Step Editing - #{current_partner.name}" %>
        <h1><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit My Organization&nbsp;&nbsp;&nbsp;
          <%= partner_status_badge(current_partner) %>
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= partner_user_root_path %>"><i class="fa fa-home fa-lg"></i></a></li>
          <li class="breadcrumb-item">
            <a href="<%= edit_partners_profile_path %>"><%= "#{current_partner.name}" %></a></li>
          <li class="breadcrumb-item"><a href="#">Edit</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<%# TODO: 4504 more descriptive id than accordionExample %>
<%# TODO: 4504 make use of open_section instance var to target accordion sections for which should be open and the rest should be collapsed %>
<div class="accordion" id="accordionExample">

  <%# Agency Information: By default, this section is expanded and is always rendered %>
  <%# TODO: 4504 Use `open_section` instance var to determine which accordion to expand, all others should be collapsed %>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <%# TODO: 4504 add the .collapsed class to the button and set its aria-expanded attribute to false if should be hidden %>
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#agency_information" aria-expanded="true" aria-controls="agency_information">
        Agency Information
      </button>
    </h2>
    <%# TODO: 4504 remove the `show` class if this section should be collapsed %>
    <div id="agency_information" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'partners/profiles/step/agency_information_form', partner: current_partner, profile: current_partner.profile %>
      </div>
    </div>
  </div>

  <%# Program Delivery Address: This is always rendered, by default collapsed %>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <%# TODO: 4504 drop the .collapsed class from the button and set its aria-expanded attribute to true if should be expanded %>
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#program_delivery_address" aria-expanded="false" aria-controls="program_delivery_address">
        Program / Delivery Address
      </button>
    </h2>
    <%# TODO: 4504 add the `show` class if this section should be expanded %>
    <div id="program_delivery_address" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'partners/profiles/step/program_delivery_address_form', partner: current_partner, profile: current_partner.profile %>
      </div>
    </div>
  </div>

  <% current_partner.partials_to_show.each do |partial| %>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <%# TODO: 4504 How to populate the title? %>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= partial %>" aria-expanded="false" aria-controls="<%= partial %>">
          <%= partial %>
        </button>
      </h2>
      <div id="<%= partial %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= render "partners/profiles/step/#{partial}_form", partner: current_partner, profile: current_partner.profile %>
        </div>
      </div>
  </div>
  <% end %>

  <%# Settings: This is always rendered, by default collapsed %>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <%# TODO: 4504 drop the .collapsed class from the button and set its aria-expanded attribute to true if should be expanded %>
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false" aria-controls="settings">
        Settings
      </button>
    </h2>
    <%# TODO: 4504 add the `show` class if this section should be expanded %>
    <div id="settings" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'partners/profiles/step/partner_settings_form', partner: current_partner, profile: current_partner.profile %>
      </div>
    </div>
  </div>
</div>
