<%= simple_form_for form, remote: request.xhr?, html: {role: 'form'} do |f| %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
              <%= simple_form_for form, html: {class: 'form-horizontal'} do |f| %>
                <%= f.input :name, label: "Name", wrapper: :input_group do %>
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                  <%= f.input_field :name, class: "form-control" %>
                <% end %>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <%= submit_button({id: "manufacturer-submit"}) %>
                </div>
              <% end %>
              </div>
          <!-- /.card -->
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
