<%= simple_form_for form, html: {role: "form"} do |f| %>
  <%= f.error_notification %>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" id="quickForm">
              <div class="card-body">
                <%= simple_form_for form, html: {class: 'form-horizontal'} do |f| %>
                  <%= f.input :name, label: "Name", wrapper: :vertical_input_group do %>
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <%= f.input_field :name, class: "form-control" %>
                  <% end %>


                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <%= submit_button({ id: "manufacturer-submit" }) %>
                  </div>
                <% end %>
                </form>
          </div>
          <!-- /.card -->
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>