<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Manufacturers - Agencies - #{current_organization.name}" %>
        <h1>
          Manufacturers
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Manufacturers</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-footer">
            <div class="pull-right">
              <%= new_button_to new_manufacturer_path, text: "New Manufacturer" %>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->

    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Total Items</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "manufacturer_row", collection: @manufacturers %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <%= render(
          layout: "shared/csv_import_modal",
          locals: {
            import_type: "Manufacturers",
            csv_template_url: "/manufacturers.csv",
            csv_import_url: import_csv_manufacturers_path
          }
      ) do %>
    <li>Open the csv file with excel or your favourite spreadsheet program.</li>
    <li>Delete the sample data and enter the Manufacturer names, emails and phone numbers in the appropriate columns.</li>
    <li>Save the file as a csv file.</li>
  <% end %>
</section>
