<div class="row wrapper border-bottom white-bg page-heading">
  <% content_for :title, "New - Base Items" %>
  <div class="col-lg-8">
    <h2>New Base Item</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(admin_dashboard_path) do %>
          <i class="fa fa-dashboard"></i> Home
        <% end %>
      </li>
      <li class="breadcrumb-item"><%= link_to "All Base Items", (admin_base_items_path) %></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="ibox-title">
          <h3 class="box-title">Update <%= @base_item.name %></h3>
        </div>
        <div class="ibox-content">
          <%= simple_form_for [:admin, @base_item], html: { class: 'form-horizontal' } do |f| %>
            <%= render partial: "form", object: f %>
            <%= submit_button %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



