<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Base Items - #{@base_item.name}" %>
        <h1>
          Base Item details
          <small>for <%= @base_item.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(admin_dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Base Items", (admin_base_items_path) %></li>
          <li class="breadcrumb-item"><a href="#"><%= @base_item.name %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Size: <%= @base_item.size || "no size provided" %></h3>
          </div>
          <div class="card-body p-0">
            <h4 class="text-center">Items created from this Base Item</h4>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Organization</th>
              </tr>
              </thead>
              <tbody>
              <% @items.each do |item| %>
                <tr id="item-row-<%= item.to_param %>">
                  <td><%= item.name %></td>
                  <td><%= item.organization.name %> (id: <%= item.organization.id %>)</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
