<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Reports - #{current_organization.name}" %>
        <h1>
          Reports
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Reports</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-2">
        <h5 class="mb-1">Reports are available at the end of every year.</h5>
        <span class="text-muted"> <%= "#{@actual_year} (available in #{pluralize(@month_remaing_to_report, 'month')})" %> </span>
      </div>
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">NDBN Annual Reports</h3>
          </div>
          <ul class="list-group list-unstyled">
            <% @years.map do |year| %>
              <li class="list-group-item-action"> <%= link_to "#{year}", reports_ndbn_annual_path(year), class: "list-group-item" %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <h1 class='text-3xl text-center'>Diaper Acquisition</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of disposable diapers annually</th>
            <th># of disposable diapers monthly</th>
            <th># of diaper drives</th>
            <th># disposable diapers collected from diaper drives</th>
            <th>Money raised from diaper drives</th>
            <th># of virtual diaper drives</th>
            <th># disposable diapers collected from virtual diaper drives</th>
            <th>Money raised from virtual diaper drives</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td><%= @diaper_drives.count %></td>
            <td><%= @number_of_diapers_from_drives %></td>
            <td><%= number_to_currency(@money_from_drives) %></td>
            <td><%= @virtual_diaper_drives.count %></td>
            <td><%= @number_of_diapers_from_virtual_drives %></td>
            <td><%= number_to_currency(@money_from_virtual_drives) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Warehouse Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of warehouses/storage locations</th>
            <th>Total square feet of storage location space</th>
            <th>Largest storage location classification</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @storage_locations.count %></td>
            <td><%= @square_footage + " sqft" %></td>
            <td><%= @largest_location %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Partner Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Number of Partner Agencies</th>
            <th>Types of Partner Agencies</th>
            <th>List of Zip Codes Served</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @partners.count %></td>
            <td><%= @partner_agency_type %></td>
            <td><%= @partner_zipcodes_serviced %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Summary Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Number of Donations to Diaper Bank</th>
            <th>Total amount of donations to Diaper Bank</th>
            <th>List of Zip Codes Served</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @donations.count %></td>
            <td><%= number_to_currency(@donations_amount) %></td>
            <td><%=  %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
