<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Audits - Inventory - #{current_organization.name}" %>
        <h1>
          <%= "#{params[:year]} NDBN Annual Report" %>
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "All Reports", reports_ndbn_annuals_path %></li>
          <li class="breadcrumb-item"><a href="#">Reports - <%= params[:year] %></a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="card-footer">
    <div class="card-body">
      <span class="float-right">
        <%=
            download_button_to(
              reports_ndbn_annual_path(@year, format: :csv),
              text: "Export NDBN Annual Report"
            )
        %>
      </span>
    </div>
  </div>
</section>
<section class="content">
  <h1 class='text-3xl text-center'>Diaper Acquisition</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of disposable diapers annually</th>
            <th># of disposable diapers monthly</th>
            <th># of diaper drives</th>
            <th># disposable diapers collected from diaper drives</th>
            <th>Money raised from diaper drives</th>
            <th># of virtual diaper drives</th>
            <th># disposable diapers collected from virtual diaper drives</th>
            <th>Money raised from virtual diaper drives</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @report[:total_annual_incoming_disposable_diapers] %></td>
            <td><%= @report[:monthly_disposable_diapers] %></td>
            <td><%= @report[:diaper_drive_count] %></td>
            <td><%= @report[:disposabled_diapers_from_drives] %></td>
            <td><%= number_to_currency(@report[:money_from_drives]) %></td>
            <td><%= @report[:virtual_drive_count] %></td>
            <td><%= @report[:number_of_diapers_from_virtual_drives] %></td>
            <td><%= number_to_currency(@report[:money_from_virtual_drives]) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Warehouse Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of warehouses/storage locations</th>
            <th>Total square feet of storage location space</th>
            <th>Largest storage location classification</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @storage_locations&.count || 0 %></td>
            <td><%= @square_footage && @square_footage + " sqft" || 0 %></td>
            <td><%= @largest_location || 0%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Partner Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Number of Partner Agencies</th>
            <th>Types of Partner Agencies</th>
            <th>List of Zip Codes Served</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @partners&.count || 0 %></td>
            <td>TYPE?</td>
            <td>ZIPS?</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
