<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Audits - Inventory - #{current_organization.name}" %>
        <h1>
          <%= "#{params[:year]} NDBN Annual Report" %>
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "All Reports", reports_ndbn_annuals_path %></li>
          <li class="breadcrumb-item"><a href="#">Reports - <%= params[:year] %></a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="card-footer">
    <div class="card-body">
      <span class="float-right">
        <%=
            download_button_to(
              reports_ndbn_annual_path(@year, format: :csv),
              text: "Export NDBN Annual Report"
            )
        %>
      </span>
    </div>
  </div>
</section>
<section class="content">
  <h1 class='text-3xl text-center'>Diaper Acquisition</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of disposable diapers annually</th>
            <th># of disposable diapers monthly</th>
            <th># of diaper drives</th>
            <th># disposable diapers collected from diaper drives</th>
            <th>Money raised from diaper drives</th>
            <th># of virtual diaper drives</th>
            <th># disposable diapers collected from virtual diaper drives</th>
            <th>Money raised from virtual diaper drives</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @acquisition_report[:total_annual_incoming_disposable_diapers] %></td>
            <td><%= @acquisition_report[:monthly_disposable_diapers] %></td>
            <td><%= @acquisition_report[:diaper_drive_count] %></td>
            <td><%= @acquisition_report[:disposabled_diapers_from_drives] %></td>
            <td><%= number_to_currency(@acquisition_report[:money_from_drives]) %></td>
            <td><%= @acquisition_report[:virtual_drive_count] %></td>
            <td><%= @acquisition_report[:number_of_diapers_from_virtual_drives] %></td>
            <td><%= number_to_currency(@acquisition_report[:money_from_virtual_drives]) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Warehouse Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of warehouses/storage locations</th>
            <th>Total square feet of storage location space</th>
            <th>Largest storage location classification</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @warehouse_report[:storage_location_count] %></td>
            <td><%= @warehouse_report[:square_footage] + " sqft" %></td>
            <td><%= @warehouse_report[:largest_location] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Adult Incontinence</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th># of supplies distributed</th>
            <th>Average # of adult incontinence supplies per adult per month</th>
            <th>Adult incontinence supplies provided per adult</th>
            <th>% of adult incontinence supplies that you received in donation</th>
            <th>% of adult incontinence supplies that you bought</th>
            <th>Amount of money spent on adult incontinence supplies</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @adult_incontinence_report[:supplies_distributed] %></td>
            <td><%= @adult_incontinence_report[:monthly_adult_incontinence] %></td>
            <td><%= @adult_incontinence_report[:provided_per_person] %></td>
            <td><%= number_to_percentage(@adult_incontinence_report[:supplies_recieved], precision: 2) %></td>
            <td><%= number_to_percentage(@adult_incontinence_report[:supplies_purchased], precision: 2) %></td>
            <td><%= @adult_incontinence_report[:money_spent] || "?"%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Other Products</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>List of non-diaper products distributed</th>
            <th>% of non-diaper supplies received as donation</th>
            <th>% of non-diaper supplies bough</th>
            <th>Total non-diaper items distributed</th>
            <th>Amount of money spent on non-diaper supplies</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @other_products_report[:other_products] %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Partner Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Number of Partner Agencies</th>
            <th>Types of Partner Agencies</th>
            <th>List of Zip Codes Served</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @partner_info_reporter[:partners_count]%></td>
          <td><%= @partner_info_reporter[:partner_agency_type] %></td>
            <td><%= @partner_info_reporter[:partner_zipcodes_serviced] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Children Served</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <th>Children served in 2021</th>
          <th>Children served monthly</th>
          <th>Diapers given per child (monthly)</th>
          <th>Does the program repackage diapers?</th>
          <th>Are diaper distributions held monthly?</th>
        </thead>
        <tbody>
          <td><%= @children_served_by_partner + " children" %></td>
          <td><%= @monthly_children_served + " children per month" %></td>
          <td>?</td>
          <td>?</td>
          <td>?</td>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br />
<section class="content">
  <h1 class='text-3xl text-center'>Summary Information</h1><br />
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Number of Donations to Diaper Bank</th>
            <th>Total amount of donations to Diaper Bank</th>
            <th>Total diaper donations 2019 vs 2020</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @donations.count %></td>
            <td><%= number_to_currency(@donations_amount) %></td>
            <td>?</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
