<%# required params: title, body_class, masthead_img_src   %>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/v4-shims.css" rel="stylesheet">

  <%=
    # DO NOT LOAD ANY JAVASCRIPT BEFORE THIS!!!
    javascript_importmap_tags
  %>
  <%= raw fullstory_script(current_user: current_user) if Rails.env.production? %>
  <script type="esms-options">
  {
    "noLoadEventRetriggers": true
  }
  </script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
    .checkbox label{
      padding-left: 0px;
    }
  </style>
  <script type="module">
    $(document).ready(function() {
      <% if Rails.env.staging? %>
        // Prevents users from closing the modal by clicking outside of it or pressing the esc key
        new bootstrap.Modal('#warningModal', {
          backdrop: 'static',
          keyboard: false
        }).show();
        // Adds click event handler on the checkbox
        $('#defaultCheck1').click(function(){
          // If the checkbox is checked, enable the continue button
          if($(this).is(':checked')){
            $('.continue-btn').attr("disabled", false);
          } else{
            $('.continue-btn').attr("disabled", true);
          }
        });
      <% end %>
    });
  </script>
</head>

<body id="devise" class="hold-transition login-page <%= body_class %> <%= Rails.env.staging? ? 'login-page-test' : '' %>">
  <div class="login-box">
    <% if masthead_img_src %>
      <div class="login-logo text-center">
        <img id="MastheadLogo" src="<%= masthead_img_src %>" alt="Human Essentials" title="Human Essentials" class="serv_icon">
      </div>
    <% end %>

    <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="form-group has-feedback">
        <%= yield %>
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- Modal -->
  <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="warningModalLabel"><b>This site is for TEST purposes only!</b></h3>
        </div>
        <div class="modal-body">
          You're visiting staging.humanessentials.app, a demo/test site for the full site at <a href="https://humanessentials.app">humanessentials.app</a>.<br>
          It is not safe to upload, enter or save any sensitive data here.<br>
          <div class="modal-body-warning-text">
            If you meant to login to your live account, go to <a href="https://humanessentials.app/users/sign_in">humanessentials.app</a>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              I Understand
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning continue-btn" data-bs-dismiss="modal" disabled>Continue To The Test Site</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
