<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item">
    <%= link_to(dashboard_path, class: "nav-link #{active_class(['dashboard'])}") do %>
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Dashboard</p>
    <% end %>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['product_drives']) %>">
    <a href="#" class="nav-link <%= active_class(['product_drives']) %>">
      <i class="nav-icon fas fa-trophy"></i>
      <p>Product Drives
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(product_drives_path) %>">
        <%= link_to(product_drives_path, class: "nav-link #{"active" if current_page?(product_drives_path)}") do %>
          <i class="nav-icon far fa-circle"></i>
          <p>All Product Drives</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_product_drive_path) %>">
        <%= link_to(new_product_drive_path, class: "nav-link #{"active" if current_page?(new_product_drive_path)}") do %>
          <i class="nav-icon far fa-circle"></i>
          <p>New Product Drive</p>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['donations']) %>">
    <a href="#" class="nav-link <%= active_class(['donations']) %>">
      <i class="nav-icon fa fa-gratipay"></i>
      <p>Donations
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(donations_path) %>">
        <%= link_to(donations_path, class: "nav-link #{"active" if current_page?(donations_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Donations
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_donation_path) %>">
        <%= link_to(new_donation_path, class: "nav-link #{"active" if current_page?(new_donation_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> New Donation
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['purchases']) %>">
    <a href="#" class="nav-link <%= active_class(['purchases']) %>">
      <i class="nav-icon fa fa-money"></i>
      <p>Purchases
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(donations_path) %>">
        <%= link_to(purchases_path, class: "nav-link #{"active" if current_page?(purchases_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Purchases
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_purchase_path) %>">
        <%= link_to(new_purchase_path, class: "nav-link #{"active" if current_page?(new_purchase_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> New Purchase
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item <%= 'active' if current_page?(requests_path) %>">
    <%= link_to(requests_path, class: "nav-link #{active_class(['requests'])}") do %>
      <i class="nav-icon fa fa-file-text"></i>
      <p>Requests</p>
    <% end %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(distributions_path) %>">
    <%= link_to(distributions_path, class: "nav-link #{"active" if current_page?(distributions_path)}") do %>
      <i class="nav-icon fa fa-shopping-cart"></i>
      <p>Distributions</p>
    <% end %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(schedule_distributions_path) %>">
    <%= link_to(schedule_distributions_path, class: "nav-link #{"active" if current_page?(schedule_distributions_path)}") do %>
      <i class="nav-icon fa fa-calendar-o"></i>
      <p>Pick Ups & Deliveries</p>
    <% end %>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['partners']) %> <%= menu_open?(['broadcast_announcements']) %>">
    <a href="#" class="nav-link <%= active_class(['partners']) %> <%= active_class(['broadcast_announcements']) %>">
      <i class="nav-icon fas fa-user-friends"></i>
      <p>Partner Agencies
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(partners_path) %>">
        <%= link_to(partners_path, class: "nav-link #{"active" if current_page?(partners_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i>All Partners
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(broadcast_announcements_path) %>">
        <%= link_to(broadcast_announcements_path, class: "nav-link #{active_class(['broadcast_announcements'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i>Partner Announcement
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['audits', 'items', 'kits', 'barcode_items', 'storage_locations', 'adjustments', 'transfers']) %>">
    <a href="#" class="nav-link <%= active_class(['audits', 'items', 'kits', 'barcode_items', 'storage_locations', 'adjustments', 'transfers']) %>">
      <i class="nav-icon fa fa-pie-chart"></i>
      <p>Inventory
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= active_class(['items']) %>">
        <%= link_to(items_path, class: "nav-link #{active_class(['items'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Items &amp; Inventory
        <% end %>
      </li>

      <li class="nav-item <%= active_class(['kits']) %>">
        <%= link_to(kits_path, class: "nav-link #{active_class(['kits'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Kits
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['barcode_items']) %>">
        <%= link_to(barcode_items_path, class: "nav-link #{active_class(['barcode_items'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Barcode Items
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['storage_locations']) %>">
        <%= link_to(storage_locations_path, class: "nav-link #{active_class(['storage_locations'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Storage Locations
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['adjustments']) %>">
        <%= link_to(adjustments_path, class: "nav-link #{active_class(['adjustments'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Inventory Adjustments
        <% end %>
      </li>
      <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
        <li class="nav-item <%= active_class(['audits']) %>">
          <%= link_to(audits_path, class: "nav-link #{active_class(['audits'])}") do %>
            <i class="nav-icon fa fa-circle-o"></i> Inventory Audit
          <% end %>
        </li>
      <% end %>
      <li class="nav-item <%= active_class(['transfers']) %>">
        <%= link_to(transfers_path, class: "nav-link #{active_class(['transfers'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Transfers
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item has-treeview <%= menu_open?(['donation_sites', 'product_drive_participants', 'manufacturers', 'vendors']) %>">
    <a href="#" class="nav-link <%= active_class(['donation_sites', 'product_drive_participants', 'manufacturers', 'vendors']) %>">
      <i class="nav-icon fa fa-laptop"></i>
      <p>Community
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= active_class(['donation_sites']) %>">
        <%= link_to(donation_sites_path, class: "nav-link #{active_class(['donation_sites'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Donation Sites
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['product_drive_participants']) %>">
        <%= link_to(product_drive_participants_path, class: "nav-link #{active_class(['product_drive_participants'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Product Drive Participants
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['manufacturers']) %>">
        <%= link_to(manufacturers_path, class: "nav-link #{active_class(['manufacturers'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Manufacturers
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['vendors']) %>">
        <%= link_to(vendors_path, class: "nav-link #{active_class(['vendors'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Vendors
        <% end %>
      </li>
    </ul>
  </li>
  <li class='nav-item has-treeview <%= menu_open?(['distributions_by_county', 'reports', 'reports/annual_reports', 'events', 'historical_trends/distributions', 'historical_trends/donations', 'historical_trends/purchases']) %>'>
    <a href='#' class='nav-link <%= active_class(['events', 'reports/annual_reports', 'distributions_by_county', 'reports/itemized_donations', 'reports/itemized_distributions', 'reports/donations_summary', 'reports/activity_graph', 'reports/manufacturer_donations_summary', 'reports/product_drives_summary', 'reports/purchases_summary', 'reports/distributions_summary', 'historical_trends/distributions', 'historical_trends/donations', 'historical_trends/purchases']) %>'>
      <i class="nav-icon fa fa-tasks"></i>
      <p>Reports
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= active_class(['reports/activity_graph']) %>">
        <%= link_to(reports_activity_graph_path, class: "nav-link #{active_class(['reports/activity_graph'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Activity Graph
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/annual_reports']) %>">
        <%= link_to(reports_annual_reports_path, class: "nav-link #{active_class(['reports/annual_reports'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Annual Survey
        <% end %>
      </li>
      <% if Event.read_events?(current_user.organization) %>
        <li class="nav-item <%= active_class(['events']) %>">
          <%= link_to(events_path, class: "nav-link #{active_class(['events'])}") do %>
            <i class="nav-icon fa fa-circle-o"></i> History
          <% end %>
        </li>
      <% end %>
      <li class="nav-item <%= active_class(['reports/distributions_summary']) %>">
        <%= link_to(reports_distributions_summary_path, class: "nav-link #{active_class(['reports/distributions_summary'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Distributions - Summary
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['distributions_by_county']) %>">
        <%= link_to(distributions_by_county_report_path(filters: { date_range: date_range_params }), class: "nav-link #{active_class(['distributions_by_county'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Distributions - By County
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/itemized_distributions']) %>">
        <%= link_to(reports_itemized_distributions_path, class: "nav-link #{active_class(['reports/itemized_distributions'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Distributions - Itemized
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(historical_trends_distributions_path) %>">
        <%= link_to(historical_trends_distributions_path, class: "nav-link #{"active" if current_page?(historical_trends_distributions_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Distributions - Trends
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/donations_summary']) %>">
        <%= link_to(reports_donations_summary_path, class: "nav-link #{active_class(['reports/donations_summary'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Donations - Summary
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/itemized_donations']) %>">
        <%= link_to(reports_itemized_donations_path, class: "nav-link #{active_class(['reports/itemized_donations'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Donations - Itemized
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/manufacturer_donations_summary']) %>">
        <%= link_to(reports_manufacturer_donations_summary_path, class: "nav-link #{active_class(['reports/manufacturer_donations_summary'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Donations - Manufacturer
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(historical_trends_donations_path) %>">
        <%= link_to(historical_trends_donations_path, class: "nav-link #{"active" if current_page?(historical_trends_donations_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Donations - Trends
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/product_drives_summary']) %>">
        <%= link_to(reports_product_drives_summary_path, class: "nav-link #{active_class(['reports/product_drives_summary'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Product Drives - Summary
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['reports/purchases_summary']) %>">
        <%= link_to(reports_purchases_summary_path, class: "nav-link #{active_class(['reports/purchases_summary'])}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Purchases - Summary
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(historical_trends_purchases_path) %>">
        <%= link_to(historical_trends_purchases_path, class: "nav-link #{"active" if current_page?(historical_trends_purchases_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> Purchases - Trends
        <% end %>
      </li>
    </ul>
  </li>
  <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
    <li class="nav-item <%= 'active' if current_page?(organization_path) %>">
      <%= link_to(organization_path, class: "nav-link #{'active' if current_page?(organization_path)}") do %>
        <i class="nav-icon fas fa-home"></i>
        <p>My Organization</p>
      <% end %>
    </li>
  <% end %>
</ul>
