<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header all-caps">Main Navigation</li>
      <li class="<%= active_class(['dashboard']) %>">
        <%= link_to(dashboard_path(organization_id: current_user.organization)) do %>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <% end %>
      </li>
      <li class="<%= active_class(['donations']) %> treeview">
        <a href="#">
          <i class="fa fa-gratipay"></i>
          <span>Donations</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'active' if current_page?(donations_path(organization_id: current_user.organization)) %>">
            <%= link_to(donations_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> All Donations
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(new_donation_path(organization_id: current_user.organization)) %>">
            <%= link_to(new_donation_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> New Donation
            <% end %>
          </li>
          <!-- NOTE(chaserx): temporarily removing repackaged donation from the nav
          <li class="<%#= 'active' if current_page?(scale_donations_path(organization_id: current_user.organization)) %>">
            <%#= link_to(scale_donations_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Repackaged Donation
            <%# end %>
          </li>ra
          -->
        </ul>
      </li>
      <li class="<%= active_class(['purchases']) %> treeview">
        <a href="#">
          <i class="fa fa-money"></i>
          <span>Purchases</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'active' if current_page?(purchases_path(organization_id: current_user.organization)) %>">
            <%= link_to(purchases_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> All Purchases
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(new_purchase_path(organization_id: current_user.organization)) %>">
            <%= link_to(new_purchase_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> New Purchase
            <% end %>
          </li>
        </ul>
      </li>
      <li>
      <li class="<%= 'active' if current_page?(requests_path) %>">
        <%= link_to(requests_path) do %>
          <i class="fa fa-file-text"></i> <span>Requests</span>
        <% end %>
      </li>
      <li class="<%= active_class(['distributions']) %>">
        <%= link_to(distributions_path(organization_id: current_user.organization)) do %>
          <i class="fa fa-circle-o"></i> <span>Distributions</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(pick_ups_distributions_path) %>">
        <%= link_to(pick_ups_distributions_path) do %>
          <i class="fa fa-calendar-o"></i> <span>Pick Ups</span>
        <% end %>
      </li>
      </li>
      <li class="<%= active_class(['items','barcode_items','storage_locations','adjustments','transfers']) %> treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Inventory</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= active_class(['items']) %>">
            <%= link_to(items_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Items &amp; Inventory
            <% end %>
          </li>
          <li class="<%= active_class(['barcode_items']) %>">
            <%= link_to(barcode_items_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Barcode Items
            <% end %>
          </li>
          <li class="<%= active_class(['storage_locations']) %>">
            <%= link_to(storage_locations_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Storage Locations
            <% end %>
          </li>
          <li class="<%= active_class(['adjustments']) %>">
            <%= link_to(adjustments_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Inventory Adjustments
            <% end %>
          </li>
          <li class="<%= active_class(['transfers']) %>">
            <%= link_to(transfers_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Transfers
            <% end %>
          </li>
        </ul>
      </li>
      <li class="<%= active_class(['partners','donation_sites','diaper_drive_participants']) %> treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Community</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= active_class(['donation_sites']) %>">
            <%= link_to(donation_sites_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Donation Sites
            <% end %>
          </li>
          <li class="<%= active_class(['partners']) %>">
            <%= link_to(partners_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Partner Agencies
            <% end %>
          </li>
          <li class="<%= active_class(['diaper_drive_participants']) %>">
            <%= link_to(diaper_drive_participants_path(organization_id: current_user.organization)) do %>
              <i class="fa fa-circle-o"></i> Diaper Drive Participants
            <% end %>
          </li>
        </ul>
      </li>
      <% if current_user.organization_admin %>
        <li class="<%= active_class(['audits']) %> treeview">
          <a href="#">
            <i class="fa fa-tasks"></i>
            <span>Reporting & Auditing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<%= active_class(['audits']) %>">
              <%= link_to(audits_path(organization_id: current_user.organization)) do %>
                <i class="fa fa-circle-o"></i> Annual Audit
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </section>
</aside>
