<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

  <li class="nav-item">
    <%= link_to(admin_dashboard_path, class: "nav-link #{active_class(['dashboard'])}") do %>
      <i class="nav-icon fas fa-tachometer-alt"></i> <span>Admin Dashboard</span>
    <% end %>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['barcode_items']) %>">
    <a href="#" class="nav-link <%= active_class(['barcode_items']) %>">
      <i class="nav-icon fa fa-barcode"></i>
      <p>Barcode Items
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_barcode_items_path) %>">
        <%= link_to(admin_barcode_items_path, class: "nav-link #{"active" if current_page?(admin_barcode_items_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Barcodes
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_barcode_item_path) %>">
        <%= link_to(new_admin_barcode_item_path, class: "nav-link #{"active" if current_page?(new_admin_barcode_item_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Barcode Item
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['base_items']) %>">
    <a href="#" class="nav-link <%= active_class(['base_items']) %>">
      <i class="nav-icon fas fa-box"></i>
      <p>Base Items
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_base_items_path) %>">
        <%= link_to(admin_base_items_path, class: "nav-link #{"active" if current_page?(admin_base_items_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Base Items
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_base_item_path) %>">
        <%= link_to(new_admin_base_item_path, class: "nav-link #{"active" if current_page?(new_admin_base_item_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Base Item
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['organizations']) %>">
    <a href="#" class="nav-link <%= active_class(['organizations']) %>">
      <i class="nav-icon fas fa-sitemap"></i>
      <p>Organizations
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_organizations_path) %>">
        <%= link_to(admin_organizations_path, class: "nav-link #{"active" if current_page?(admin_organizations_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Organizations
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_organization_path) %>">
        <%= link_to(new_admin_organization_path, class: "nav-link #{"active" if current_page?(new_admin_organization_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Organization
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['partners']) %>">
    <a href="#" class="nav-link <%= active_class(['partners']) %>">
      <i class="nav-icon fas fa-people-carry"></i>
      <p>Partners
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_partners_path) %>">
        <%= link_to(admin_partners_path, class: "nav-link #{"active" if current_page?(admin_partners_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Partners
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['users']) %>">
    <a href="#" class="nav-link <%= active_class(['purchases']) %>">
      <i class="nav-icon fas fa-users"></i>
      <p>Users
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_users_path) %>">
        <%= link_to(admin_users_path, class: "nav-link #{"active" if current_page?(admin_users_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Users
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_user_path) %>">
        <%= link_to(new_admin_user_path, class: "nav-link #{"active" if current_page?(new_admin_user_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New User
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item <%= active_class(['feedback_messages']) %>">
    <%= link_to(admin_feedback_messages_path, class: "nav-link #{"active" if current_page?(admin_feedback_messages_path)}") do %>
      <i class="nav-icon fa fa-sticky-note"></i> User Feedback
    <% end %>
  </li>


  <% if (current_user.organization.present?) %>
    <li class="nav-item">
      <%= link_to(dashboard_path(organization_id: current_user.organization), class: "nav-link") do %>
        <i class="nav-icon fas fa-home"></i> <span>My Organization</span>
      <% end %>
    </li>
  <% end %>

</ul>
