<li id="help" class="nav-item dropdown">
  <%= link_to 'Need Help?', help_path, class: 'nav-link bg-yellow-400 mx-2 font-bold rounded-2xl' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link" data-bs-toggle="dropdown" href="#">
    <i class="fa fa-calendar"></i>
    <span class="badge badge-danger bg-danger navbar-badge" style="background-color: #007bff"><%= current_organization.distributions.upcoming.count.to_s.gsub(/^0$/, '') %></span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> <%= current_organization.distributions.upcoming.count %> Pick-ups
      remaining this week
    </a>
    <div class="dropdown-divider"></div>
    <%= link_to_if current_organization.id.present?, "View Calendar", schedule_distributions_path, class: "dropdown-item dropdown-footer" %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link" data-bs-toggle="dropdown" href="#">
    <i class="fa fa-bell-o"></i>
    <% if current_organization && (current_organization.requests.status_pending.size > 0 || current_organization.partners.awaiting_review.size > 0) %>
    <span class="badge badge-warning bg-warning navbar-badge" style="background-color: #ffc107"><%= (current_organization.requests.status_pending.size + current_organization.partners.awaiting_review.size) %></span>
    <% end %>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <%= link_to(requests_path, class: "dropdown-item") do %>
    <i class="fa fa-file-text text-aqua"></i> <%= current_organization&.requests.status_pending.size rescue "0" %>
    Requests
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to(partners_path, class: "dropdown-item") do %>
    <i class="fa fa-file-text text-aqua"></i> <%= current_organization&.partners.awaiting_review.size rescue "0" %>
    Partner Agencies Pending Review
    <% end %>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link" data-bs-toggle="dropdown" href="#">
    <%= current_user.display_name %>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <%= link_to edit_user_registration_path, class:"dropdown-item" do %>
    <i class="fa fa-cog text-aqua"></i> Account Settings
    <% end %>
    <% current_user.switchable_roles.each do |role| %>
      <% next if role == current_role %>
      <%= link_to switch_to_role_users_path(role_id: role.id), class:"dropdown-item" do %>
        <i class="fa fa-repeat text-aqua"></i><%= "Switch to: #{role.resource&.name || "Super Admin"}" %>
      <% end %>
    <% end %>
    <% if current_user.has_role?(Role::ORG_ADMIN, current_organization) %>
        <div class="dropdown-divider"></div>
        <%= link_to users_path, class:"dropdown-item" do %>
          <i class="fas fa-users mr-2"></i> My Co-Workers
        <% end %>
        <%= link_to organization_path, class:"dropdown-item" do %>
          <i class="fas fa-sitemap mr-2"></i> My Organization
        <% end %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, class:"dropdown-item dropdown-footer", method: :delete do %>
    <i class="fa fa-sign-out mr-2"></i> Log Out
    <% end %>
  </div>
</li>
