<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

  <li class="nav-item">
    <%= link_to(admin_dashboard_path, class: "nav-link #{active_class(['admin/dashboard'])}") do %>
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Admin Dashboard</p>
    <% end %>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['admin/barcode_items']) %>">
    <a href="#" class="nav-link <%= active_class(['admin/barcode_items']) %>">
      <i class="nav-icon fa fa-barcode"></i>
      <p>Barcode Items
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_barcode_items_path) %>">
        <%= link_to(admin_barcode_items_path, class: "nav-link #{"active" if current_page?(admin_barcode_items_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Barcodes
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_barcode_item_path) %>">
        <%= link_to(new_admin_barcode_item_path, class: "nav-link #{"active" if current_page?(new_admin_barcode_item_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Barcode Item
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['admin/base_items']) %>">
    <a href="#" class="nav-link <%= active_class(['admin/base_items']) %>">
      <i class="nav-icon fas fa-box"></i>
      <p>Base Items
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_base_items_path) %>">
        <%= link_to(admin_base_items_path, class: "nav-link #{"active" if current_page?(admin_base_items_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Base Items
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_base_item_path) %>">
        <%= link_to(new_admin_base_item_path, class: "nav-link #{"active" if current_page?(new_admin_base_item_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Base Item
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['admin/organizations', 'admin/ndbn_members']) %>">
    <a href="#" class="nav-link <%= active_class(['admin/organizations', 'admin/ndbn_members']) %>">
      <i class="nav-icon fas fa-sitemap"></i>
      <p>Organizations
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_organizations_path) %>">
        <%= link_to(admin_organizations_path, class: "nav-link #{"active" if current_page?(admin_organizations_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Organizations
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_organization_path) %>">
        <%= link_to(new_admin_organization_path, class: "nav-link #{"active" if current_page?(new_admin_organization_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New Organization
        <% end %>
      </li>
      <li class="nav-item <%= active_class(['admin/ndbn_members']) %>">
        <%= link_to(admin_ndbn_members_path, class: "nav-link #{active_class(['admin/ndbn_members'])}") do %>
          <i class="nav-icon fa fa-cloud-upload"></i>
          NDBN Member Upload
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['admin/partners']) %>">
    <a href="#" class="nav-link <%= active_class(['admin/partners']) %>">
      <i class="nav-icon fas fa-people-carry"></i>
      <p>Partners
        <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_partners_path) %>">
        <%= link_to(admin_partners_path, class: "nav-link #{"active" if current_page?(admin_partners_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Partners
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item has-treeview <%= menu_open?(['admin/users']) %>">
    <a href="#" class="nav-link <%= active_class(['admin/users']) %>">
      <i class="nav-icon fas fa-users"></i>
      <p>Users
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item <%= 'active' if current_page?(admin_users_path) %>">
        <%= link_to(admin_users_path, class: "nav-link #{"active" if current_page?(admin_users_path)}") do %>
          <i class="nav-icon fa fa-circle-o"></i> All Users
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_admin_user_path) %>">
        <%= link_to(new_admin_user_path, class: "nav-link #{"active" if current_page?(new_admin_user_path)}") do %>
          <i class="nav-icon fa fa-plus-circle"></i> New User
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav-item <%= 'active' if current_page?(admin_broadcast_announcements_path) %>">
        <%= link_to(admin_broadcast_announcements_path, class: "nav-link #{"active" if current_page?(admin_broadcast_announcements_path)}") do %>
      <i class="nav-icon fa fa-envelope"></i>
      <p>Announcements</p>
    <% end %>
  </li>

  <li class="nav-item <%= active_class(['admin/account_requests']) %>">
    <%= link_to(admin_account_requests_path, class: "nav-link #{"active" if current_page?(admin_account_requests_path)}") do %>
      <i class="nav-icon fa fa-sticky-note"></i>
      <p>Account Requests</p>
    <% end %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(admin_questions_path) %>">
    <%= link_to(admin_questions_path, class: "nav-link #{"active" if current_page?(admin_questions_path)}") do %>
      <i class="nav-icon fa fa-circle-o"></i>
      <p>FAQ</p>
    <% end %>
  </li>

  <% if Rails.env.production? %>
    <li class="nav-item">
      <%= link_to("/coverage", class: "nav-link") do %>
        <i class="nav-icon fa-solid fa-chart-bar"></i>
        <p>Coverband</p>
      <% end %>
    </li>
  <% end %>

</ul>
