<div class="top-bar" id="main-menu">
  <div class="top-bar-title">
    <%= image_tag "DiaperBase-Logo.png", alt: "DiaperBase Logo", id: "logo" %>

    <span class="menu-hamburger" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <span class="menu-text" data-toggle>Menu</span>
      <span class="menu-icon" data-toggle></span>
    </span>

  </div>

  <div id="responsive-menu">
    <div class="top-bar-left">

      <ul class="menu" data-responsive-menu="drilldown medium-dropdown" data-parent-link="true" data-back-button="<li class='js-drilldown-back'><a tabindex='0'>Back</a></li>">
      <% ############# SIGNED IN ############### %>
      <% if user_signed_in? %>
        <li><%= navigation_link_to('Dashboard', dashboard_path) %></li>
        <li class="has-submenu">
          <a href="javascript:void(0)">Donations</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= navigation_link_to('All Donations', donations_path) %></li>
            <li><%= navigation_link_to('New Donation', new_donation_path) %></li>
            <li><%= navigation_link_to('Repackaged Donation', scale_donations_path) %></li>
          </ul>
        </li>        
        <li><%= navigation_link_to('Distributions', distributions_path)   %></li>
        <li class="has-submenu">
          <a href="javascript:void(0)">Inventory</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= navigation_link_to('Items', items_path) %></li>
            <li><%= navigation_link_to('Barcode Items', barcode_items_path) %></li>
            <li><%= navigation_link_to('Storage Locations', storage_locations_path) %></li>
            <li><%= navigation_link_to('Adjustments', adjustments_path) %></li>
            <li><%= navigation_link_to('Transfers', transfers_path) %></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Community</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= navigation_link_to('Donation Dropoff Locations', dropoff_locations_path) %></li>
            <li><%= navigation_link_to('Partner Agencies', partners_path) %></li>
            <li>
              <%= navigation_link_to('Diaper Drive Participants',
                                     diaper_drive_participants_path) %>
            </li>
          </ul>
        </li>
        <% if current_user.organization_admin? %>
        <li><%= navigation_link_to('Administration', admins_path) %>
        </li>
        <% end %>
      <% ############# END SIGNED IN ############### %>
      <% end %>
      <% ############# SIGNED IN ############### %>
      <% # This should really be DRYed out %>
      <% if user_signed_in? %>
        <li class="has-submenu hide-for-medium">
          <a href='javascript:void(0)'>Settings</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= navigation_link_to "Account Settings", edit_user_registration_path(organization_id: nil) %>      </li>
            <% with_options organization_id: current_user.organization.to_param do |with_org| %>
            <li><%= navigation_link_to "Manage users", with_org.users_path %></li>
            <li><%= navigation_link_to "Modify organization", with_org.edit_organization_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="hide-for-medium"><%= link_to('Log out', destroy_user_session_path(organization_id: nil), method: 'delete') %></li>
      <% ############### NOT SIGNED IN ########### %>
      <% else %>
        <li class="hide-for-medium"><%= link_to 'Sign In', new_user_session_path(organization_id: nil) %></li>
      <% end %>
      <% ############### END #################### %>
      </ul>
    </div><!-- top-bar-left -->

    <div class="top-bar-right">
      <ul class="menu show-for-medium" data-responsive-menu="drilldown medium-dropdown" data-parent-link="true" data-back-button="<li class='js-drilldown-back'><a tabindex='0'>Back</a></li>">
        <% ############# SIGNED IN ############### %>
        <% if user_signed_in? %>
          <li>Hello, <%= current_user.name %>!</li>
          <li class="has-submenu">
            <a href='javascript:void(0)'>Settings</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><%= navigation_link_to "Account Settings", edit_user_registration_path(organization_id: nil) %>        </li>
              <% with_options organization_id: current_user.organization.to_param do |with_org| %>
              <li><%= navigation_link_to "Manage users", with_org.users_path %></li>
              <li><%= navigation_link_to "Modify organization", with_org.edit_organization_path %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to('Log out', destroy_user_session_path(organization_id: nil), method: 'delete') %></li>
        <% ############### NOT SIGNED IN ########### %>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path(organization_id: nil) %></li>
        <% end %>
        <% ############### END #################### %>
      </ul>
    </div><!-- top-bar-right -->
  </div><!-- responsive-menu -->
</div><!-- main-menu -->
