<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : default_title_content %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="md-skin">
<!-- Site wrapper -->
<div class="wrapper">
  <% if user_signed_in? %>
    <% if admin_namespace? %>
      <%= render partial: "layouts/admin_sidebar" %>
    <% else %>
      <%= render partial: "layouts/sidebar" %>
    <% end %>
  <% end %>

  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
      <!-- Header Navbar: style can be found in header.less -->
      <% if user_signed_in? && current_organization.present? %>
        <% if admin_namespace? %>
          <%= render partial: "layouts/lte_admin_navbar" %>
        <% else %>
          <%= render partial: "layouts/lte_navbar" %>
        <% end %>
      <% end %>
      </nav>
      </header>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div id="flash-message-container">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration: none;"><%= fa_icon('times') %></a>
              <%= value %>
            </div>
          <% end %>
        </div>
        <%= yield %>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <footer class="footer">
        <div class="float-right">
        </div>
        <strong>Diaperbase was built with <i class="fa fa-heart"></i> by
          <a href="http://rubyforgood.org">Ruby for Good</a>.</strong>
      </footer>


    </div>
  </div>

</div>

</body>
<div class="modal fade" id="modal_new_diaper_drive" role="dialog"></div>
</html>
