<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : default_title_content %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="md-skin">
<!-- Site wrapper -->
<div id="wrapper">
  <% if user_signed_in? %>
    <% if admin_namespace? %>
      <%= render partial: "layouts/admin_sidebar" %>
    <% else %>
      <%= render partial: "layouts/sidebar" %>
    <% end %>
  <% end %>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <% if user_signed_in? && current_organization.present? %>
        <% if admin_namespace? %>
          <%= render partial: "layouts/admin_navbar" %>
        <% else %>
          <%= render partial: "layouts/navbar" %>
        <% end %>
      <% end %>
    </div>
      <%= yield %>
    <div class="footer">
      <div class="float-left">
        <strong>Diaperbase was built with <i class="fa fa-heart"></i > by
          <a href = "http://rubyforgood.org" > Ruby for Good </a>.</strong >
      </div>
    </div>
  </div>
</div>



</body>
</html>
