<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : default_title_content %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/v4-shims.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%=
    # DO NOT LOAD ANY JAVASCRIPT BEFORE THIS!!!
    javascript_importmap_tags
  %>
  <%= raw fullstory_script(current_user: current_user) if Rails.env.production? %>
  <script type="esms-options">
  {
    "noLoadEventRetriggers": true
  }
  </script>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <%= render 'magic_test/support' if Rails.env.test? %>
  <% unless @turbo %>
    <meta name="turbo-visit-control" content="reload">
    <meta name="turbo-cache-control" content="no-cache">
  <% end %>
</head>
<body data-turbo="<%= @turbo %>" data-controller='turbo'
  id="<%= params.fetch(:controller, '').gsub(/[^\w\d]+/,'_') %>" class="<%= params.fetch(:action, '') %> hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <a id="collapse" href="#" data-widget="pushmenu" data-auto-collapse-size="992">
      <i class="fa fa-bars"></i>
    </a>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if current_organization.present? %>
          <%= render partial: "layouts/lte_navbar" %>
        <% elsif admin_namespace? %>
          <%= render partial: "layouts/lte_admin_navbar" %>
        <% end %>
      <% else %>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="user user-menu">
              <%= delete_button_to destroy_user_session_path, {text: "Log out", icon: "sign-out", no_confirm: true, size: "md"} %>
            </li>
          </ul>
        </div>
      <% end %>
    </ul>
  </nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <% if current_user %>
      <!-- Brand Logo -->
      <%= link_to dashboard_path_from_current_role, class: "brand-link" do %>
        <img src="/img/essentials.svg" alt="Essentials Logo (icon)" title="HumanEssentials" class="main_logo">
      <% end %>
    <% end %>

    <!-- Sidebar -->
    <div class="sidebar">
      <nav class="mt-2">
        <% if user_signed_in? %>
          <% if admin_namespace? %>
            <%= render partial: "layouts/lte_admin_sidebar" %>
          <% else %>
            <%= render partial: "layouts/lte_sidebar" %>
          <% end %>
        <% end %>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <%= render partial: "shared/flash" %>

    <div>
      <%= yield %>
    </div>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Human Essentials was built with <i class="fa fa-heart fa-beat" style="color:red;"></i> by <a href="http://rubyforgood.org">Ruby for Good</a>.</strong>
  </footer>

  </aside>
  <div class="control-sidebar-bg"></div>
</div>

</body>
<div class="modal fade" id="modal_new" role="dialog"></div>
</html>
