<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : default_title_content %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <% if user_signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="logo">
              <%= image_tag "DiaperBase-Logo.png", alt: "DiaperBase Logo" %>
            </li>
            <li><%= navigation_link_to('Dashboard', dashboard_path) %></li>
            <li><%= navigation_link_to('Donations', donations_path) %></li>
            <li><%= navigation_link_to('Distributions', distributions_path) %></li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Inventory</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= navigation_link_to('Items', items_path) %></li>
                <li><%= navigation_link_to('Barcode Items', barcode_items_path) %></li>
                <li><%= navigation_link_to('Storage Locations', storage_locations_path) %></li>
                <li><%= navigation_link_to('Adjustments', adjustments_path) %></li>
                <li><%= navigation_link_to('Transfers', transfers_path) %></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Community</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= navigation_link_to('Donation Sites', dropoff_locations_path) %></li>
                <li><%= navigation_link_to('Partner Agencies', partners_path) %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class='menu'>
            <li class="menu-text organization-name"><span>Diaper Base</span></li>
          </ul>
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="menu dropdown" data-dropdown-menu>
          <% if user_signed_in? %>
            <li><%= current_user.email %></li>
            <li class='has-submenu'>
              <a href='javascript:void(0)'>Settings</a>
              <ul class="submenu vertical menu">
                <li><%= navigation_link_to "Account Settings", edit_user_registration_path(organization_id: nil) %></li>
                <% with_options organization_id: current_user.organization.to_param do |with_org| %>
                  <li><%= navigation_link_to "Manage users", with_org.users_path %></li>
                  <li><%= navigation_link_to "Modify organization", with_org.edit_organization_path %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to('Log out', destroy_user_session_path(organization_id: nil), method: 'delete') %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path(organization_id: nil) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= display_flash_messages %>

    <div class="row">
      <% if content_for?(:sidebar) %>
        <div class="primary medium-4 large-3 columns"><%= yield :sidebar %></div>
        <div class="primary medium-8 large-9 columns"><%= yield %></div>
      <% else %>
        <div class="primary medium-12 large-12 columns"><%= yield %></div>
      <% end %>
    </div>

  </body>
</html>
