<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : default_title_content %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <% if user_signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text organization-name"><%= current_organization.name %></li>
            <li><%= link_to_unless_current('Dashboard', dashboard_path) %></li>
            <li><%= link_to_unless_current('Donations', donations_path) %></li>
            <li><%= link_to_unless_current('Distributions', distributions_path) %></li>
            <li><%= link_to_unless_current('Transfers', transfers_path) %></li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Inventory</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to_unless_current('Barcode Items', barcode_items_path) %></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Address List</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to_unless_current('Dropoff Locations', dropoff_locations_path) %></li>
                <li><%= link_to_unless_current('Partners', partners_path) %></li>
                <li><%= link_to_unless_current('Storage Locations', storage_locations_path) %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul>
            <li class="menu-text">DiaperBase™</li>
          </ul>
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
            <li><%= current_user.email %></li>
            <li><a href='#'>Settings</a></li>
            <li><%= link_to('Log out', destroy_user_session_path, method: 'delete') %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= display_flash_messages %>

    <div class="row">
      <% if content_for?(:sidebar) %>
        <div class="medium-6 large-4 columns"><%= yield :sidebar %></div>
        <div class="medium-6 large-8 columns"><%= yield %></div>
      <% else %>
        <div class="medium-12 large-12 columns"><%= yield %></div>
      <% end %>
    </div>

  </body>
</html>
