<%= simple_form_for(@account_request) do |f| %>
  <%= f.error_notification %>

  <div class="card-title mb-10"> Card title</div>

  <div class="form-inputs">
    <div class="form-inputs">
      <%= f.input :name, autofocus: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :email %>
    </div>

    <div class="form-inputs">
      <%= f.input :organization_name %>
    </div>

    <div class="form-inputs">
      <%= f.input :organization_website %>
    </div>

    <div class="form-inputs">
      <%= f.input :request_details %>
    </div>
  </div>

  <div class="card-footer">
    <%= submit_button({text: 'Submit', icon: nil}) %>
  </div>
<% end %>
