<% unless Rails.env.staging? %>
  <div class="bg-white" style='width: 35rem'>
    <div class="p-3">
      <div class="mb-10">
        <h1 class='text-3xl text-center'>Essentials Bank Account Request Form</h1>
        <p class='p-2 bg-yellow-200'>
          Fill out the details below about your bank to request a free account to use Human Essentials for your organization's essentials bank.
          <br><br>
          <span class='text-bold'>If you are a partner please go <%= link_to 'here', new_partner_user_session_path %> to login.</span
        </p>
      </div>

      <div class='card-text'>
        <%= simple_form_for(@account_request) do |f| %>
          <%= f.error_notification %>
          <%= render partial: "shared/flash" %>

          <div class="form-inputs">
            <div class="form-inputs">
              <%= f.input :name, autofocus: true %>
            </div>

            <div class="form-inputs">
              <%= f.input :email %>
            </div>

            <div class="form-inputs">
              <%= f.input :organization_name %>
            </div>

            <div class="form-inputs">
              <%= f.input :organization_website %>
            </div>

            <div class="form-inputs">
              <%= f.input :request_details, placeholder: 'Tell us more about your organization and how you would use Human Essentials', label: "Request Details (min 50 characters)" %>
            </div>
          </div>

          <div class="my-2">
            <%= recaptcha_tags %>
          </div>

          <div class="card-footer">
            <%= submit_button({text: 'Submit', icon: nil}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
<div class="card" style='width: 30rem'>
    <div class="card-body">
      <div class="card-title mb-10">
        <h3>Request an account</h3>
      </div>

      <div class='card-text'>
        <p> Hey there, it looks like you're trying to request an account, but you're not currently on the live version of Diaper Base </p>
        <p> To request an account, <%= link_to 'click here', 'https://diaper.app/account_requests/new' %> to head on over to the Diaper Base website</p>
      </div>
    </div>
  </div>
<% end %>
