<% unless Rails.env.staging? %>
  <div class="bg-white" style='width: 35rem'>
    <div class="p-3">
      <div class="mb-10">
        <h1 class='text-3xl text-center'>Essentials Bank Account Request Form</h1>
      </div>

      <div class="form-check">
        <%= radio_button_tag(:account, :bank, false, class: 'form-check-input account_type') %>
        <%= label_tag(:account, "I am an Essentials Bank. I do NOT distribute diapers/period supplies directly to the public, I distribute them to partner agencies who distribute them to the public.", class: 'form-check-label') %>
      </div>
      <div class="form-check">
        <%= radio_button_tag(:account, :partner, false, class: 'form-check-input account_type') %>
        <%= label_tag(:account, "I am a Partner Agency to an Essentials Bank. I distribute the diapers/period supplies that I receive from essentials banks directly to the public.", class: 'form-check-label') %>
      </div>

      <% if @bank_selected %>
        <script type="module">
            $(document).ready(function() {
                const bankRadioButtons = $('.account_type[value="bank"]:not(:checked)');

                if (bankRadioButtons.length > 0) {
                    bankRadioButtons.eq(0).click();
                }
            });
        </script>
      <% else %>
        <script type="module">
            $(document).ready(function() {
                $('#create_bank').hide()
                $('#partner_info').hide()
            });
        </script>
      <% end %>

      <script type="module">
          $('.account_type').change(function() {
              if (this.value === 'bank') {
                  $('#create_bank').show()
                  $('#partner_info').hide()
              } else {
                  $('#create_bank').hide()
                  $('#partner_info').show()
              }
          })
      </script>

      <div class='card-text' id='partner_info'>
        <p class='p-2'>Are you a current partner to diaper and/or period supply banks? If so please go <a href='https://humanessentials.app/users/sign_in'>here</a> to login.</p>
        <p class='p-2'>If you are wishing to receive diapers/period supplies and partner to a local diaper/period supply bank please contact your local bank. They are the only ones able create your account.</p>
      </div>

      <div class='card-text' id='create_bank'>
        <p class='p-2 bg-yellow-200'>
          Fill out the details below about your bank to request a free account to use Human Essentials for your organization's essentials bank.
          <br><br>
          <span class='text-bold'>Do you <span class='text-italic'>partner</span> with diaper and/or period supply banks? If so please go to the <%= link_to 'partner app', new_user_session_path %> to login.</span>
        </p>

        <%= simple_form_for(@account_request) do |f| %>
          <%= f.error_notification %>
          <%= render partial: "shared/flash" %>

          <div class="form-inputs">
            <div class="form-inputs">
              <%= f.input :name, autofocus: true %>
            </div>

            <div class="form-inputs">
              <%= f.input :email %>
            </div>

            <div class="form-inputs">
              <%= f.input :organization_name %>
            </div>

            <div class="form-inputs">
              <%= f.input :organization_website, placeholder: "https://www.example.com" %>
            </div>

            <div class="form-inputs">
              <%= f.input :ndbn_member, label: 'NDBN Membership', wrapper: :input_group do %>
                <%= f.association :ndbn_member, label_method: :full_name, value_method: :id, label: false %>
              <% end %>
            </div>

            <div class="form-inputs">
              <%= f.input :request_details, placeholder: 'Tell us more about your organization and how you would use Human Essentials', label: "Request Details (min 50 characters)" %>
            </div>
          </div>

          <div class="my-2">
            <%= recaptcha_tags %>
          </div>

          <div class="card-footer">
            <%= submit_button({text: 'Submit', icon: nil}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="card" style='width: 30rem'>
    <div class="card-body">
      <div class="card-title mb-10">
        <h3>Request an account</h3>
      </div>

      <div class='card-text'>
        <p> Hey there, it looks like you're trying to request an account, but you're not currently on the live version of Human Essentials </p>
        <p> To request an account, <%= link_to 'click here', 'https://humanessentials.app/account_requests/new' %> to head on over to the Human Essentials website</p>
      </div>
    </div>
  </div>
<% end %>
