<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @account_request.email %>
</p>

<p>
  <strong>Organization name:</strong>
  <%= @account_request.organization_name %>
</p>

<p>
  <strong>Organization website:</strong>
  <%= @account_request.organization_website %>
</p>

<p>
  <strong>Request details:</strong>
  <%= @account_request.request_details %>
</p>

<%= link_to 'Edit', edit_account_request_path(@account_request) %> |
<%= link_to 'Back', account_requests_path %>
